
<div class="card"><!----------- Title Start ------------------------------>
  <h2 class="font-inter font-bold text-lg">Partners/Country</h2><!----------- Title End ------------------------------>
  <div class="table-container">
    <table>
      <thead>
        <th>Country</th>
        <th>
          <div class="text-left">Partners</div>
        </th>
      </thead>
      <tbody>
        <tr>
          <td>
            <div class="flex items-center gap-10px w-max h-40px"><img class="w-[25px] lg:w-[38px]" src="../assets/images/flags/Australia.svg" alt="country flag for Australia" loading="lazy" width="35" height="36"/>
              <div class="flex flex-col gap-5px"><span class="leading-[14px]">Australia</span><span class="text-textGray text-[13px] leading-[13px]">Asia Pacific</span></div>
            </div>
          </td>
          <td>
            <div class="text-left">
              <div class="flex items-start gap-10px w-max h-40px">
                <div class="flex flex-col gap-5px text-left"><span class="leading-[14px]">35</span><span class="text-textGray text-[13px] leading-[13px]">Partners</span></div>
              </div>
            </div>
          </td>
        </tr>
        <tr>
          <td>
            <div class="flex items-center gap-10px w-max h-40px"><img class="w-[25px] lg:w-[38px]" src="../assets/images/flags/United_States_of_America.svg" alt="country flag for United States" loading="lazy" width="35" height="36"/>
              <div class="flex flex-col gap-5px"><span class="leading-[14px]">United States</span><span class="text-textGray text-[13px] leading-[13px]">North America</span></div>
            </div>
          </td>
          <td>
            <div class="text-left">
              <div class="flex items-start gap-10px w-max h-40px">
                <div class="flex flex-col gap-5px text-left"><span class="leading-[14px]">35</span><span class="text-textGray text-[13px] leading-[13px]">Partners</span></div>
              </div>
            </div>
          </td>
        </tr>
        <tr>
          <td>
            <div class="flex items-center gap-10px w-max h-40px"><img class="w-[25px] lg:w-[38px]" src="../assets/images/flags/Australia.svg" alt="country flag for Canada" loading="lazy" width="35" height="36"/>
              <div class="flex flex-col gap-5px"><span class="leading-[14px]">Canada</span><span class="text-textGray text-[13px] leading-[13px]">North America</span></div>
            </div>
          </td>
          <td>
            <div class="text-left">
              <div class="flex items-start gap-10px w-max h-40px">
                <div class="flex flex-col gap-5px text-left"><span class="leading-[14px]">35</span><span class="text-textGray text-[13px] leading-[13px]">Partners</span></div>
              </div>
            </div>
          </td>
        </tr>
        <tr>
          <td>
            <div class="flex items-center gap-10px w-max h-40px"><img class="w-[25px] lg:w-[38px]" src="../assets/images/flags/Germany.svg" alt="country flag for Germany" loading="lazy" width="35" height="36"/>
              <div class="flex flex-col gap-5px"><span class="leading-[14px]">Germany</span><span class="text-textGray text-[13px] leading-[13px]">Europe</span></div>
            </div>
          </td>
          <td>
            <div class="text-left">
              <div class="flex items-start gap-10px w-max h-40px">
                <div class="flex flex-col gap-5px text-left"><span class="leading-[14px]">35</span><span class="text-textGray text-[13px] leading-[13px]">Partners</span></div>
              </div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>