
<div class="card">
  <div class="flex gap-15px flex-col w-full">
    <div class="flex items-center gap-10px justify-between w-full">
      <h2 class="font-inter font-bold text-lg">New Partners</h2><a class="text-blue hover:text-blueChart2 underline font-bold text-sm" href="#">View Partners</a>
    </div>
    <div class="table-container">
      <table>
        <thead>
          <th>Vendor</th>
          <th class="text-center">Date</th>
          <th>Actions</th>
        </thead>
        <tbody>
          <tr>
            <td>
              <div class="flex flex-col gap-5px w-max h-40px"><span class="leading-[14px]"></span><a class="text-blue text-[13px] leading-[13px]" href="#">View Partner Profile</a></div>
            </td>
            <td class="text-center text-xs">2023/04/15</td>
            <td>
              <div class="flex items-center justify-end gap-10px w-full h-40px relative cell-actions pr-15px"><a class="actions-trigger" href="#"><img src="../assets/images/global/dots-actions.svg" alt="dots icon"/></a>
                <div class="actions-content flex flex-col rounded-8px py-20px px-10px absolute top-0 right-0 bg-white shadow-card w-max text-left hidden z-1"><a class="hover:bg-gray hover:text-blue py-10px px-10px rounded-4px" href="../templates/channel-partner-partner-directory-manage-partner.html">Manage Partner</a><a class="hover:bg-gray hover:text-blue py-10px px-10px rounded-4px" href="../templates/channel-partner-collaboration.html">Chat with Partner</a><a class="hover:bg-gray hover:text-blue py-10px px-10px rounded-4px toast-demo" href="#" data-type="success">Delete Partner</a></div>
              </div>
            </td>
          </tr>
          <tr>
            <td>
              <div class="flex flex-col gap-5px w-max h-40px"><span class="leading-[14px]"></span><a class="text-blue text-[13px] leading-[13px]" href="#">View Partner Profile</a></div>
            </td>
            <td class="text-center text-xs">2023/04/15</td>
            <td>
              <div class="flex items-center justify-end gap-10px w-full h-40px relative cell-actions pr-15px"><a class="actions-trigger" href="#"><img src="../assets/images/global/dots-actions.svg" alt="dots icon"/></a>
                <div class="actions-content flex flex-col rounded-8px py-20px px-10px absolute top-0 right-0 bg-white shadow-card w-max text-left hidden z-1"><a class="hover:bg-gray hover:text-blue py-10px px-10px rounded-4px" href="../templates/channel-partner-partner-directory-manage-partner.html">Manage Partner</a><a class="hover:bg-gray hover:text-blue py-10px px-10px rounded-4px" href="../templates/channel-partner-collaboration.html">Chat with Partner</a><a class="hover:bg-gray hover:text-blue py-10px px-10px rounded-4px toast-demo" href="#" data-type="success">Delete Partner</a></div>
              </div>
            </td>
          </tr>
          <tr>
            <td>
              <div class="flex flex-col gap-5px w-max h-40px"><span class="leading-[14px]"></span><a class="text-blue text-[13px] leading-[13px]" href="#">View Partner Profile</a></div>
            </td>
            <td class="text-center text-xs">2023/04/15</td>
            <td>
              <div class="flex items-center justify-end gap-10px w-full h-40px relative cell-actions pr-15px"><a class="actions-trigger" href="#"><img src="../assets/images/global/dots-actions.svg" alt="dots icon"/></a>
                <div class="actions-content flex flex-col rounded-8px py-20px px-10px absolute top-0 right-0 bg-white shadow-card w-max text-left hidden z-1"><a class="hover:bg-gray hover:text-blue py-10px px-10px rounded-4px" href="../templates/channel-partner-partner-directory-manage-partner.html">Manage Partner</a><a class="hover:bg-gray hover:text-blue py-10px px-10px rounded-4px" href="../templates/channel-partner-collaboration.html">Chat with Partner</a><a class="hover:bg-gray hover:text-blue py-10px px-10px rounded-4px toast-demo" href="#" data-type="success">Delete Partner</a></div>
              </div>
            </td>
          </tr>
          <tr>
            <td>
              <div class="flex flex-col gap-5px w-max h-40px"><span class="leading-[14px]"></span><a class="text-blue text-[13px] leading-[13px]" href="#">View Partner Profile</a></div>
            </td>
            <td class="text-center text-xs">2023/04/15</td>
            <td>
              <div class="flex items-center justify-end gap-10px w-full h-40px relative cell-actions pr-15px"><a class="actions-trigger" href="#"><img src="../assets/images/global/dots-actions.svg" alt="dots icon"/></a>
                <div class="actions-content flex flex-col rounded-8px py-20px px-10px absolute top-0 right-0 bg-white shadow-card w-max text-left hidden z-1"><a class="hover:bg-gray hover:text-blue py-10px px-10px rounded-4px" href="../templates/channel-partner-partner-directory-manage-partner.html">Manage Partner</a><a class="hover:bg-gray hover:text-blue py-10px px-10px rounded-4px" href="../templates/channel-partner-collaboration.html">Chat with Partner</a><a class="hover:bg-gray hover:text-blue py-10px px-10px rounded-4px toast-demo" href="#" data-type="success">Delete Partner</a></div>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>