
<div class="card"><!----------- Title Start ------------------------------>
  <div class="w-full flex flex-col gap-15px">
    <h2 class="font-inter font-bold text-2xl">Tier Permissions</h2>
    <div class="divider"></div>
  </div><!----------- Title End ------------------------------>
  <div class="w-full grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-30px">
    <div class="flex flex-col gap-15px w-full">
      <div class="flex flex-col gap-5px w-full"><span class="text-base-15 font-bold">Deal Registration available for:</span><span class="text-textGray text-sm">Some description about this setting which is more or less the same length as this one which is around 113 chars.</span></div>
          <div class="bg-transparent font-semibold flex items-center gap-10px">
            <div class="flex gap-3px items-center">
              <input type="radio" id="Silver" name="deal_available_for" value="Silver"/>
              <label class="text-sm font-semibold">Silver</label>
            </div>
            <div class="flex gap-3px items-center">
              <input type="radio" id="Gold" name="deal_available_for" value="Gold"/>
              <label class="text-sm font-semibold">Gold</label>
            </div>
            <div class="flex gap-3px items-center">
              <input type="radio" id="Platinum" name="deal_available_for" value="Platinum"/>
              <label class="text-sm font-semibold">Platinum</label>
            </div>
          </div>
    </div>
    <div class="flex flex-col gap-15px w-full">
      <div class="flex flex-col gap-5px w-full"><span class="text-base-15 font-bold">Lead Distribution available for:</span><span class="text-textGray text-sm">Some description about this setting which is more or less the same length as this one which is around 113 chars.</span></div>
          <div class="bg-transparent font-semibold flex items-center gap-10px">
            <div class="flex gap-3px items-center">
              <input type="radio" id="Silver" name="deal_available_for" value="Silver"/>
              <label class="text-sm font-semibold">Silver</label>
            </div>
            <div class="flex gap-3px items-center">
              <input type="radio" id="Gold" name="deal_available_for" value="Gold"/>
              <label class="text-sm font-semibold">Gold</label>
            </div>
            <div class="flex gap-3px items-center">
              <input type="radio" id="Platinum" name="deal_available_for" value="Platinum"/>
              <label class="text-sm font-semibold">Platinum</label>
            </div>
          </div>
    </div>
  </div><a class="btn bg-blue border-blue text-white hover:bg-blueDark" href="#">Save Changes</a>
</div>