
<div class="card"><!----------- Title Start ------------------------------>
  <div class="w-full flex flex-col gap-15px">
    <h2 class="font-inter font-bold text-2xl">Search Criteria</h2>
    <div class="divider"></div>
  </div><!----------- Title End ------------------------------>
  <div class="w-full grid grid-cols-1 lg:grid-cols-3 gap-30px">
    <div class="flex flex-col gap-15px w-full text-sm connection-filter">
      <div class="flex flex-col gap-5px w-full"><span class="text-base-15 font-bold">Country:</span>
      </div>
      <div class="flex items-center gap-10px">
        <div class="border border-blackBlue text-blackBlue text-sm hover:border-blue focus:border-blue w-max rounded-30px px-15px h-[35px] outline-0 flex items-center gap-5px">
          <label class="text-textGray">Country:</label>
          <select class="bg-transparent font-semibold">
            <option value="United States">United States</option>
            <option value="Canada">Canada</option>
            <option value="Australia">Australia</option>
            <option value="Germany">Germany</option>
          </select>
        </div><a class="flex items center gap-5px" href="#"><img src="../assets/images/global/add-blue.svg" alt="Add Icon" title="Add Icon" width="17" height="17"/><span class="font-semibold text-blue">Add Country</span></a>
      </div>
      <div class="flex flex-col gap-5px">
        <label class="text-textGray">Selected:</label>
        <div class="flex items-center gap-10px flex-wrap">
          <div class="flex items center gap-5px"><span class="font-semibold">United States</span><img src="../assets/images/global/close-gray.svg" alt="Remove Icon" title="Remove Icon" width="17" height="17"/></div>
          <div class="flex items center gap-5px"><span class="font-semibold">Canada</span><img src="../assets/images/global/close-gray.svg" alt="Remove Icon" title="Remove Icon" width="17" height="17"/></div>
        </div>
      </div>
    </div>
    <div class="flex flex-col gap-15px w-full text-sm connection-filter">
      <div class="flex flex-col gap-5px w-full"><span class="text-base-15 font-bold">Select a Category:</span>
      </div>
      <div class="flex items-center gap-10px">
        <div class="border border-blackBlue text-blackBlue text-sm hover:border-blue focus:border-blue w-max rounded-30px px-15px h-[35px] outline-0 flex items-center gap-5px">
          <label class="text-textGray">Category:</label>
          <select class="bg-transparent font-semibold">
            <option value="IBM">IBM</option>
            <option value="IBM2">IBM2</option>
            <option value="IBM3">IBM3</option>
            <option value="IBM4">IBM4</option>
          </select>
        </div><a class="flex items center gap-5px" href="#"><img src="../assets/images/global/add-blue.svg" alt="Add Icon" title="Add Icon" width="17" height="17"/><span class="font-semibold text-blue">Add Category</span></a>
      </div>
      <div class="flex flex-col gap-5px">
        <label class="text-textGray">Selected:</label>
        <div class="flex items-center gap-10px flex-wrap">
          <div class="flex items center gap-5px"><span class="font-semibold">IBM</span><img src="../assets/images/global/close-gray.svg" alt="Remove Icon" title="Remove Icon" width="17" height="17"/></div>
        </div>
      </div>
    </div>
    <div class="flex flex-col gap-15px w-full text-sm connection-filter">
      <div class="flex flex-col gap-5px w-full"><span class="text-base-15 font-bold">Select a Product:</span>
      </div>
      <div class="flex items-center gap-10px">
        <div class="border border-blackBlue text-blackBlue text-sm hover:border-blue focus:border-blue w-max rounded-30px px-15px h-[35px] outline-0 flex items-center gap-5px">
          <label class="text-textGray">Product:</label>
          <select class="bg-transparent font-semibold">
            <option value="Bentley">Bentley</option>
            <option value="Bentley2">Bentley2</option>
            <option value="Bentley3">Bentley3</option>
            <option value="Bentley4">Bentley4</option>
          </select>
        </div><a class="flex items center gap-5px" href="#"><img src="../assets/images/global/add-blue.svg" alt="Add Icon" title="Add Icon" width="17" height="17"/><span class="font-semibold text-blue">Add Product</span></a>
      </div>
      <div class="flex flex-col gap-5px">
        <label class="text-textGray">Selected:</label>
        <div class="flex items-center gap-10px flex-wrap">
          <div class="flex items center gap-5px"><span class="font-semibold">Bentley</span><img src="../assets/images/global/close-gray.svg" alt="Remove Icon" title="Remove Icon" width="17" height="17"/></div>
        </div>
      </div>
    </div>
  </div>
</div>