
<div class="card"><!----------- Title Start ------------------------------>
  <div class="w-full flex flex-col gap-15px">
    <h2 class="font-inter font-bold text-2xl">Tier Settings</h2>
    <div class="divider"></div>
  </div><!----------- Title End ------------------------------>
  <div class="w-full grid grid-cols-1 lg:grid-cols-3 gap-30px">
    <div class="flex flex-col gap-15px w-full">
      <div class="flex flex-col gap-5px w-full"><span class="text-base-15 font-bold">Annual Sales:</span><span class="text-textGray text-sm">Some description about this setting which is more or less the same length as this one which is around 113 chars.</span></div>
      <label class="relative inline-flex items-center gap-5px cursor-pointer">
        <input class="sr-only peer" type="checkbox" value="" name="annual_sales"/>
        <div class="w-11 h-6 border-blackBlue border peer-focus:outline-none  rounded-full peer  peer-checked:after:translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[5px] after:left-[5px] after:bg-white after:border-blackBlue after:border after:rounded-full after:h-[15px] after:w-[15px] after:transition-all peer-checked:bg-blue peer-checked:border-blue"></div><span class="text-sm mb-2px font-semibold">Toggle to enable</span>
      </label>
    </div>
    <div class="flex flex-col gap-15px w-full">
      <div class="flex flex-col gap-5px w-full"><span class="text-base-15 font-bold">Total Revenues:</span><span class="text-textGray text-sm">Some description about this setting which is more or less the same length as this one which is around 113 chars.</span></div>
      <label class="relative inline-flex items-center gap-5px cursor-pointer">
        <input class="sr-only peer" type="checkbox" value="" name="total_revenues"/>
        <div class="w-11 h-6 border-blackBlue border peer-focus:outline-none  rounded-full peer  peer-checked:after:translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[5px] after:left-[5px] after:bg-white after:border-blackBlue after:border after:rounded-full after:h-[15px] after:w-[15px] after:transition-all peer-checked:bg-blue peer-checked:border-blue"></div><span class="text-sm mb-2px font-semibold">Toggle to enable</span>
      </label>
    </div>
    <div class="flex flex-col gap-15px w-full">
      <div class="flex flex-col gap-5px w-full"><span class="text-base-15 font-bold">Currency:</span><span class="text-textGray text-sm">Some description about this setting which is more or less the same length as this one which is around 113 chars.</span></div>
      <div class="border border-blackBlue text-blackBlue text-sm hover:border-blue focus:border-blue w-max rounded-30px px-15px h-[35px] outline-0 flex items-center gap-5px">
        <label class="text-textGray">Select a currency:</label>
            <select class="bg-transparent font-semibold">
              <option value="USD">USD</option>
              <option value="EUR">EUR</option>
              <option value="CAD">CAD</option>
            </select>
      </div>
    </div>
  </div><a class="btn bg-blue border-blue text-white hover:bg-blueDark" href="#">Save Changes</a>
</div>