
<div class="card"><!----------- Title Start ------------------------------>
  <h2 class="font-inter font-bold text-2xl">1. Select Vendors</h2><!----------- Title End ------------------------------>
<!----------- Filters Start ------------------------------>
  <div class="flex justify-between w-full overflow-hidden flex-col-reverse md:flex-row items-start md:items-center text-sm mdl:text-base-15">
    <div class="flex gap-15px flex-col md:flex-row md:gap-10px"><a class="hover:text-blue flex items-center gap-5px text-textGray font-semibold text-base-15 trigger-filters" href="#"><img src="../assets/images/global/filters.svg" alt="Filters Icon" title="Filters Icon" width="15" height="15"/><span class="text-sm sm:text-base-15">Partner Filters</span></a>
      <div class="filters flex hidden md:flex flex-col md:flex-row gap-10px md:gap-5px items-center text-textGray font-semibold text-base-15">
        <div class="card-filter w-full md:w-[380px]">
          <input class="grow text-sm outline-none" placeholder="Type a name, email, phone to search for a partner..."/><img src="../assets/images/global/search.svg" alt="Filters Icon" title="Filters Icon" width="15" height="15"/>
        </div>
        <div class="card-filter w-full md:w-max">
          <label class="w-max" for="dealsVendor">Select a country:</label>
          <select class="bg-transparent text-blackBlue font-bold" id="dealsVendor" name="dealsVendor">
            <option>No country selected</option>
            <option>United States</option>
          </select>
        </div>
      </div>
    </div>
  </div><!----------- Filters End ------------------------------>
  <div class="w-full grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-30px">
    <label class="flex items-start gap-10px  group px-15px py-10px transition-colors duration-200 border-2 border-iconGray hover:border-blue rounded-10px relative w-full cursor-pointer" for="Partner Name 1">
      <div class="flex items-start gap-10px grow"><img class="rounded-full transition-all duration-200 border-2 border-iconGray group-hover:border-blue" src="../assets/images/global/company.png" alt="Profile Image" title="Your profile image" width="35" height="35"/>
        <div class="flex flex-col gap-5px mb-5px"><span class="leading-[14px] font-semibold">Partner Name 1</span><a class="text-textGray text-[13px] leading-[13px]" href="#">8,723 Deals</a></div>
      </div>
      <input type="checkbox" id="Partner Name 1" name="selected_partners"/>
    </label>
    <label class="flex items-start gap-10px  group px-15px py-10px transition-colors duration-200 border-2 border-iconGray hover:border-blue rounded-10px relative w-full cursor-pointer" for="Partner Name 2">
      <div class="flex items-start gap-10px grow"><img class="rounded-full transition-all duration-200 border-2 border-iconGray group-hover:border-blue" src="../assets/images/global/company.png" alt="Profile Image" title="Your profile image" width="35" height="35"/>
        <div class="flex flex-col gap-5px mb-5px"><span class="leading-[14px] font-semibold">Partner Name 2</span><a class="text-textGray text-[13px] leading-[13px]" href="#">8,723 Deals</a></div>
      </div>
      <input type="checkbox" id="Partner Name 2" name="selected_partners"/>
    </label>
    <label class="flex items-start gap-10px  group px-15px py-10px transition-colors duration-200 border-2 border-iconGray hover:border-blue rounded-10px relative w-full cursor-pointer" for="Partner Name 3">
      <div class="flex items-start gap-10px grow"><img class="rounded-full transition-all duration-200 border-2 border-iconGray group-hover:border-blue" src="../assets/images/global/company.png" alt="Profile Image" title="Your profile image" width="35" height="35"/>
        <div class="flex flex-col gap-5px mb-5px"><span class="leading-[14px] font-semibold">Partner Name 3</span><a class="text-textGray text-[13px] leading-[13px]" href="#">2 Files</a></div>
      </div>
      <input type="checkbox" id="Partner Name 3" name="selected_partners"/>
    </label>
    <label class="flex items-start gap-10px  group px-15px py-10px transition-colors duration-200 border-2 border-iconGray hover:border-blue rounded-10px relative w-full cursor-pointer" for="Partner Name 4">
      <div class="flex items-start gap-10px grow"><img class="rounded-full transition-all duration-200 border-2 border-iconGray group-hover:border-blue" src="../assets/images/global/company.png" alt="Profile Image" title="Your profile image" width="35" height="35"/>
        <div class="flex flex-col gap-5px mb-5px"><span class="leading-[14px] font-semibold">Partner Name 4</span><a class="text-textGray text-[13px] leading-[13px]" href="#">3 Files</a></div>
      </div>
      <input type="checkbox" id="Partner Name 4" name="selected_partners"/>
    </label>
    <label class="flex items-start gap-10px  group px-15px py-10px transition-colors duration-200 border-2 border-iconGray hover:border-blue rounded-10px relative w-full cursor-pointer" for="Partner Name 5">
      <div class="flex items-start gap-10px grow"><img class="rounded-full transition-all duration-200 border-2 border-iconGray group-hover:border-blue" src="../assets/images/global/company.png" alt="Profile Image" title="Your profile image" width="35" height="35"/>
        <div class="flex flex-col gap-5px mb-5px"><span class="leading-[14px] font-semibold">Partner Name 5</span><a class="text-textGray text-[13px] leading-[13px]" href="#">8,723 Deals</a></div>
      </div>
      <input type="checkbox" id="Partner Name 5" name="selected_partners"/>
    </label>
    <label class="flex items-start gap-10px  group px-15px py-10px transition-colors duration-200 border-2 border-iconGray hover:border-blue rounded-10px relative w-full cursor-pointer" for="Partner Name 6">
      <div class="flex items-start gap-10px grow"><img class="rounded-full transition-all duration-200 border-2 border-iconGray group-hover:border-blue" src="../assets/images/global/company.png" alt="Profile Image" title="Your profile image" width="35" height="35"/>
        <div class="flex flex-col gap-5px mb-5px"><span class="leading-[14px] font-semibold">Partner Name 6</span><a class="text-textGray text-[13px] leading-[13px]" href="#">8,723 Deals</a></div>
      </div>
      <input type="checkbox" id="Partner Name 6" name="selected_partners"/>
    </label>
    <label class="flex items-start gap-10px  group px-15px py-10px transition-colors duration-200 border-2 border-iconGray hover:border-blue rounded-10px relative w-full cursor-pointer" for="Partner Name 7">
      <div class="flex items-start gap-10px grow"><img class="rounded-full transition-all duration-200 border-2 border-iconGray group-hover:border-blue" src="../assets/images/global/company.png" alt="Profile Image" title="Your profile image" width="35" height="35"/>
        <div class="flex flex-col gap-5px mb-5px"><span class="leading-[14px] font-semibold">Partner Name 7</span><a class="text-textGray text-[13px] leading-[13px]" href="#">2 Files</a></div>
      </div>
      <input type="checkbox" id="Partner Name 7" name="selected_partners"/>
    </label>
    <label class="flex items-start gap-10px  group px-15px py-10px transition-colors duration-200 border-2 border-iconGray hover:border-blue rounded-10px relative w-full cursor-pointer" for="Partner Name 8">
      <div class="flex items-start gap-10px grow"><img class="rounded-full transition-all duration-200 border-2 border-iconGray group-hover:border-blue" src="../assets/images/global/company.png" alt="Profile Image" title="Your profile image" width="35" height="35"/>
        <div class="flex flex-col gap-5px mb-5px"><span class="leading-[14px] font-semibold">Partner Name 8</span><a class="text-textGray text-[13px] leading-[13px]" href="#">3 Files</a></div>
      </div>
      <input type="checkbox" id="Partner Name 8" name="selected_partners"/>
    </label>
  </div>
  <div class="flex justify-between w-full"><a class="btn border-blackBlue bg-white text-blackBlue hover:text--blue hover:border-blue text-sm" href="#"><span>Load More Partners</span></a><a class="btn border-blue bg-blue text-white hover:bg-blueDark text-sm" href="#"><span>Continue</span></a></div>
</div>