
<div class="card gap-15px">
  <div class="flex flex-col gap-5px">
    <h2 class="font-inter font-semibold text-lg">Account Manager:</h2>
    <p class="text-textGray text-sm">Assign a member of your team as an account manager for this partner.</p>
  </div>
  <div class="flex flex-col gap-5px">
    <div class="border border-gray text-blackBlue text-sm hover:border-blue focus:border-blue w-max rounded-30px p-5px h-[40px] outline-0 flex items-center gap-5px"><img class="rounded-full" src="../assets/images/global/profile-image.png" alt="Profile Image" title="Your profile image" width="28" height="28"/>
      <label class="text-textGray">Select user:</label>
      <select class="bg-transparent font-semibold text-sm">
        <option value="user-1">Giannis Riganas</option>
        <option value="user-2">Giannis 2</option>
        <option value="user-3">Giannis 3</option>
      </select>
    </div><a class="text-blue underline text-sm font-semibold" href="#">View Team</a>
  </div>
</div>