
<div class="card"><!----------- Title Start ------------------------------>
  <h2 class="font-inter font-bold text-base lg:text-lg">Transaction History</h2><!----------- Title End ------------------------------>
  <div class="table-container">
    <table>
      <thead>
        <th>Subscription</th>
        <th>Service</th>
        <th>Status</th>
        <th>
          <div class="text-center">Date Created</div>
        </th>
        <th>
          <div class="text-center">Amount</div>
        </th>
        <th>
          <div class="text-left">Download Invoice</div>
        </th>
      </thead>
      <tbody>
        <tr>
          <td>Startup Plan</td>
          <td>
            <div class="w-max">Partner Recruitment - Automate</div>
          </td>
          <td>
            <div class="flex items-center gap-5px w-max">
              <div class="w-[12px] h-[12px] rounded-full bg-green"></div>
              <div class="flex flex-col gap-5px lead-[14px]">Active & Paid</div>
            </div>
          </td>
          <td class="text-center">
            <div class="w-max">2023/04/15</div>
          </td>
          <td class="text-center">
            <div class="w-max">$298</div>
          </td>
          <td class="flex justify-start"><a class="text-blue w-max" href="#">Eacmonsen_virtual-0015.pdf</a></td>
        </tr>
        <tr>
          <td>Startup Plan</td>
          <td>
            <div class="w-max">Partner Recruitment - Automate</div>
          </td>
          <td>
            <div class="flex items-center gap-5px w-max">
              <div class="w-[12px] h-[12px] rounded-full bg-green"></div>
              <div class="flex flex-col gap-5px lead-[14px]">Active & Paid</div>
            </div>
          </td>
          <td class="text-center">
            <div class="w-max">2023/04/15</div>
          </td>
          <td class="text-center">
            <div class="w-max"> $298</div>
          </td>
          <td class="flex justify-start"><a class="text-blue w-max" href="#">Eacmonsen_virtual-0015.pdf</a></td>
        </tr>
        <tr>
          <td>Startup Plan</td>
          <td>
            <div class="w-max">Partner Recruitment - Database</div>
          </td>
          <td>
            <div class="flex items-center gap-5px w-max">
              <div class="w-[12px] h-[12px] rounded-full bg-green"></div>
              <div class="flex flex-col gap-5px lead-[14px]">Active & Paid</div>
            </div>
          </td>
          <td class="text-center">
            <div class="w-max"> 2023/04/15</div>
          </td>
          <td class="text-center">
            <div class="w-max"> $298</div>
          </td>
          <td class="flex justify-start"><a class="text-blue w-max" href="#">Eacmonsen_virtual-0015.pdf</a></td>
        </tr>
        <tr>
          <td>Startup Plan</td>
          <td>
            <div class="w-max">Partner Relationship Management</div>
          </td>
          <td>
            <div class="flex items-center gap-5px w-max">
              <div class="w-[12px] h-[12px] rounded-full bg-green"></div>
              <div class="flex flex-col gap-5px lead-[14px]">Active & Paid</div>
            </div>
          </td>
          <td class="text-center">
            <div class="w-max">2023/04/15</div>
          </td>
          <td class="text-center">
            <div class="w-max">$298</div>
          </td>
          <td class="flex justify-start"><a class="text-blue w-max" href="#">Eacmonsen_virtual-0015.pdf</a></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>