
<div class="card">
  <div class="flex gap-15px flex-col w-full">
    <h2 class="font-inter font-bold text-lg">Newsfeed & Notifications</h2>
    <div class="divider"></div>
  </div>
  <div class="flex gap-15px flex-col w-full">
    <div class="flex items-start text-textGray font-semibold gap-20px pt-0 sm:pt-10px"><a class="tab-item active" href="#all">All</a><a class="tab-item" href="#posts">Posts</a><a class="tab-item" href="#leads">Leads</a><a class="tab-item" href="#deals">Deals</a><a class="tab-item" href="#requests">Requests</a><a class="tab-item" href="#messages">Messages</a><a class="tab-item" href="#inbox">Inbox</a><a class="tab-item" href="#files">Files</a><a class="tab-item" href="#commissions">Commissions</a><a class="tab-item" href="#payouts">Payouts</a></div>
  </div>
  <div class="flex flex-col gap-25px rounded-12px border border-gray p-25px">
    <div class="flex justify-between items-center">
      <div class="flex items-start gap-10px w-max h-40px"><img class="rounded-full border border-blackBlue" src="../assets/images/global/company.png" alt="Profile Image" title="Your profile image" width="35" height="35"/>
        <div class="flex flex-col gap-5px mb-5px"><span class="text-sm font-semibold leading-[13px]">Partner Name 1</span><a class="text-blue text-sm leading-[13px]" href="#">View Partner Profile</a></div>
      </div>
      <div class="flex flex-col text-right text-sm"><span class="font-semibold">Vendor Posts</span><span class="text-textGray italic">2023/05/21 14:32 pm</span></div>
    </div>
    <p>Hi everyone, get ready for some new updates on our product. We’ll be updating the content library this week with all the material you need.
    </p>
  </div>
  <div class="flex flex-col gap-25px rounded-12px border border-gray p-25px">
    <div class="flex justify-between items-center">
      <div class="flex items-start gap-10px w-max h-40px"><img class="rounded-full border border-blackBlue" src="../assets/images/global/company-2.png" alt="Profile Image" title="Your profile image" width="35" height="35"/>
        <div class="flex flex-col gap-5px mb-5px"><span class="text-sm font-semibold leading-[13px]">Partner Name 2</span><a class="text-blue text-sm leading-[13px]" href="#">View Partner Profile</a></div>
      </div>
      <div class="flex flex-col text-right text-sm"><span class="font-semibold">Deal Registration</span><span class="text-textGray italic">2023/05/21 14:32 pm</span></div>
    </div>
    <p>A new deal has been added by your channel partner Partner Name 2 at 21/05/23, view the deal details and accept or reject the deal.<a class="font-semibold text-blue inline" href="#">View Deal</a>
    </p>
  </div>
  <div class="flex flex-col gap-25px rounded-12px border border-gray p-25px">
    <div class="flex justify-between items-center">
      <div class="flex items-start gap-10px w-max h-40px"><img class="rounded-full border border-blackBlue" src="../assets/images/global/company-3.png" alt="Profile Image" title="Your profile image" width="35" height="35"/>
        <div class="flex flex-col gap-5px mb-5px"><span class="text-sm font-semibold leading-[13px]">Partner Name 3</span><a class="text-blue text-sm leading-[13px]" href="#">View Partner Profile</a></div>
      </div>
      <div class="flex flex-col text-right text-sm"><span class="font-semibold">Lead Distribution</span><span class="text-textGray italic">2023/05/21 14:32 pm</span></div>
    </div>
    <p>A new lead has been added by your channel partner Partner Name 1 at 21/05/23, view the lead details and accept or reject the lead.<a class="font-semibold text-blue inline" href="#">View Lead</a>
    </p>
  </div>
  <div class="flex flex-col gap-25px rounded-12px border border-gray p-25px">
    <div class="flex justify-between items-center">
      <div class="flex items-start gap-10px w-max h-40px"><img class="rounded-full border border-blackBlue" src="../assets/images/global/company-2.png" alt="Profile Image" title="Your profile image" width="35" height="35"/>
        <div class="flex flex-col gap-5px mb-5px"><span class="text-sm font-semibold leading-[13px]">Partner Name 2</span><a class="text-blue text-sm leading-[13px]" href="#">View Partner Profile</a></div>
      </div>
      <div class="flex flex-col text-right text-sm"><span class="font-semibold">Requests</span><span class="text-textGray italic">2023/05/21 14:32 pm</span></div>
    </div>
    <p>You have a new pending request from channel partner Partner Name 3 to join your network, view the partner profile and accept or reject their request for partnership.<a class="font-semibold text-blue inline" href="#">View Request</a>
    </p>
  </div>
  <div class="flex flex-col gap-25px rounded-12px border border-gray p-25px">
    <div class="flex justify-between items-center">
      <div class="flex items-start gap-10px w-max h-40px"><img class="rounded-full border border-blackBlue" src="../assets/images/global/company-4.png" alt="Profile Image" title="Your profile image" width="35" height="35"/>
        <div class="flex flex-col gap-5px mb-5px"><span class="text-sm font-semibold leading-[13px]">Partner Name 4</span><a class="text-blue text-sm leading-[13px]" href="#">View Partner Profile</a></div>
      </div>
      <div class="flex flex-col text-right text-sm"><span class="font-semibold">Call Messages</span><span class="text-textGray italic">2023/05/21 14:32 pm</span></div>
    </div>
    <p>You have a new call message from your channel partner Partner Name 3, view your partner’s message and respond with a reply.<a class="font-semibold text-blue inline" href="#">View Message</a>
    </p>
  </div>
  <div class="flex flex-col gap-25px rounded-12px border border-gray p-25px">
    <div class="flex justify-between items-center">
      <div class="flex items-start gap-10px w-max h-40px"><img class="rounded-full border border-blackBlue" src="../assets/images/global/company-5.png" alt="Profile Image" title="Your profile image" width="35" height="35"/>
        <div class="flex flex-col gap-5px mb-5px"><span class="text-sm font-semibold leading-[13px]">Partner Name 5</span><a class="text-blue text-sm leading-[13px]" href="#">View Partner Profile</a></div>
      </div>
      <div class="flex flex-col text-right text-sm"><span class="font-semibold">Inbox Messages</span><span class="text-textGray italic">2023/05/21 14:32 pm</span></div>
    </div>
    <p>You have a new email message on your inbox from your channel partner Partner Name 4, view your partner’s message and respond with a reply.<a class="font-semibold text-blue inline" href="#">View Message</a>
    </p>
  </div>
  <div class="flex flex-col gap-25px rounded-12px border border-gray p-25px">
    <div class="flex justify-between items-center">
      <div class="flex items-start gap-10px w-max h-40px"><img class="rounded-full border border-blackBlue" src="../assets/images/global/company.png" alt="Profile Image" title="Your profile image" width="35" height="35"/>
        <div class="flex flex-col gap-5px mb-5px"><span class="text-sm font-semibold leading-[13px]">Partner Name 1</span><a class="text-blue text-sm leading-[13px]" href="#">View Partner Profile</a></div>
      </div>
      <div class="flex flex-col text-right text-sm"><span class="font-semibold">Files</span><span class="text-textGray italic">2023/05/21 14:32 pm</span></div>
    </div>
    <p>Your channel partner Partner Name 1 has uploaded a new file on the content library, view the file and download it.<a class="font-semibold text-blue inline" href="#">View File</a>
    </p>
  </div>
</div>