
<div class="flex gap-15px flex-col lg:flex-row md:gap-10px"><a class="hover:text-blue flex items-center gap-5px text-textGray font-semibold text-base-15 trigger-filters" href="#"><img src="../assets/images/global/filters.svg" alt="Filters Icon" title="Filters Icon" width="15" height="15"/><span class="text-sm sm:text-base-15">Partner Filters</span></a>
  <div class="filters flex hidden md:flex flex-col md:flex-row gap-10px md:gap-5px items-center text-textGray font-semibold text-base-15">
    <div class="card-filter w-full mdl:w-[380px]">
      <input class="grow text-sm outline-none" placeholder="Type a name, email, phone to search for a partner..."/><img src="../assets/images/global/search.svg" alt="Filters Icon" title="Filters Icon" width="15" height="15"/>
    </div>
    <div class="card-filter w-full md:w-max">
      <label class="w-max" for="dealsVendor">Select a vendor:</label>
      <select class="bg-transparent text-blackBlue font-bold" id="dealsVendor" name="dealsVendor">
        <option>No vendor selected</option>
        <option>Channel Partners</option>
      </select>
    </div>
  </div>
</div>