
<div class="card flex-col sm:flex-row sm:items-center xl:items-start xl:flex-col"><!----------- Title Start ------------------------------>
  <div class="w-max flex flex-col gap-5px">
    <h4 class="text-base-15 text-textGray w-max">Team Overview:</h4>
    <h2 class="font-inter font-bold text-2xl w-max">2 Members</h2>
  </div><!----------- Title End ------------------------------>
  <div class="w-full flex flex-col gap-10px">
    <h4 class="text-base-15 text-textGray">Invitations:</h4>
    <div class="w-full gap-15px flex flex-col sm:flex-row sm:items-center">
      <div class="flex gap-5px items-center">
        <div class="w-[10px] h-[10px] rounded-full bg-green "></div>
        <div class="text-sm font-semibold">2 Confirmed</div>
      </div>
      <div class="flex gap-5px items-center">
        <div class="w-[10px] h-[10px] rounded-full bg-yellow "></div>
        <div class="text-sm font-semibold">3 Pending</div>
      </div>
      <div class="flex gap-5px items-center">
        <div class="w-[10px] h-[10px] rounded-full bg-red "></div>
        <div class="text-sm font-semibold">1 Declined</div>
      </div>
    </div>
  </div>
</div>