
<div class="card">
  <h2 class="font-inter font-bold text-2xl">3. Fill in the Deal Details</h2>
  <div class="w-full grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-y-30px gap-x-80px">
    <div class="flex flex-col gap-15px w-full">
      <div class="flex flex-col gap-5px w-full"><span class="text-base-15 font-bold">First name:</span><span class="text-textGray text-sm">Some short description about this setting.</span>
      </div>
      <input class="border border-blackBlue text-blackBlue text-sm hover:border-blue focus:border-blue w-full rounded-30px px-15px h-[35px] outline-0" placeholder="Enter your first name..."/>
    </div>
    <div class="flex flex-col gap-15px w-full">
      <div class="flex flex-col gap-5px w-full"><span class="text-base-15 font-bold">Last name:</span><span class="text-textGray text-sm">Some short description about this setting.</span>
      </div>
      <input class="border border-blackBlue text-blackBlue text-sm hover:border-blue focus:border-blue w-full rounded-30px px-15px h-[35px] outline-0" placeholder="Enter your last name..."/>
    </div>
    <div class="flex flex-col gap-15px w-full">
      <div class="flex flex-col gap-5px w-full"><span class="text-base-15 font-bold">Company name:</span><span class="text-textGray text-sm">Some short description about this setting.</span>
      </div>
      <input class="border border-blackBlue text-blackBlue text-sm hover:border-blue focus:border-blue w-full rounded-30px px-15px h-[35px] outline-0" placeholder="Enter your company name..."/>
    </div>
    <div class="flex flex-col gap-15px w-full">
      <div class="flex flex-col gap-5px w-full"><span class="text-base-15 font-bold">Email address:</span><span class="text-textGray text-sm">Some short description about this setting.</span>
      </div>
      <input class="border border-blackBlue text-blackBlue text-sm hover:border-blue focus:border-blue w-full rounded-30px px-15px h-[35px] outline-0" placeholder="Enter the client email address..."/>
    </div>
    <div class="flex flex-col gap-15px w-full">
      <div class="flex flex-col gap-5px w-full"><span class="text-base-15 font-bold">Phone:</span><span class="text-textGray text-sm">Some short description about this setting.</span>
      </div>
      <input class="border border-blackBlue text-blackBlue text-sm hover:border-blue focus:border-blue w-full rounded-30px px-15px h-[35px] outline-0" placeholder="Enter your phone..."/>
    </div>
    <div class="flex flex-col gap-15px w-full">
      <div class="flex flex-col gap-5px w-full"><span class="text-base-15 font-bold">Website:</span><span class="text-textGray text-sm">Some short description about this setting.</span>
      </div>
      <input class="border border-blackBlue text-blackBlue text-sm hover:border-blue focus:border-blue w-full rounded-30px px-15px h-[35px] outline-0" placeholder="Enter your website..."/>
    </div>
    <div class="flex flex-col gap-15px w-full">
      <div class="flex flex-col gap-5px w-full"><span class="text-base-15 font-bold">Location/Address:</span><span class="text-textGray text-sm">Some short description about this setting.</span>
      </div>
      <input class="border border-blackBlue text-blackBlue text-sm hover:border-blue focus:border-blue w-full rounded-30px px-15px h-[35px] outline-0" placeholder="Enter the client email address..."/>
    </div>
    <div class="flex flex-col gap-15px w-full">
      <div class="flex flex-col gap-5px w-full"><span class="text-base-15 font-bold">Product:</span><span class="text-textGray text-sm">Some short description about this setting.</span>
      </div>
      <input class="border border-blackBlue text-blackBlue text-sm hover:border-blue focus:border-blue w-full rounded-30px px-15px h-[35px] outline-0" placeholder="Enter your phone..."/>
    </div>
    <div class="flex flex-col gap-15px w-full">
      <div class="flex flex-col gap-5px w-full"><span class="text-base-15 font-bold">Forecast:</span><span class="text-textGray text-sm">Some short description about this setting.</span>
      </div>
      <div class="border border-blackBlue text-blackBlue text-sm hover:border-blue focus:border-blue w-max rounded-30px px-15px h-[35px] outline-0 flex items-center gap-5px">
        <label class="text-textGray">Forecasting:</label>
            <select class="bg-transparent font-semibold">
              <option value="Unknown">Unknown</option>
              <option value="Won">Won</option>
              <option value="Lost">Lost</option>
            </select>
      </div>
    </div>
    <div class="flex flex-col gap-15px w-full">
      <div class="flex flex-col gap-5px w-full"><span class="text-base-15 font-bold">Amount:</span><span class="text-textGray text-sm">Some short description about this setting.</span>
      </div>
      <div class="border border-blackBlue text-blackBlue text-sm hover:border-blue focus:border-blue w-max rounded-30px px-15px h-[35px] outline-0 flex items-center gap-5px">
        <label class="text-textGray">Type the amount:</label>
        <input class="bg-transparent font-semibold w-[100px]" type="number" value="125000"/>
      </div>
    </div>
    <div class="flex flex-col gap-15px w-full">
      <div class="flex flex-col gap-5px w-full"><span class="text-base-15 font-bold">Currency:</span><span class="text-textGray text-sm">Some short description about this setting.</span>
      </div>
      <div class="border border-blackBlue text-blackBlue text-sm hover:border-blue focus:border-blue w-max rounded-30px px-15px h-[35px] outline-0 flex items-center gap-5px">
        <label class="text-textGray">Forecasting:</label>
            <select class="bg-transparent font-semibold">
              <option value="$USD">$USD</option>
              <option value="EUR">EUR</option>
              <option value="CAD">CAD</option>
            </select>
      </div>
    </div>
    <div class="flex flex-col gap-15px w-full">
      <div class="flex flex-col gap-5px w-full"><span class="text-base-15 font-bold">Expected closed date of deal:</span><span class="text-textGray text-sm">Some short description about this setting.</span>
      </div>
      <div class="border border-blackBlue text-blackBlue text-sm hover:border-blue focus:border-blue w-max rounded-30px px-15px h-[35px] outline-0 flex items-center gap-5px">
        <label class="text-textGray">Select a date:</label>
        <input class="bg-transparent font-semibold grow" type="date" value="2023/01/01"/>
      </div>
    </div>
  </div>
  <div class="flex flex-col gap-15px w-full">
    <div class="flex flex-col gap-5px w-full"><span class="text-base-15 font-bold">Comments:</span><span class="text-textGray text-sm">Some short description about this setting.</span>
    </div>
    <textarea class="border border-blackBlue text-blackBlue text-sm hover:border-blue focus:border-blue w-full rounded-12px px-15px py-15px h-[75px] outline-0" placeholder="Type any comments about the lead here..."></textarea>
  </div>
  <div class="flex justify-between w-full"><a class="btn border-blackBlue bg-white text-blackBlue hover:text--blue hover:border-blue text-sm" href="#"><span>Clear Fields</span></a><a class="btn border-blue bg-blue text-white hover:bg-blueDark text-sm" href="#"><span>Add New Deal</span></a></div>
</div>