
<div class="card">
  <h2 class="font-inter font-bold text-base mdl:text-2xl">Role Permissions</h2>
  <div class="flex justify-between tabs w-full overflow-x-auto text-sm mdl:text-base-15">
    <div class="flex items-start text-textGray font-semibold gap-20px pt-0 sm:pt-10px w-max"><a class="tab-item active" href="#marketing">Marketing</a><a class="tab-item" href="#sales">Sales</a><a class="tab-item w-max" href="#channelManager">Channel Manager</a><a class="tab-item w-max" href="#channelManager">Business Development</a><a class="tab-item" href="#channelManager">Admin</a><a class="tab-item" href="#channelManager">CFO</a><a class="tab-item" href="#channelManager">CTO</a><a class="tab-item" href="#channelManager">CEO</a><a class="tab-item" href="#channelManager">Test</a></div>
  </div>
  <div class="tab-content" id="marketing">
    <div class="table-container">
      <table>
        <thead>
          <th>
            <div class="w-max">Permission Actions</div>
          </th>
          <th class="text-center">View</th>
          <th class="text-center">Add</th>
          <th class="text-center">Edit</th>
          <th class="text-center">Delete</th>
          <th class="text-center">Invite</th>
          <th class="text-center">Assign</th>
          <th>
            <div class="w-full text-center">Upload</div>
          </th>
        </thead>
        <tbody>
          <tr>
            <td>
              <div class="w-max">Deal Registration</div>
            </td>
            <td>
              <div class="flex items-center justify-center gap-10px w-full h-40px">
                <input type="checkbox" id="partnerID" name="partner_requests"/>
              </div>
            </td>
            <td>
              <div class="flex items-center justify-center gap-10px w-full h-40px">
                <input type="checkbox" id="partnerID" name="partner_requests"/>
              </div>
            </td>
            <td>
              <div class="flex items-center justify-center gap-10px w-full h-40px">
                <input type="checkbox" id="partnerID" name="partner_requests"/>
              </div>
            </td>
            <td>
              <div class="flex items-center justify-center gap-10px w-full h-40px">
                <input type="checkbox" id="partnerID" name="partner_requests"/>
              </div>
            </td>
            <td>
              <div class="flex items-center justify-center gap-10px w-full h-40px">
                <input type="checkbox" id="partnerID" name="partner_requests"/>
              </div>
            </td>
            <td>
              <div class="flex items-center justify-center gap-10px w-full h-40px">
                <input type="checkbox" id="partnerID" name="partner_requests"/>
              </div>
            </td>
            <td>
              <div class="flex items-center justify-center gap-10px w-full h-40px">
                <input type="checkbox" id="partnerID" name="partner_requests"/>
              </div>
            </td>
          </tr>
          <tr>
            <td>
              <div class="w-max"> Lead Distribution</div>
            </td>
            <td>
              <div class="flex items-center justify-center gap-10px w-full h-40px">
                <input type="checkbox" id="partnerID" name="partner_requests"/>
              </div>
            </td>
            <td>
              <div class="flex items-center justify-center gap-10px w-full h-40px">
                <input type="checkbox" id="partnerID" name="partner_requests"/>
              </div>
            </td>
            <td>
              <div class="flex items-center justify-center gap-10px w-full h-40px">
                <input type="checkbox" id="partnerID" name="partner_requests"/>
              </div>
            </td>
            <td>
              <div class="flex items-center justify-center gap-10px w-full h-40px">
                <input type="checkbox" id="partnerID" name="partner_requests"/>
              </div>
            </td>
            <td>
              <div class="flex items-center justify-center gap-10px w-full h-40px">
                <input type="checkbox" id="partnerID" name="partner_requests"/>
              </div>
            </td>
            <td>
              <div class="flex items-center justify-center gap-10px w-full h-40px">
                <input type="checkbox" id="partnerID" name="partner_requests"/>
              </div>
            </td>
            <td>
              <div class="flex items-center justify-center gap-10px w-full h-40px">
                <input type="checkbox" id="partnerID" name="partner_requests"/>
              </div>
            </td>
          </tr>
          <tr>
            <td>
              <div class="w-max"> Team Member</div>
            </td>
            <td>
              <div class="flex items-center justify-center gap-10px w-full h-40px">
                <input type="checkbox" id="partnerID" name="partner_requests"/>
              </div>
            </td>
            <td>
              <div class="flex items-center justify-center gap-10px w-full h-40px">
                <input type="checkbox" id="partnerID" name="partner_requests"/>
              </div>
            </td>
            <td>
              <div class="flex items-center justify-center gap-10px w-full h-40px">
                <input type="checkbox" id="partnerID" name="partner_requests"/>
              </div>
            </td>
            <td>
              <div class="flex items-center justify-center gap-10px w-full h-40px">
                <input type="checkbox" id="partnerID" name="partner_requests"/>
              </div>
            </td>
            <td>
              <div class="flex items-center justify-center gap-10px w-full h-40px">
                <input type="checkbox" id="partnerID" name="partner_requests"/>
              </div>
            </td>
            <td>
              <div class="flex items-center justify-center gap-10px w-full h-40px">
                <input type="checkbox" id="partnerID" name="partner_requests"/>
              </div>
            </td>
            <td>
              <div class="flex items-center justify-center gap-10px w-full h-40px">
                <input type="checkbox" id="partnerID" name="partner_requests"/>
              </div>
            </td>
          </tr>
          <tr>
            <td>
              <div class="w-max">Manage Partner</div>
            </td>
            <td>
              <div class="flex items-center justify-center gap-10px w-full h-40px">
                <input type="checkbox" id="partnerID" name="partner_requests"/>
              </div>
            </td>
            <td>
              <div class="flex items-center justify-center gap-10px w-full h-40px">
                <input type="checkbox" id="partnerID" name="partner_requests"/>
              </div>
            </td>
            <td>
              <div class="flex items-center justify-center gap-10px w-full h-40px">
                <input type="checkbox" id="partnerID" name="partner_requests"/>
              </div>
            </td>
            <td>
              <div class="flex items-center justify-center gap-10px w-full h-40px">
                <input type="checkbox" id="partnerID" name="partner_requests"/>
              </div>
            </td>
            <td>
              <div class="flex items-center justify-center gap-10px w-full h-40px">
                <input type="checkbox" id="partnerID" name="partner_requests"/>
              </div>
            </td>
            <td>
              <div class="flex items-center justify-center gap-10px w-full h-40px">
                <input type="checkbox" id="partnerID" name="partner_requests"/>
              </div>
            </td>
            <td>
              <div class="flex items-center justify-center gap-10px w-full h-40px">
                <input type="checkbox" id="partnerID" name="partner_requests"/>
              </div>
            </td>
          </tr>
          <tr>
            <td>
              <div class="w-max"> Manage Tier</div>
            </td>
            <td>
              <div class="flex items-center justify-center gap-10px w-full h-40px">
                <input type="checkbox" id="partnerID" name="partner_requests"/>
              </div>
            </td>
            <td>
              <div class="flex items-center justify-center gap-10px w-full h-40px">
                <input type="checkbox" id="partnerID" name="partner_requests"/>
              </div>
            </td>
            <td>
              <div class="flex items-center justify-center gap-10px w-full h-40px">
                <input type="checkbox" id="partnerID" name="partner_requests"/>
              </div>
            </td>
            <td>
              <div class="flex items-center justify-center gap-10px w-full h-40px">
                <input type="checkbox" id="partnerID" name="partner_requests"/>
              </div>
            </td>
            <td>
              <div class="flex items-center justify-center gap-10px w-full h-40px">
                <input type="checkbox" id="partnerID" name="partner_requests"/>
              </div>
            </td>
            <td>
              <div class="flex items-center justify-center gap-10px w-full h-40px">
                <input type="checkbox" id="partnerID" name="partner_requests"/>
              </div>
            </td>
            <td>
              <div class="flex items-center justify-center gap-10px w-full h-40px">
                <input type="checkbox" id="partnerID" name="partner_requests"/>
              </div>
            </td>
          </tr>
          <tr>
            <td>
              <div class="w-max"> Partner Onboarding</div>
            </td>
            <td>
              <div class="flex items-center justify-center gap-10px w-full h-40px">
                <input type="checkbox" id="partnerID" name="partner_requests"/>
              </div>
            </td>
            <td>
              <div class="flex items-center justify-center gap-10px w-full h-40px">
                <input type="checkbox" id="partnerID" name="partner_requests"/>
              </div>
            </td>
            <td>
              <div class="flex items-center justify-center gap-10px w-full h-40px">
                <input type="checkbox" id="partnerID" name="partner_requests"/>
              </div>
            </td>
            <td>
              <div class="flex items-center justify-center gap-10px w-full h-40px">
                <input type="checkbox" id="partnerID" name="partner_requests"/>
              </div>
            </td>
            <td>
              <div class="flex items-center justify-center gap-10px w-full h-40px">
                <input type="checkbox" id="partnerID" name="partner_requests"/>
              </div>
            </td>
            <td>
              <div class="flex items-center justify-center gap-10px w-full h-40px">
                <input type="checkbox" id="partnerID" name="partner_requests"/>
              </div>
            </td>
            <td>
              <div class="flex items-center justify-center gap-10px w-full h-40px">
                <input type="checkbox" id="partnerID" name="partner_requests"/>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="tab-content hidden" id="sales">
    <div class="table-container">
      <table>
        <thead>
          <th>
            <div class="w-max">Permission Actions</div>
          </th>
          <th class="text-center">View</th>
          <th class="text-center">Add</th>
          <th class="text-center">Edit</th>
          <th class="text-center">Delete</th>
          <th class="text-center">Invite</th>
          <th class="text-center">Assign</th>
          <th>
            <div class="w-full text-center">Upload</div>
          </th>
        </thead>
        <tbody>
          <tr>
            <td>
              <div class="w-max">Deal Registration</div>
            </td>
            <td>
              <div class="flex items-center justify-center gap-10px w-full h-40px">
                <input type="checkbox" id="partnerID" name="partner_requests"/>
              </div>
            </td>
            <td>
              <div class="flex items-center justify-center gap-10px w-full h-40px">
                <input type="checkbox" id="partnerID" name="partner_requests"/>
              </div>
            </td>
            <td>
              <div class="flex items-center justify-center gap-10px w-full h-40px">
                <input type="checkbox" id="partnerID" name="partner_requests"/>
              </div>
            </td>
            <td>
              <div class="flex items-center justify-center gap-10px w-full h-40px">
                <input type="checkbox" id="partnerID" name="partner_requests"/>
              </div>
            </td>
            <td>
              <div class="flex items-center justify-center gap-10px w-full h-40px">
                <input type="checkbox" id="partnerID" name="partner_requests"/>
              </div>
            </td>
            <td>
              <div class="flex items-center justify-center gap-10px w-full h-40px">
                <input type="checkbox" id="partnerID" name="partner_requests"/>
              </div>
            </td>
            <td>
              <div class="flex items-center justify-center gap-10px w-full h-40px">
                <input type="checkbox" id="partnerID" name="partner_requests"/>
              </div>
            </td>
          </tr>
          <tr>
            <td>
              <div class="w-max"> Lead Distribution</div>
            </td>
            <td>
              <div class="flex items-center justify-center gap-10px w-full h-40px">
                <input type="checkbox" id="partnerID" name="partner_requests"/>
              </div>
            </td>
            <td>
              <div class="flex items-center justify-center gap-10px w-full h-40px">
                <input type="checkbox" id="partnerID" name="partner_requests"/>
              </div>
            </td>
            <td>
              <div class="flex items-center justify-center gap-10px w-full h-40px">
                <input type="checkbox" id="partnerID" name="partner_requests"/>
              </div>
            </td>
            <td>
              <div class="flex items-center justify-center gap-10px w-full h-40px">
                <input type="checkbox" id="partnerID" name="partner_requests"/>
              </div>
            </td>
            <td>
              <div class="flex items-center justify-center gap-10px w-full h-40px">
                <input type="checkbox" id="partnerID" name="partner_requests"/>
              </div>
            </td>
            <td>
              <div class="flex items-center justify-center gap-10px w-full h-40px">
                <input type="checkbox" id="partnerID" name="partner_requests"/>
              </div>
            </td>
            <td>
              <div class="flex items-center justify-center gap-10px w-full h-40px">
                <input type="checkbox" id="partnerID" name="partner_requests"/>
              </div>
            </td>
          </tr>
          <tr>
            <td>
              <div class="w-max"> Team Member</div>
            </td>
            <td>
              <div class="flex items-center justify-center gap-10px w-full h-40px">
                <input type="checkbox" id="partnerID" name="partner_requests"/>
              </div>
            </td>
            <td>
              <div class="flex items-center justify-center gap-10px w-full h-40px">
                <input type="checkbox" id="partnerID" name="partner_requests"/>
              </div>
            </td>
            <td>
              <div class="flex items-center justify-center gap-10px w-full h-40px">
                <input type="checkbox" id="partnerID" name="partner_requests"/>
              </div>
            </td>
            <td>
              <div class="flex items-center justify-center gap-10px w-full h-40px">
                <input type="checkbox" id="partnerID" name="partner_requests"/>
              </div>
            </td>
            <td>
              <div class="flex items-center justify-center gap-10px w-full h-40px">
                <input type="checkbox" id="partnerID" name="partner_requests"/>
              </div>
            </td>
            <td>
              <div class="flex items-center justify-center gap-10px w-full h-40px">
                <input type="checkbox" id="partnerID" name="partner_requests"/>
              </div>
            </td>
            <td>
              <div class="flex items-center justify-center gap-10px w-full h-40px">
                <input type="checkbox" id="partnerID" name="partner_requests"/>
              </div>
            </td>
          </tr>
          <tr>
            <td>
              <div class="w-max">Manage Partner</div>
            </td>
            <td>
              <div class="flex items-center justify-center gap-10px w-full h-40px">
                <input type="checkbox" id="partnerID" name="partner_requests"/>
              </div>
            </td>
            <td>
              <div class="flex items-center justify-center gap-10px w-full h-40px">
                <input type="checkbox" id="partnerID" name="partner_requests"/>
              </div>
            </td>
            <td>
              <div class="flex items-center justify-center gap-10px w-full h-40px">
                <input type="checkbox" id="partnerID" name="partner_requests"/>
              </div>
            </td>
            <td>
              <div class="flex items-center justify-center gap-10px w-full h-40px">
                <input type="checkbox" id="partnerID" name="partner_requests"/>
              </div>
            </td>
            <td>
              <div class="flex items-center justify-center gap-10px w-full h-40px">
                <input type="checkbox" id="partnerID" name="partner_requests"/>
              </div>
            </td>
            <td>
              <div class="flex items-center justify-center gap-10px w-full h-40px">
                <input type="checkbox" id="partnerID" name="partner_requests"/>
              </div>
            </td>
            <td>
              <div class="flex items-center justify-center gap-10px w-full h-40px">
                <input type="checkbox" id="partnerID" name="partner_requests"/>
              </div>
            </td>
          </tr>
          <tr>
            <td>
              <div class="w-max"> Manage Tier</div>
            </td>
            <td>
              <div class="flex items-center justify-center gap-10px w-full h-40px">
                <input type="checkbox" id="partnerID" name="partner_requests"/>
              </div>
            </td>
            <td>
              <div class="flex items-center justify-center gap-10px w-full h-40px">
                <input type="checkbox" id="partnerID" name="partner_requests"/>
              </div>
            </td>
            <td>
              <div class="flex items-center justify-center gap-10px w-full h-40px">
                <input type="checkbox" id="partnerID" name="partner_requests"/>
              </div>
            </td>
            <td>
              <div class="flex items-center justify-center gap-10px w-full h-40px">
                <input type="checkbox" id="partnerID" name="partner_requests"/>
              </div>
            </td>
            <td>
              <div class="flex items-center justify-center gap-10px w-full h-40px">
                <input type="checkbox" id="partnerID" name="partner_requests"/>
              </div>
            </td>
            <td>
              <div class="flex items-center justify-center gap-10px w-full h-40px">
                <input type="checkbox" id="partnerID" name="partner_requests"/>
              </div>
            </td>
            <td>
              <div class="flex items-center justify-center gap-10px w-full h-40px">
                <input type="checkbox" id="partnerID" name="partner_requests"/>
              </div>
            </td>
          </tr>
          <tr>
            <td>
              <div class="w-max"> Partner Onboarding</div>
            </td>
            <td>
              <div class="flex items-center justify-center gap-10px w-full h-40px">
                <input type="checkbox" id="partnerID" name="partner_requests"/>
              </div>
            </td>
            <td>
              <div class="flex items-center justify-center gap-10px w-full h-40px">
                <input type="checkbox" id="partnerID" name="partner_requests"/>
              </div>
            </td>
            <td>
              <div class="flex items-center justify-center gap-10px w-full h-40px">
                <input type="checkbox" id="partnerID" name="partner_requests"/>
              </div>
            </td>
            <td>
              <div class="flex items-center justify-center gap-10px w-full h-40px">
                <input type="checkbox" id="partnerID" name="partner_requests"/>
              </div>
            </td>
            <td>
              <div class="flex items-center justify-center gap-10px w-full h-40px">
                <input type="checkbox" id="partnerID" name="partner_requests"/>
              </div>
            </td>
            <td>
              <div class="flex items-center justify-center gap-10px w-full h-40px">
                <input type="checkbox" id="partnerID" name="partner_requests"/>
              </div>
            </td>
            <td>
              <div class="flex items-center justify-center gap-10px w-full h-40px">
                <input type="checkbox" id="partnerID" name="partner_requests"/>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="tab-content hidden" id="channelManager">
    <div class="table-container">
      <table>
        <thead>
          <th>
            <div class="w-max">Permission Actions</div>
          </th>
          <th class="text-center">View</th>
          <th class="text-center">Add</th>
          <th class="text-center">Edit</th>
          <th class="text-center">Delete</th>
          <th class="text-center">Invite</th>
          <th class="text-center">Assign</th>
          <th>
            <div class="w-full text-center">Upload</div>
          </th>
        </thead>
        <tbody>
          <tr>
            <td>
              <div class="w-max">Deal Registration</div>
            </td>
            <td>
              <div class="flex items-center justify-center gap-10px w-full h-40px">
                <input type="checkbox" id="partnerID" name="partner_requests"/>
              </div>
            </td>
            <td>
              <div class="flex items-center justify-center gap-10px w-full h-40px">
                <input type="checkbox" id="partnerID" name="partner_requests"/>
              </div>
            </td>
            <td>
              <div class="flex items-center justify-center gap-10px w-full h-40px">
                <input type="checkbox" id="partnerID" name="partner_requests"/>
              </div>
            </td>
            <td>
              <div class="flex items-center justify-center gap-10px w-full h-40px">
                <input type="checkbox" id="partnerID" name="partner_requests"/>
              </div>
            </td>
            <td>
              <div class="flex items-center justify-center gap-10px w-full h-40px">
                <input type="checkbox" id="partnerID" name="partner_requests"/>
              </div>
            </td>
            <td>
              <div class="flex items-center justify-center gap-10px w-full h-40px">
                <input type="checkbox" id="partnerID" name="partner_requests"/>
              </div>
            </td>
            <td>
              <div class="flex items-center justify-center gap-10px w-full h-40px">
                <input type="checkbox" id="partnerID" name="partner_requests"/>
              </div>
            </td>
          </tr>
          <tr>
            <td>
              <div class="w-max"> Lead Distribution</div>
            </td>
            <td>
              <div class="flex items-center justify-center gap-10px w-full h-40px">
                <input type="checkbox" id="partnerID" name="partner_requests"/>
              </div>
            </td>
            <td>
              <div class="flex items-center justify-center gap-10px w-full h-40px">
                <input type="checkbox" id="partnerID" name="partner_requests"/>
              </div>
            </td>
            <td>
              <div class="flex items-center justify-center gap-10px w-full h-40px">
                <input type="checkbox" id="partnerID" name="partner_requests"/>
              </div>
            </td>
            <td>
              <div class="flex items-center justify-center gap-10px w-full h-40px">
                <input type="checkbox" id="partnerID" name="partner_requests"/>
              </div>
            </td>
            <td>
              <div class="flex items-center justify-center gap-10px w-full h-40px">
                <input type="checkbox" id="partnerID" name="partner_requests"/>
              </div>
            </td>
            <td>
              <div class="flex items-center justify-center gap-10px w-full h-40px">
                <input type="checkbox" id="partnerID" name="partner_requests"/>
              </div>
            </td>
            <td>
              <div class="flex items-center justify-center gap-10px w-full h-40px">
                <input type="checkbox" id="partnerID" name="partner_requests"/>
              </div>
            </td>
          </tr>
          <tr>
            <td>
              <div class="w-max"> Team Member</div>
            </td>
            <td>
              <div class="flex items-center justify-center gap-10px w-full h-40px">
                <input type="checkbox" id="partnerID" name="partner_requests"/>
              </div>
            </td>
            <td>
              <div class="flex items-center justify-center gap-10px w-full h-40px">
                <input type="checkbox" id="partnerID" name="partner_requests"/>
              </div>
            </td>
            <td>
              <div class="flex items-center justify-center gap-10px w-full h-40px">
                <input type="checkbox" id="partnerID" name="partner_requests"/>
              </div>
            </td>
            <td>
              <div class="flex items-center justify-center gap-10px w-full h-40px">
                <input type="checkbox" id="partnerID" name="partner_requests"/>
              </div>
            </td>
            <td>
              <div class="flex items-center justify-center gap-10px w-full h-40px">
                <input type="checkbox" id="partnerID" name="partner_requests"/>
              </div>
            </td>
            <td>
              <div class="flex items-center justify-center gap-10px w-full h-40px">
                <input type="checkbox" id="partnerID" name="partner_requests"/>
              </div>
            </td>
            <td>
              <div class="flex items-center justify-center gap-10px w-full h-40px">
                <input type="checkbox" id="partnerID" name="partner_requests"/>
              </div>
            </td>
          </tr>
          <tr>
            <td>
              <div class="w-max">Manage Partner</div>
            </td>
            <td>
              <div class="flex items-center justify-center gap-10px w-full h-40px">
                <input type="checkbox" id="partnerID" name="partner_requests"/>
              </div>
            </td>
            <td>
              <div class="flex items-center justify-center gap-10px w-full h-40px">
                <input type="checkbox" id="partnerID" name="partner_requests"/>
              </div>
            </td>
            <td>
              <div class="flex items-center justify-center gap-10px w-full h-40px">
                <input type="checkbox" id="partnerID" name="partner_requests"/>
              </div>
            </td>
            <td>
              <div class="flex items-center justify-center gap-10px w-full h-40px">
                <input type="checkbox" id="partnerID" name="partner_requests"/>
              </div>
            </td>
            <td>
              <div class="flex items-center justify-center gap-10px w-full h-40px">
                <input type="checkbox" id="partnerID" name="partner_requests"/>
              </div>
            </td>
            <td>
              <div class="flex items-center justify-center gap-10px w-full h-40px">
                <input type="checkbox" id="partnerID" name="partner_requests"/>
              </div>
            </td>
            <td>
              <div class="flex items-center justify-center gap-10px w-full h-40px">
                <input type="checkbox" id="partnerID" name="partner_requests"/>
              </div>
            </td>
          </tr>
          <tr>
            <td>
              <div class="w-max"> Manage Tier</div>
            </td>
            <td>
              <div class="flex items-center justify-center gap-10px w-full h-40px">
                <input type="checkbox" id="partnerID" name="partner_requests"/>
              </div>
            </td>
            <td>
              <div class="flex items-center justify-center gap-10px w-full h-40px">
                <input type="checkbox" id="partnerID" name="partner_requests"/>
              </div>
            </td>
            <td>
              <div class="flex items-center justify-center gap-10px w-full h-40px">
                <input type="checkbox" id="partnerID" name="partner_requests"/>
              </div>
            </td>
            <td>
              <div class="flex items-center justify-center gap-10px w-full h-40px">
                <input type="checkbox" id="partnerID" name="partner_requests"/>
              </div>
            </td>
            <td>
              <div class="flex items-center justify-center gap-10px w-full h-40px">
                <input type="checkbox" id="partnerID" name="partner_requests"/>
              </div>
            </td>
            <td>
              <div class="flex items-center justify-center gap-10px w-full h-40px">
                <input type="checkbox" id="partnerID" name="partner_requests"/>
              </div>
            </td>
            <td>
              <div class="flex items-center justify-center gap-10px w-full h-40px">
                <input type="checkbox" id="partnerID" name="partner_requests"/>
              </div>
            </td>
          </tr>
          <tr>
            <td>
              <div class="w-max"> Partner Onboarding</div>
            </td>
            <td>
              <div class="flex items-center justify-center gap-10px w-full h-40px">
                <input type="checkbox" id="partnerID" name="partner_requests"/>
              </div>
            </td>
            <td>
              <div class="flex items-center justify-center gap-10px w-full h-40px">
                <input type="checkbox" id="partnerID" name="partner_requests"/>
              </div>
            </td>
            <td>
              <div class="flex items-center justify-center gap-10px w-full h-40px">
                <input type="checkbox" id="partnerID" name="partner_requests"/>
              </div>
            </td>
            <td>
              <div class="flex items-center justify-center gap-10px w-full h-40px">
                <input type="checkbox" id="partnerID" name="partner_requests"/>
              </div>
            </td>
            <td>
              <div class="flex items-center justify-center gap-10px w-full h-40px">
                <input type="checkbox" id="partnerID" name="partner_requests"/>
              </div>
            </td>
            <td>
              <div class="flex items-center justify-center gap-10px w-full h-40px">
                <input type="checkbox" id="partnerID" name="partner_requests"/>
              </div>
            </td>
            <td>
              <div class="flex items-center justify-center gap-10px w-full h-40px">
                <input type="checkbox" id="partnerID" name="partner_requests"/>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>