
<div class="card">
  <div class="flex gap-15px flex-col w-full">
    <h2 class="font-inter font-bold text-lg">Partners</h2>
    <div class="divider"></div>
  </div>
  <div class="flex flex-col gap-15px">
    <div class="flex flex-col w-max"><span class="text-textGray text-sm">Confirmed Partners:</span>
      <div class="flex items-center gap-5px">
        <div class="w-[12px] h-[12px] block bg-green rounded-full"></div><span class="text-sm font-semibold">123 Partners</span>
      </div>
    </div>
    <div class="flex flex-col w-max"><span class="text-textGray text-sm">Pending Requests/Invitations:</span>
      <div class="flex items-center gap-5px">
        <div class="w-[12px] h-[12px] block bg-yellow rounded-full"></div><span class="text-sm font-semibold">235 Partners</span>
      </div>
    </div>
    <div class="flex flex-col w-max"><span class="text-textGray text-sm">Declined & Deleted Partners:</span>
      <div class="flex items-center gap-5px">
        <div class="w-[12px] h-[12px] block bg-red rounded-full"></div><span class="text-sm font-semibold">342 Partners</span>
      </div>
    </div>
  </div>
</div>