
<div class="card">
  <div class="flex gap-15px flex-col w-full">
    <h2 class="font-inter font-bold text-lg">Messages</h2>
    <div class="divider"></div>
  </div>
  <div class="flex items-center gap-10px justify-between w-full">
    <div class="flex items-center gap-5px w-max"><img src="../assets/images/global/message-blue.svg" alt="Total Revenue" title="Total Revenue" width="20" height="20"/><span class="text-sm text-textGray">Total Messages:</span><span class="text-sm">4,238</span></div>
    <div class="flex items-center gap-5px">
      <div class="w-[12px] h-[12px] block bg-yellow rounded-full"></div><span class="text-sm text-textGray">New Messages:</span><span class="text-sm font-semibold">4</span>
    </div><span class="text-sm text-textGray">Last Updated: <span class='text-blackBlue font-semibold'>1hr ago</span></span>
  </div>
</div>