
<div class="card">
  <div class="flex justify-between tabs w-full overflow-hidden flex-col-reverse md:flex-row items-start md:items-center text-sm mdl:text-base-15">
    <h2 class="font-inter font-bold text-2xl">2. Fill in the Lead Details</h2><a class="btn border-blue bg-blue text-white hover:bg-blackBlue  absolute top-20px right-15px sm:relative sm:top-0 sm:right-0 text-sm" href="#"><span>Pull Data from CRM</span><img src="../assets/images/global/cloud-download.svg" alt="download Icon" title="download Icon" width="17" height="17"/></a>
  </div>
  <div class="w-full grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-y-30px gap-x-80px">
    <div class="flex flex-col gap-15px w-full">
      <div class="flex flex-col gap-5px w-full"><span class="text-base-15 font-bold">First name:</span><span class="text-textGray text-sm">Some short description about this setting.</span>
      </div>
      <input class="border border-blackBlue text-blackBlue text-sm hover:border-blue focus:border-blue w-full rounded-30px px-15px h-[35px] outline-0" placeholder="Enter your first name..."/>
    </div>
    <div class="flex flex-col gap-15px w-full">
      <div class="flex flex-col gap-5px w-full"><span class="text-base-15 font-bold">Last name:</span><span class="text-textGray text-sm">Some short description about this setting.</span>
      </div>
      <input class="border border-blackBlue text-blackBlue text-sm hover:border-blue focus:border-blue w-full rounded-30px px-15px h-[35px] outline-0" placeholder="Enter your last name..."/>
    </div>
    <div class="flex flex-col gap-15px w-full">
      <div class="flex flex-col gap-5px w-full"><span class="text-base-15 font-bold">Company name:</span><span class="text-textGray text-sm">Some short description about this setting.</span>
      </div>
      <input class="border border-blackBlue text-blackBlue text-sm hover:border-blue focus:border-blue w-full rounded-30px px-15px h-[35px] outline-0" placeholder="Enter your company name..."/>
    </div>
    <div class="flex flex-col gap-15px w-full">
      <div class="flex flex-col gap-5px w-full"><span class="text-base-15 font-bold">Email address:</span><span class="text-textGray text-sm">Some short description about this setting.</span>
      </div>
      <input class="border border-blackBlue text-blackBlue text-sm hover:border-blue focus:border-blue w-full rounded-30px px-15px h-[35px] outline-0" placeholder="Enter the client email address..."/>
    </div>
    <div class="flex flex-col gap-15px w-full">
      <div class="flex flex-col gap-5px w-full"><span class="text-base-15 font-bold">Phone:</span><span class="text-textGray text-sm">Some short description about this setting.</span>
      </div>
      <input class="border border-blackBlue text-blackBlue text-sm hover:border-blue focus:border-blue w-full rounded-30px px-15px h-[35px] outline-0" placeholder="Enter your phone..."/>
    </div>
    <div class="flex flex-col gap-15px w-full">
      <div class="flex flex-col gap-5px w-full"><span class="text-base-15 font-bold">Website:</span><span class="text-textGray text-sm">Some short description about this setting.</span>
      </div>
      <input class="border border-blackBlue text-blackBlue text-sm hover:border-blue focus:border-blue w-full rounded-30px px-15px h-[35px] outline-0" placeholder="Enter your website..."/>
    </div>
  </div>
  <div class="gri grid-cols-2">
    <div class="flex flex-col gap-15px w-full">
      <div class="flex flex-col gap-5px w-full"><span class="text-base-15 font-bold">Comments:</span><span class="text-textGray text-sm">Some short description about this setting.</span>
      </div>
      <textarea class="border border-blackBlue text-blackBlue text-sm hover:border-blue focus:border-blue w-full rounded-12px px-15px py-15px h-[75px] outline-0" placeholder="Type any comments about the lead here..."></textarea>
    </div>
  </div>
  <div class="flex justify-between w-full"><a class="btn border-blackBlue bg-white text-blackBlue hover:text--blue hover:border-blue text-sm" href="#"><span>Clear Fields</span></a><a class="btn border-blue bg-blue text-white hover:bg-blueDark text-sm" href="#"><span>Add New Lead</span></a></div>
</div>