
<div class="card"><!----------- Title Start ------------------------------>
  <div class="w-full flex flex-col gap-15px">
    <h2 class="font-inter font-bold text-2xl">Create a new Tier</h2>
    <div class="divider"></div>
  </div><!----------- Title End ------------------------------>
  <div class="w-full grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-30px">
    <div class="flex flex-col gap-15px w-full">
      <div class="flex flex-col gap-5px w-full"><span class="text-base-15 font-bold">Tier Name:</span><span class="text-textGray text-sm">Some short description about this setting.</span>
      </div>
      <input class="border border-blackBlue text-blackBlue text-sm hover:border-blue focus:border-blue w-full rounded-30px px-15px h-[35px] outline-0" placeholder="Enter the tier name"/>
    </div>
    <div class="flex flex-col gap-15px w-full">
      <div class="flex flex-col gap-5px w-full"><span class="text-base-15 font-bold">Commission:</span><span class="text-textGray text-sm">Some short description about this setting.</span>
      </div>
      <div class="border border-blackBlue text-blackBlue text-sm hover:border-blue focus:border-blue w-max rounded-30px px-15px h-[35px] outline-0 flex items-center gap-5px">
        <label class="text-textGray">Enter a number:</label>
        <input class="bg-transparent font-semibold w-[70px]" type="number" value="1000"/>
      </div>
    </div>
    <div class="flex flex-col gap-15px w-full">
      <div class="flex flex-col gap-5px w-full"><span class="text-base-15 font-bold">Sales Volume From:</span><span class="text-textGray text-sm">Some short description about this setting.</span>
      </div>
      <div class="border border-blackBlue text-blackBlue text-sm hover:border-blue focus:border-blue w-max rounded-30px px-15px h-[35px] outline-0 flex items-center gap-5px">
        <label class="text-textGray">Enter a number:</label>
        <input class="bg-transparent font-semibold w-[70px]" type="number" value="25000"/>
      </div>
    </div>
    <div class="flex flex-col gap-15px w-full">
      <div class="flex flex-col gap-5px w-full"><span class="text-base-15 font-bold">Sales Volume To:</span><span class="text-textGray text-sm">Some short description about this setting.</span>
      </div>
      <div class="border border-blackBlue text-blackBlue text-sm hover:border-blue focus:border-blue w-max rounded-30px px-15px h-[35px] outline-0 flex items-center gap-5px">
        <label class="text-textGray">Enter a number:</label>
        <input class="bg-transparent font-semibold w-[70px]" type="number" value="125000"/>
      </div>
    </div>
  </div><a class="btn bg-blue border-blue text-white hover:bg-blueDark" href="#">Save Changes</a>
</div>