
<div class="card">
  <div class="flex flex-col gap-15px">
    <div class="flex justify-between tabs w-full overflow-hidden flex-col sm:flex-row sm:items-center text-sm mdl:text-base-15">
      <h2 class="font-inter font-bold text-lg xl:text-2xl">Lead:<span class="text-textGray">32197a24-cf45-43ad-b2ce-d9193c3bf8bc</span></h2>
      <div class="flex items-center gap-15px"><a class="btn border-red bg-red text-white text-sm" href="#"><img src="../assets/images/global/delete-white.svg" alt="Delete Icon" title="Delete Icon" width="17" height="17"/><span>Delete Deal</span></a></div>
    </div>
    <div class="divider"></div>
  </div>
  <div class="flex flex-col gap-30px">
    <div class="flex flex-col gap-15px">
      <h3 class="text-base font-bold">1. Partner Information:</h3>
      <div class="w-full grid grid-cols-1 sm:grid-cols-2 mdl:grid-cols-3 xl:flex gap-30px xl:gap-50px">
        <div class="flex gap-10px w-max"><img class="rounded-8px border border-gray" src="../assets/images/global/company-3.png" alt="Company Logo" title="Company Logo" width="50" height="50"/>
          <div class="flex flex-col gap-5px w-max"><span class="text-textGray text-sm">Vendor:</span><span class="text-base-15 font-bold">Vendor Name 1</span></div>
        </div>
        <div class="flex flex-col gap-5px w-max"><span class="text-textGray text-sm">Email:</span><span class="text-base-15 font-bold">info@partnerwebsite.com</span></div>
        <div class="flex flex-col gap-5px w-max"><span class="text-textGray text-sm">Phone:</span><span class="text-base-15 font-bold">+03 123456789</span></div>
        <div class="flex flex-col gap-5px w-max"><span class="text-textGray text-sm">Website:</span><span class="text-base-15 font-bold">https://partnerwebsite.com</span></div>
        <div class="flex flex-col gap-5px w-max"><span class="text-textGray text-sm">Partner Type:</span><span class="text-base-15 font-bold">Vendor</span></div>
      </div>
    </div>
    <div class="divider"></div>
    <div class="flex flex-col gap-15px">
      <h3 class="text-base font-bold">2. Lead Information:</h3>
      <div class="w-full grid grid-cols-1 sm:grid-cols-2 mdl:grid-cols-3 xl:flex gap-30px xl:gap-50px">
        <div class="flex items-center gap-10px w-max"><img src="../assets/images/global/forecast.svg" alt="Forecast Icon" title="Forecast Icon" width="18" height="18"/>
          <div class="flex items-center gap-5px w-max text-sm"><span class="text-textGray ">Forecasting:</span><span class="font-bold">80</span></div>
        </div>
        <div class="flex items-center gap-10px w-max"><img src="../assets/images/global/calendar.svg" alt="Company Logo" title="Company Logo" width="18" height="18"/>
          <div class="flex items-center gap-5px w-max text-sm"><span class="text-textGray ">Month Duration:</span><span class="font-bold">6 months</span></div>
        </div>
        <div class="flex items-center gap-10px w-max"><img src="../assets/images/global/amount.svg" alt="Company Logo" title="Company Logo" width="25" height="25"/>
          <div class="flex items-center gap-5px w-max text-sm"><span class="text-textGray ">Amount:</span><span class="font-bold">Not set</span></div>
        </div>
        <div class="flex items-center gap-10px w-max text-sm "><span class="text-textGray ">State:</span>
          <div class="p-[8px] rounded-[6px]  w-max text-[12px] bg-blue text-white font-semibold">Open</div>
        </div>
        <div class="flex items-center gap-10px w-max text-sm "><span class="text-textGray ">Status:</span>
          <div class="p-[8px] rounded-[6px]  w-max text-[12px] bg-yellow text-white font-semibold">Not confirmed</div>
        </div>
        <div class="flex items-center gap-10px w-max text-sm"><span class="text-textGray ">Stages:</span>
          <div class="p-[8px] rounded-[6px] bg-yellow text-white w-max text-[12px] font-semibold">Pending</div>
        </div>
      </div>
    </div>
    <div class="divider"></div>
    <div class="flex flex-col gap-15px">
      <h3 class="text-base font-bold">3. Client Information:</h3>
      <div class="w-full grid grid-cols-1 xl:grid-cols-7-5 gap-20px xl:gap-0">
        <div class="w-full grid grid-cols-1 sm:grid-cols-2 mdl:grid-cols-3 gap-y-20px gap-x-10px">
          <div class="flex flex-col gap-5px w-max"><span class="text-textGray text-sm">Client Company Name:</span><span class="text-sm font-semibold">Test lead company</span></div>
          <div class="flex flex-col gap-5px w-max"><span class="text-textGray text-sm">Client First Name:</span><span class="text-sm font-semibold">Giannis</span></div>
          <div class="flex flex-col gap-5px w-max"><span class="text-textGray text-sm">Client Last Name:</span><span class="text-sm font-semibold">Riganas</span></div>
          <div class="flex flex-col gap-5px w-max"><span class="text-textGray text-sm">Business Email:</span><span class="text-sm font-semibold">info@companywebsite.com</span></div>
          <div class="flex flex-col gap-5px w-max"><span class="text-textGray text-sm">Phone:</span><span class="text-sm font-semibold">+42 123456789</span></div>
          <div class="flex flex-col gap-5px w-max"><span class="text-textGray text-sm">Website:</span><span class="text-sm font-semibold">https://companywebsite.com</span></div>
          <div class="flex flex-col gap-5px w-max"><span class="text-textGray text-sm">Location/Address:</span><span class="text-sm font-semibold">United States</span></div>
          <div class="flex flex-col gap-5px w-max"><span class="text-textGray text-sm">Product:</span><span class="text-sm font-semibold">Product name here</span></div>
          <div class="flex flex-col gap-5px w-max"><span class="text-textGray text-sm">Expected closed date:</span><span class="text-sm font-semibold">12/06/2023</span></div>
        </div>
        <div class="flex flex-col gap-5px w-full"><span class="text-textGray text-sm">Opportunities Description:</span><span class="text-base-15">
            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software including versions of Lorem Ipsum.</span></div>
      </div>
    </div>
    <div class="divider"></div>
    <div class="flex flex-col gap-15px">
      <h3 class="text-base font-bold">4. Deal Comments:</h3>
      <div class="flex flex-col w-full border border-gray rounded-12px overflow-hidden pb-10px">
        <div class="flex w-full border-b border-gray">
          <button class="relative text-blackBlue text-sm hover:bg-gray transition-colors duration-200  hover:border-blue focus:border-blue w-max px-20px h-[45px] outline-0 hover:cursor-pointer"><img src="../assets/images/global/attach-blackBlue.svg" alt="attachment icon" title="attachment icon" width="18" height="18"/>
            <input class="opacity-0 absolute top-0 left-0 w-full h-full" type="file"/>
          </button>
          <input class="grow outline-none border-0 shadow-none focus:outline-none focus-visible:outline-none" placeholder="Write your message..."/>
          <button class="relative w-[50px] h-[45px] hover:bg-gray transition-colors duration-200 outline-0 cursor-pointer flex items-center justify-center"><img src="../assets/images/global/send-blue.svg" alt="attachment icon" title="attachment icon" width="18" height="18"/></button>
        </div>
        <div class="w-full flex flex-col gap-20px p-20px">
          <div class="w-full flex justify-start">
            <div class="flex gap-10px items-start"><img class="rounded-full" src="../assets/images/global/user.jpg" alt="Profile Image" title="Your profile image" width="35" height="35"/>
              <div class="flex flex-col gap-5px w-full bg-gray p-10px rounded-8px text-sm">
                <div class="flex items-center gap-5px text-sm">
                  <h5>Jav</h5><span class="text-textGray">Partner Name 1</span>
                </div>
                <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer  took a galley of type and scrambled it to make a type specimen book.</p>
                <div class="w-full text-right text-sm text-lightBlue text-textGray">12:34 AM</div>
              </div>
            </div>
          </div>
          <div class="w-full flex justify-start">
            <div class="flex gap-10px items-start"><img class="rounded-full" src="../assets/images/global/user.jpg" alt="Profile Image" title="Your profile image" width="35" height="35"/>
              <div class="flex flex-col gap-5px w-full bg-gray p-10px rounded-8px text-sm">
                <div class="flex items-center gap-5px text-sm">
                  <h5>Jav</h5><span class="text-textGray">Partner Name 1</span>
                </div>
                <p>It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem</p>
                <div class="w-full text-right text-sm text-lightBlue text-textGray">12:34 AM</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>