
<div class="card"><!----------- Title Start ------------------------------>
  <div class="w-full flex flex-col gap-15px">
    <h2 class="font-inter font-bold text-2xl">Invite a new user</h2>
    <div class="divider"></div>
  </div><!----------- Title End ------------------------------>
  <div class="w-full flex flex-col sm:flex-row gap-15px md:gap-30px">
    <div class="flex flex-col gap-15px w-full">
      <div class="flex flex-col gap-5px w-full"><span class="text-base-15 font-bold">Email Address:</span><span class="text-textGray text-sm">Team member email</span>
      </div>
      <input class="border border-blackBlue text-blackBlue text-sm hover:border-blue focus:border-blue w-full rounded-30px px-15px h-[35px] outline-0" placeholder="Enter your email address"/>
    </div>
    <div class="flex flex-col gap-15px w-full">
      <div class="flex flex-col gap-5px w-full"><span class="text-base-15 font-bold">Select a Role:</span><span class="text-textGray text-sm">Team member role.</span>
      </div>
      <div class="border border-blackBlue text-blackBlue text-sm hover:border-blue focus:border-blue w-max rounded-30px px-15px h-[35px] outline-0 flex items-center gap-5px">
        <label class="text-textGray">Select user role:</label>
            <select class="bg-transparent font-semibold">
              <option value="Channel Manager">Channel Manager</option>
              <option value="CEO">CEO</option>
              <option value="CTO">CTO</option>
              <option value="CFO">CFO</option>
            </select>
      </div>
    </div>
    <div class="h-full flex items-end"><a class="btn bg-blue border-blue text-white hover:bg-blueDark w-full justify-center sm:w-max toast-demo" href="#" data-type="success">Send invitation</a></div>
  </div>
</div>