
<div class="card">
  <h2 class="font-inter font-bold text-xl">Edit Opportunity</h2>
  <div class="w-full grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-30px">
    <div class="flex flex-col gap-15px w-full">
      <div class="flex flex-col gap-5px w-full"><span class="text-base-15 font-bold">Status/Pipeline:</span><span class="text-textGray text-sm">Some description about this setting which is more or less the same length as this one which is around 113 chars.</span>
      </div>
          <div class="bg-transparent font-semibold flex items-center gap-10px">
            <div class="flex gap-3px items-center">
              <input type="radio" id="Presentation" name="deal_available_for" value="Presentation"/>
              <label class="text-sm font-semibold">Presentation</label>
            </div>
            <div class="flex gap-3px items-center">
              <input type="radio" id="Calls" name="deal_available_for" value="Calls"/>
              <label class="text-sm font-semibold">Calls</label>
            </div>
            <div class="flex gap-3px items-center">
              <input type="radio" id="Proposal" name="deal_available_for" value="Proposal"/>
              <label class="text-sm font-semibold">Proposal</label>
            </div>
            <div class="flex gap-3px items-center">
              <input type="radio" id="Closed" name="deal_available_for" value="Closed"/>
              <label class="text-sm font-semibold">Closed</label>
            </div>
          </div>
    </div>
  </div>
  <h2 class="font-inter font-bold text-xl">Personal Information</h2>
  <div class="w-full grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-30px">
    <div class="flex flex-col gap-15px w-full">
      <div class="flex flex-col gap-5px w-full"><span class="text-base-15 font-bold">First Name:</span><span class="text-textGray text-sm">Some short description about this setting.</span>
      </div>
      <input class="border border-blackBlue text-blackBlue text-sm hover:border-blue focus:border-blue w-full rounded-30px px-15px h-[35px] outline-0" placeholder="Enter your first name..."/>
    </div>
    <div class="flex flex-col gap-15px w-full">
      <div class="flex flex-col gap-5px w-full"><span class="text-base-15 font-bold">Last Name:</span><span class="text-textGray text-sm">Some short description about this setting.</span>
      </div>
      <input class="border border-blackBlue text-blackBlue text-sm hover:border-blue focus:border-blue w-full rounded-30px px-15px h-[35px] outline-0" placeholder="Enter your last address..."/>
    </div>
    <div class="flex flex-col gap-15px w-full">
      <div class="flex flex-col gap-5px w-full"><span class="text-base-15 font-bold">Company/Organisation:</span><span class="text-textGray text-sm">Some short description about this setting.</span>
      </div>
      <input class="border border-blackBlue text-blackBlue text-sm hover:border-blue focus:border-blue w-full rounded-30px px-15px h-[35px] outline-0" placeholder="Enter your company name..."/>
    </div>
    <div class="flex flex-col gap-15px w-full">
      <div class="flex flex-col gap-5px w-full"><span class="text-base-15 font-bold">Role/Position:</span><span class="text-textGray text-sm">Some short description about this setting.</span>
      </div>
      <input class="border border-blackBlue text-blackBlue text-sm hover:border-blue focus:border-blue w-full rounded-30px px-15px h-[35px] outline-0" placeholder="Enter your company role..."/>
    </div>
  </div>
  <h2 class="font-inter font-bold text-xl">Contact Information</h2>
  <div class="w-full grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-30px">
    <div class="flex flex-col gap-15px w-full">
      <div class="flex flex-col gap-5px w-full"><span class="text-base-15 font-bold">Email:</span><span class="text-textGray text-sm">Some short description about this setting.</span>
      </div>
      <input class="border border-blackBlue text-blackBlue text-sm hover:border-blue focus:border-blue w-full rounded-30px px-15px h-[35px] outline-0" placeholder="My input placeholder here..."/>
    </div>
    <div class="flex flex-col gap-15px w-full">
      <div class="flex flex-col gap-5px w-full"><span class="text-base-15 font-bold">Address:</span><span class="text-textGray text-sm">Some short description about this setting.</span>
      </div>
      <input class="border border-blackBlue text-blackBlue text-sm hover:border-blue focus:border-blue w-full rounded-30px px-15px h-[35px] outline-0" placeholder="My input placeholder here..."/>
    </div>
    <div class="flex flex-col gap-15px w-full">
      <div class="flex flex-col gap-5px w-full"><span class="text-base-15 font-bold">Website:</span><span class="text-textGray text-sm">Some short description about this setting.</span>
      </div>
      <input class="border border-blackBlue text-blackBlue text-sm hover:border-blue focus:border-blue w-full rounded-30px px-15px h-[35px] outline-0" placeholder="My input placeholder here..."/>
    </div>
    <div class="flex flex-col gap-15px w-full">
      <div class="flex flex-col gap-5px w-full"><span class="text-base-15 font-bold">Phone:</span><span class="text-textGray text-sm">Some short description about this setting.</span>
      </div>
      <input class="border border-blackBlue text-blackBlue text-sm hover:border-blue focus:border-blue w-full rounded-30px px-15px h-[35px] outline-0" placeholder="My input placeholder here..."/>
    </div>
    <div class="flex flex-col gap-15px w-full">
      <div class="flex flex-col gap-5px w-full"><span class="text-base-15 font-bold">LinkedIn:</span><span class="text-textGray text-sm">Some short description about this setting.</span>
      </div>
      <input class="border border-blackBlue text-blackBlue text-sm hover:border-blue focus:border-blue w-full rounded-30px px-15px h-[35px] outline-0" placeholder="My input placeholder here..."/>
    </div>
    <div class="flex flex-col gap-15px w-full">
      <div class="flex flex-col gap-5px w-full"><span class="text-base-15 font-bold">Twitter:</span><span class="text-textGray text-sm">Some short description about this setting.</span>
      </div>
      <input class="border border-blackBlue text-blackBlue text-sm hover:border-blue focus:border-blue w-full rounded-30px px-15px h-[35px] outline-0" placeholder="My input placeholder here..."/>
    </div>
  </div>
</div>