
<div class="card"><!----------- Title Start ------------------------------>
  <div class="w-full flex flex-col gap-15px">
    <h2 class="font-inter font-bold text-2xl">Create User Role</h2>
    <div class="divider"></div>
  </div><!----------- Title End ------------------------------>
  <div class="w-full flex gap-30px">
    <div class="flex flex-col gap-15px w-full">
      <div class="flex flex-col gap-5px w-full"><span class="text-base-15 font-bold">Role Name:</span><span class="text-textGray text-sm">Some short description about this setting.</span>
      </div>
      <input class="border border-blackBlue text-blackBlue text-sm hover:border-blue focus:border-blue w-full rounded-30px px-15px h-[35px] outline-0" placeholder="Enter the role name..."/>
    </div>
    <div class="flex flex-col gap-15px w-full">
      <div class="flex flex-col gap-5px w-full"><span class="text-base-15 font-bold">Description:</span><span class="text-textGray text-sm">Some short description about this setting.</span>
      </div>
      <input class="border border-blackBlue text-blackBlue text-sm hover:border-blue focus:border-blue w-full rounded-30px px-15px h-[35px] outline-0" placeholder="Enter a description..."/>
    </div>
    <div class="h-full flex items-end"><a class="btn bg-blue border-blue text-white hover:bg-blueDark" href="#">Add new user  Role</a></div>
  </div>
</div>