
<div class="card">
  <div class="flex gap-15px flex-col w-full">
    <div class="flex items-center gap-10px justify-between w-full">
      <h2 class="font-inter font-bold text-lg">Intent Signals</h2><a class="text-blue hover:text-blueChart2 underline font-bold text-sm" href="#">View Leads</a>
    </div>
    <div class="divider"></div>
    <div class="grid grid-cols-1 lg:grid-cols-2 gap-y-20px">
      <div class="flex flex-col gap-5px w-max"><span class="text-textGray text-sm">Total Leads:</span><span class="text-base-15 font-bold text-blue">144,445</span></div>
      <div class="flex flex-col gap-5px w-max"><span class="text-textGray text-sm">Intent Data:</span><span class="text-base-15 font-bold">44,245</span></div>
      <div class="flex flex-col gap-5px w-max"><span class="text-textGray text-sm">RFQs:</span><span class="text-base-15 font-bold">78,3457</span></div>
      <div class="flex flex-col gap-5px w-max"><span class="text-textGray text-sm">Messages:</span><span class="text-base-15 font-bold">80,3457</span></div>
    </div>
  </div>
</div>