
<div class="card">
  <h2 class="font-inter font-bold text-2xl">2. Deal Status</h2>
  <div class="w-full grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-30px">
    <div class="flex flex-col gap-15px w-full">
      <div class="flex flex-col gap-5px w-full"><span class="text-base-15 font-bold">Open/Expired State:</span><span class="text-textGray text-sm">Some short description this.</span>
      </div>
      <div class="border border-blackBlue text-blackBlue text-sm hover:border-blue focus:border-blue w-max rounded-30px px-15px h-[35px] outline-0 flex items-center gap-5px">
        <label class="text-textGray">Select the deal state:</label>
            <select class="bg-transparent font-semibold">
              <option value="Open">Open</option>
              <option value="Closed">Closed</option>
            </select>
      </div>
    </div>
    <div class="flex flex-col gap-15px w-full">
      <div class="flex flex-col gap-5px w-full"><span class="text-base-15 font-bold">Won/Lost Status:</span><span class="text-textGray text-sm">Some short description about this setting.</span>
      </div>
      <div class="border border-blackBlue text-blackBlue text-sm hover:border-blue focus:border-blue w-max rounded-30px px-15px h-[35px] outline-0 flex items-center gap-5px">
        <label class="text-textGray">Select deal status:</label>
            <select class="bg-transparent font-semibold">
              <option value="Pending">Pending</option>
              <option value="Won">Won</option>
              <option value="Lost">Lost</option>
            </select>
      </div>
    </div>
    <div class="flex flex-col gap-15px w-full">
      <div class="flex flex-col gap-5px w-full"><span class="text-base-15 font-bold">Approved/Rejected Status:</span><span class="text-textGray text-sm">Some short description about this setting.</span>
      </div>
      <div class="border border-blackBlue text-blackBlue text-sm hover:border-blue focus:border-blue w-max rounded-30px px-15px h-[35px] outline-0 flex items-center gap-5px">
        <label class="text-textGray">Select a status:</label>
            <select class="bg-transparent font-semibold">
              <option value="Not Confirmed">Not Confirmed</option>
              <option value="Confirmed">Confirmed</option>
            </select>
      </div>
    </div>
    <div class="flex flex-col gap-15px w-full">
      <div class="flex flex-col gap-5px w-full"><span class="text-base-15 font-bold">Month Duration:</span><span class="text-textGray text-sm">Some short description about this setting.</span>
      </div>
      <div class="border border-blackBlue text-blackBlue text-sm hover:border-blue focus:border-blue w-max rounded-30px px-15px h-[35px] outline-0 flex items-center gap-5px">
        <label class="text-textGray">Deal’s month duration:</label>
        <input class="bg-transparent font-semibold w-[100px]" type="number" value="6"/>
      </div>
    </div>
  </div>
</div>