
<div class="card">
  <div class="flex gap-15px flex-col w-full">
    <h2 class="font-inter font-bold text-lg">Revenue/Tier</h2>
    <div class="divider"></div>
  </div>
  <div>
    <canvas class="bar-chart-triple" data-labels="2023,2022,2021,2020,2019,2018" data-values="578,322,400,523,348,349" data-values2="478,322,400,489,183,246" data-values3="359,322,657,467,495,175" data-colors="#C4E9FB,#39B4EF,#0088C9" data-datalabels="Silver Tier,Gold Tier,Platinum Tier"></canvas>
  </div>
  <div class="flex items-center gap-10px justify-between w-full">
    <div class="flex items-center gap-10px">
      <div class="flex items-center gap-5px">
        <div class="w-[12px] h-[12px] block bg-blueChart rounded-full"></div><span class="text-sm font-semibold">Silver</span>
      </div>
      <div class="flex items-center gap-5px">
        <div class="w-[12px] h-[12px] block bg-blue rounded-full"></div><span class="text-sm font-semibold">Gold</span>
      </div>
      <div class="flex items-center gap-5px">
        <div class="w-[12px] h-[12px] block bg-blueChart2 rounded-full"></div><span class="text-sm font-semibold">Platinum</span>
      </div>
    </div><span class="text-sm text-textGray">Last Updated: 1hr ago</span>
  </div>
</div>