
<div class="card"><!----------- Title Start ------------------------------>
  <div class="flex justify-between tabs w-full overflow-hidden flex-col-reverse md:flex-row items-start md:items-center text-sm mdl:text-base-15">
    <h2 class="font-inter font-bold text-2xl">Reports History</h2>
  </div>
  <div class="table-container">
    <table>
      <thead>
        <th>Company</th>
        <th>Account Manager</th>
        <th>Location</th>
        <th class="text-center">Date Created</th>
        <th class="w-[100px] text-center">Status</th>
        <th>Actions</th>
      </thead>
      <tbody>
        <tr>
          <td>
            <div class="flex items-start gap-10px w-max h-40px"><img class="rounded-full border border-blackBlue" src="../assets/images/global/company.png" alt="Profile Image" title="Your profile image" width="35" height="35"/>
              <div class="flex flex-col gap-5px mb-5px"><span class="leading-[14px]">Partner Name 1</span><a class="text-blue text-[13px] leading-[13px]" href="#">View Partner Profile</a></div>
            </div>
          </td>
          <td>
            <div class="flex items-start gap-10px w-max h-40px">
              <div class="flex flex-col gap-5px text-left"><span class="leading-[14px]">Team Member Name 1</span><span class="text-textGray text-[13px] leading-[13px]">someusermail1@domain.com</span></div>
            </div>
          </td>
          <td>
            <div class="flex items-start gap-10px w-max h-40px">
              <div class="flex flex-col gap-5px text-left"><span class="leading-[14px]">United Kingdom</span><span class="text-textGray text-[13px] leading-[13px]">North Europe</span></div>
            </div>
          </td>
          <td class="text-center">2023/04/15</td>
          <td><a class="flex items-start gap-10px w-full h-40px justify-center text-center" href="">
              <div class="p-[8px] rounded-[6px]  text-white w-max text-[12px] bg-blue font-semibold">report-file-name.pdf</div></a></td>
          <td>
            <div class="flex items-center justify-end gap-10px w-full h-40px relative cell-actions pr-15px"><a class="actions-trigger" href="#"><img src="../assets/images/global/dots-actions.svg" alt="dots icon"/></a>
              <div class="actions-content flex flex-col rounded-8px py-20px px-10px absolute top-0 right-0 bg-white shadow-card w-max text-left hidden z-1"><a class="hover:bg-gray hover:text-blue py-10px px-10px rounded-4px" href="#">Manage Partner</a><a class="hover:bg-gray hover:text-blue py-10px px-10px rounded-4px" href="#">Chat with Partner</a><a class="hover:bg-gray hover:text-blue py-10px px-10px rounded-4px" href="#">Delete Partner</a></div>
            </div>
          </td>
        </tr>
        <tr>
          <td>
            <div class="flex items-start gap-10px w-max h-40px"><img class="rounded-full border border-blackBlue" src="../assets/images/global/company.png" alt="Profile Image" title="Your profile image" width="35" height="35"/>
              <div class="flex flex-col gap-5px mb-5px"><span class="leading-[14px]">Partner Name 1</span><a class="text-blue text-[13px] leading-[13px]" href="#">View Partner Profile</a></div>
            </div>
          </td>
          <td>
            <div class="flex items-start gap-10px w-max h-40px">
              <div class="flex flex-col gap-5px text-left"><span class="leading-[14px]">Team Member Name 1</span><span class="text-textGray text-[13px] leading-[13px]">someusermail1@domain.com</span></div>
            </div>
          </td>
          <td>
            <div class="flex items-start gap-10px w-max h-40px">
              <div class="flex flex-col gap-5px text-left"><span class="leading-[14px]">United Kingdom</span><span class="text-textGray text-[13px] leading-[13px]">North Europe</span></div>
            </div>
          </td>
          <td class="text-center">2023/04/15</td>
          <td><a class="flex items-start gap-10px w-full h-40px justify-center text-center" href="">
              <div class="p-[8px] rounded-[6px]  text-white w-max text-[12px] bg-blue font-semibold">report-file-name.pdf</div></a></td>
          <td>
            <div class="flex items-center justify-end gap-10px w-full h-40px relative cell-actions pr-15px"><a class="actions-trigger" href="#"><img src="../assets/images/global/dots-actions.svg" alt="dots icon"/></a>
              <div class="actions-content flex flex-col rounded-8px py-20px px-10px absolute top-0 right-0 bg-white shadow-card w-max text-left hidden z-1"><a class="hover:bg-gray hover:text-blue py-10px px-10px rounded-4px" href="#">Manage Partner</a><a class="hover:bg-gray hover:text-blue py-10px px-10px rounded-4px" href="#">Chat with Partner</a><a class="hover:bg-gray hover:text-blue py-10px px-10px rounded-4px" href="#">Delete Partner</a></div>
            </div>
          </td>
        </tr>
        <tr>
          <td>
            <div class="flex items-start gap-10px w-max h-40px"><img class="rounded-full border border-blackBlue" src="../assets/images/global/company.png" alt="Profile Image" title="Your profile image" width="35" height="35"/>
              <div class="flex flex-col gap-5px mb-5px"><span class="leading-[14px]">Partner Name 1</span><a class="text-blue text-[13px] leading-[13px]" href="#">View Partner Profile</a></div>
            </div>
          </td>
          <td>
            <div class="flex items-start gap-10px w-max h-40px">
              <div class="flex flex-col gap-5px text-left"><span class="leading-[14px]">Team Member Name 1</span><span class="text-textGray text-[13px] leading-[13px]">someusermail1@domain.com</span></div>
            </div>
          </td>
          <td>
            <div class="flex items-start gap-10px w-max h-40px">
              <div class="flex flex-col gap-5px text-left"><span class="leading-[14px]">United Kingdom</span><span class="text-textGray text-[13px] leading-[13px]">North Europe</span></div>
            </div>
          </td>
          <td class="text-center">2023/04/15</td>
          <td><a class="flex items-start gap-10px w-full h-40px justify-center text-center" href="">
              <div class="p-[8px] rounded-[6px]  text-white w-max text-[12px] bg-blue font-semibold">report-file-name.pdf</div></a></td>
          <td>
            <div class="flex items-center justify-end gap-10px w-full h-40px relative cell-actions pr-15px"><a class="actions-trigger" href="#"><img src="../assets/images/global/dots-actions.svg" alt="dots icon"/></a>
              <div class="actions-content flex flex-col rounded-8px py-20px px-10px absolute top-0 right-0 bg-white shadow-card w-max text-left hidden z-1"><a class="hover:bg-gray hover:text-blue py-10px px-10px rounded-4px" href="#">Manage Partner</a><a class="hover:bg-gray hover:text-blue py-10px px-10px rounded-4px" href="#">Chat with Partner</a><a class="hover:bg-gray hover:text-blue py-10px px-10px rounded-4px" href="#">Delete Partner</a></div>
            </div>
          </td>
        </tr>
        <tr>
          <td>
            <div class="flex items-start gap-10px w-max h-40px"><img class="rounded-full border border-blackBlue" src="../assets/images/global/company.png" alt="Profile Image" title="Your profile image" width="35" height="35"/>
              <div class="flex flex-col gap-5px mb-5px"><span class="leading-[14px]">Partner Name 1</span><a class="text-blue text-[13px] leading-[13px]" href="#">View Partner Profile</a></div>
            </div>
          </td>
          <td>
            <div class="flex items-start gap-10px w-max h-40px">
              <div class="flex flex-col gap-5px text-left"><span class="leading-[14px]">Team Member Name 1</span><span class="text-textGray text-[13px] leading-[13px]">someusermail1@domain.com</span></div>
            </div>
          </td>
          <td>
            <div class="flex items-start gap-10px w-max h-40px">
              <div class="flex flex-col gap-5px text-left"><span class="leading-[14px]">United Kingdom</span><span class="text-textGray text-[13px] leading-[13px]">North Europe</span></div>
            </div>
          </td>
          <td class="text-center">2023/04/15</td>
          <td><a class="flex items-start gap-10px w-full h-40px justify-center text-center" href="">
              <div class="p-[8px] rounded-[6px]  text-white w-max text-[12px] bg-blue font-semibold">report-file-name.pdf</div></a></td>
          <td>
            <div class="flex items-center justify-end gap-10px w-full h-40px relative cell-actions pr-15px"><a class="actions-trigger" href="#"><img src="../assets/images/global/dots-actions.svg" alt="dots icon"/></a>
              <div class="actions-content flex flex-col rounded-8px py-20px px-10px absolute top-0 right-0 bg-white shadow-card w-max text-left hidden z-1"><a class="hover:bg-gray hover:text-blue py-10px px-10px rounded-4px" href="#">Manage Partner</a><a class="hover:bg-gray hover:text-blue py-10px px-10px rounded-4px" href="#">Chat with Partner</a><a class="hover:bg-gray hover:text-blue py-10px px-10px rounded-4px" href="#">Delete Partner</a></div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="flex-col sm:flex-row flex items-center gap-15px text-textGray font-semibold text-base-15 justify-between">
    <div class="w-full sm:w-max justify-between sm:justify-start flex items-center gap-15px">
      <div class="card-filter rounded-40px gap-5px bg-white py-5px">
        <label class="w-max" for="dealsItemsPerPage">Items per page:</label>
        <select class="bg-transparent text-blackBlue font-bold" id="dealsItemsPerPage" name="dealsItemsPerPage">
          <option>10</option>
          <option>25</option>
          <option>50</option>
          <option>100</option>
        </select>
      </div>
      <div class="flex justify-center gap-15px"><a class="w-[30px] h-[30px] rounded-full hover:bg-blue hover:border-blue hover:text-white border border-gray bg-white flex justify-center text-center items-center" href="#"><span class="text-xs lg:text-sm  font-semibold">&lt;</span></a>
              <div class="w-[30px] h-[30px] rounded-full border border-blue bg-blue flex justify-center text-center items-center text-white"><span class="text-xs lg:text-sm font-semibold">1</span></div><a class="w-[30px] h-[30px] rounded-full hover:bg-blue hover:border-blue hover:text-white border border-gray bg-white flex justify-center text-center items-center" href="#"><span class="text-xs lg:text-sm  font-semibold">2</span></a><a class="w-[30px] h-[30px] rounded-full hover:bg-blue hover:border-blue hover:text-white border border-gray bg-white flex justify-center text-center items-center" href="#"><span class="text-xs lg:text-sm  font-semibold">3</span></a><a class="w-[30px] h-[30px] rounded-full hover:bg-blue hover:border-blue hover:text-white border border-gray bg-white flex justify-center text-center items-center" href="#"><span class="text-xs lg:text-sm  font-semibold">&gt;</span></a>
      </div>
    </div>
    <div class="text-right sm:text-left w-full sm:w-max text-sm"><span class='text-blackBlue'>98</span> items in <span class='text-blackBlue'>10</span> Pages</div>
  </div>
</div>