
<div class="card">
  <div class="flex gap-15px flex-col w-full">
    <div class="flex items-center gap-10px justify-between w-full">
      <h2 class="font-inter font-bold text-lg">Partner Management</h2>
      <div class="text-[13px] font-semibold text-blue p-[8px] bg-gray rounded-[6px]">Startup $399</div>
    </div>
    <div class="divider"></div>
  </div>
  <div class="flex flex-col gap-20px">
    <div class="flex flex-col gap-5px">
      <h3 class="text-sm font-semibold">Remaining partners to manage:</h3>
      <div class="flex items-center gap-5px">
        <div class="w-full bg-blueChart rounded-full h-2.5 grow">
          <div class="bg-blue h-2.5 rounded-full w-[55%]"></div>
        </div>
        <div class="font-semibold text-sm">66/100</div>
      </div>
    </div>
    <div class="flex flex-col gap-5px">
      <h3 class="text-sm font-semibold">Storage used:</h3>
      <div class="flex items-center gap-5px">
        <div class="w-full bg-yellowChart rounded-full h-2.5 grow">
          <div class="bg-yellow h-2.5 rounded-full w-[55%]"></div>
        </div>
        <div class="font-semibold text-sm">90%</div>
      </div>
    </div><a class="btn border-blue text-blue hover:bg-blue hover:text-white" href="../templates/vendor-billing.html">Manage your Subscription</a>
  </div>
</div>