
<div class="card"><!----------- Title Start ------------------------------>
  <div class="w-full flex flex-col gap-15px">
    <h2 class="font-inter font-bold text-2xl">Payment Information</h2>
    <div class="divider"></div>
  </div><!----------- Title End ------------------------------>
  <div class="w-full grid grid-cols-1 mdl:grid-cols-2 lg:grid-cols-4 gap-60px">
    <div class="flex flex-col gap-15px w-full">
      <div class="flex flex-col gap-5px w-full"><span class="text-base-15 font-bold">Credit Card Number:</span><span class="text-textGray text-sm">Please enter your Credit Card Number.</span></div>
      <input class="border border-blackBlue text-blackBlue text-sm hover:border-blue focus:border-blue w-full rounded-30px px-15px h-[35px] outline-0" placeholder="Enter your company name"/>
    </div>
    <div class="flex flex-col gap-15px w-full">
      <div class="flex flex-col gap-5px w-full"><span class="text-base-15 font-bold">CVC:</span><span class="text-textGray text-sm">Enter your 3-digit CVC written in your card.</span></div>
      <input class="border border-blackBlue text-blackBlue text-sm hover:border-blue focus:border-blue w-full rounded-30px px-15px h-[35px] outline-0" placeholder="Enter your CVC number"/>
    </div>
    <div class="flex flex-col gap-15px w-full">
      <div class="flex flex-col gap-5px w-full"><span class="text-base-15 font-bold">Expiration Month:</span><span class="text-textGray text-sm">Please enter your credit card expiration month</span></div>
      <input class="border border-blackBlue text-blackBlue text-sm hover:border-blue focus:border-blue w-full rounded-30px px-15px h-[35px] outline-0" placeholder="Expiration Month"/>
    </div>
    <div class="flex flex-col gap-15px w-full">
      <div class="flex flex-col gap-5px w-full"><span class="text-base-15 font-bold">Expiration Year:</span><span class="text-textGray text-sm">Last 2 digits.</span></div>
      <input class="border border-blackBlue text-blackBlue text-sm hover:border-blue focus:border-blue w-full rounded-30px px-15px h-[35px] outline-0" placeholder="Expiration Year"/>
    </div>
  </div><a class="btn bg-blue border-blue text-white hover:bg-blueDark" href="#">Save Changes</a>
</div>