
<div class="card px-15px lg:px-25px sticky top-0 gap-20px">
  <div class="flex gap-15px flex-col w-full">
    <h2 class="font-inter font-bold text-2xl">Your messages</h2>
    <div class="divider"></div>
  </div><a class="btn bg-blue text-white hover:bg-darkBlue w-full justify-center h-[40px] items-center modal-trigger" href="#modalNewMessage"><img src="../assets/images/global/compose-white.svg" alt="location icon" loading="lazy" width="18" height="18"/>
    <h4 class="text-sm font-semibold">Compose Message</h4></a>
  <div class="flex flex-col w-full"><a class="flex gap-7px items-center py-15px border-t border-gray hover:text-blue justify-between w-full" href="#">
      <div class="flex items-center gap-7px"><img src="../assets/images/global/inbox.svg" alt="Inbox icon" loading="lazy"/>
        <h4 class="text-sm font-semibold">Inbox</h4>
      </div>
      <div class="bg-gray w-[25px] h-[25px] rounded-full text-center flex items-center text-xs justify-center text-textGray">10</div></a><a class="flex gap-7px items-center py-15px border-t border-gray hover:text-blue justify-between w-full" href="#">
      <div class="flex items-center gap-7px"><img src="../assets/images/global/send-blackBlue.svg" alt="Sent Messages" loading="lazy"/>
        <h4 class="text-sm font-semibold">Sent Messages</h4>
      </div>
      <div class="bg-gray w-[25px] h-[25px] rounded-full text-center flex items-center text-xs justify-center text-textGray">5</div></a><a class="flex gap-7px items-center py-15px border-t border-gray hover:text-blue justify-between w-full" href="#">
      <div class="flex items-center gap-7px"><img src="../assets/images/global/delete-blackBlue.svg" alt="Deleted Messages" loading="lazy"/>
        <h4 class="text-sm font-semibold">Deleted Messages</h4>
      </div>
      <div class="bg-gray w-[25px] h-[25px] rounded-full text-center flex items-center text-xs justify-center text-textGray">22</div></a></div>
</div>