
<div class="card gap-15px">
  <div class="flex justify-between w-full overflow-hidden flex-row items-start md:items-center text-sm mdl:text-base-15">
    <h2 class="font-inter font-semibold text-lg">Latest Activity</h2>
    <div class="card-filter w-max bg-transparent border-transparent px-5px">
      <label class="w-max" for="activity_year">Select a year:</label>
      <select class="bg-transparent text-blackBlue font-bold" id="activity_year" name="activity_year">
        <option>2023</option>
        <option>2022</option>
        <option>2021</option>
        <option>2020</option>
        <option>2019</option>
        <option>2018</option>
        <option>2017</option>
        <option>2016</option>
      </select>
    </div>
  </div>
  <div class="flex gap-15px flex-col w-full">
    <div class="flex flex-col lg:flex-row lg:justify-between lg:items-center gap-15px rounded-12px border border-gray p-25px text-sm">
      <div class="flex flex-col gap-5px"><span class="text-textGray">2023/05/21 14:32 pm</span>
        <p class="font-semibold">New deal registration for $2,500 with Company Name.</p>
      </div><a class="btn font-semibold text-blackBlue border-blackBlue hover:text-blue hover:border-blue" href="../templates/vendor-deal-registration-view.html">View Deal</a>
    </div>
    <div class="flex flex-col lg:flex-row lg:justify-between lg:items-center gap-15px rounded-12px border border-gray p-25px text-sm">
      <div class="flex flex-col gap-5px"><span class="text-textGray">2023/05/21 14:32 pm</span>
        <p class="font-semibold">Viewed a document from Onboarding Library.</p>
      </div><a class="btn font-semibold text-blackBlue border-blackBlue hover:text-blue hover:border-blue" href="../templates/vendor-content-library.html">View Document</a>
    </div>
    <div class="flex flex-col lg:flex-row lg:justify-between lg:items-center gap-15px rounded-12px border border-gray p-25px text-sm">
      <div class="flex flex-col gap-5px"><span class="text-textGray">2023/05/21 14:32 pm</span>
        <p class="font-semibold">Viewed a document from Onboarding Library.</p>
      </div><a class="btn font-semibold text-blackBlue border-blackBlue hover:text-blue hover:border-blue" href="../templates/vendor-content-library.html">View Document</a>
    </div>
    <div class="flex flex-col lg:flex-row lg:justify-between lg:items-center gap-15px rounded-12px border border-gray p-25px text-sm">
      <div class="flex flex-col gap-5px"><span class="text-textGray">2023/05/21 14:32 pm</span>
        <p class="font-semibold">New lead distribution for client Company Name.</p>
      </div><a class="btn font-semibold text-blackBlue border-blackBlue hover:text-blue hover:border-blue" href="../templates/vendor-lead-distribution-edit.html">View Lead</a>
    </div>
    <div class="flex flex-col lg:flex-row lg:justify-between lg:items-center gap-15px rounded-12px border border-gray p-25px text-sm">
      <div class="flex flex-col gap-5px"><span class="text-textGray">2023/05/21 14:32 pm</span>
        <p class="font-semibold">New deal registration for $2,500 with Company Name.</p>
      </div><a class="btn font-semibold text-blackBlue border-blackBlue hover:text-blue hover:border-blue" href="../templates/vendor-deal-registration-view.html">View Deal</a>
    </div>
  </div>
</div>