
<div class="card">
  <div class="flex gap-15px flex-col w-full">
    <div class="flex items-center gap-10px justify-between w-full">
      <h2 class="font-inter font-bold text-lg">Deals Overview</h2><a class="text-blue hover:text-blueChart2 underline font-bold text-sm" href="../templates/vendor-lead-distribution.html">View All Deals</a>
    </div>
    <div class="divider"></div>
  </div>
  <div class="grid grid-cols-7-5 sm:grid-cols-8-4">
    <div class="grid grid-cols-1 sm:grid-cols-2 gap-y-20px">
      <div class="flex flex-col gap-5px w-max"><span class="text-textGray text-sm">Total Deals:</span><span class="text-base-15 font-bold">1,138</span></div>
      <div class="flex flex-col gap-5px w-max"><span class="text-textGray text-sm">Deals Won:</span><span class="text-base-15 font-bold">815 <span class='text-xs text-blue'>(72%)</span></span></div>
      <div class="flex flex-col gap-5px w-max"><span class="text-textGray text-sm">Total Deal size:</span><span class="text-base-15 font-bold">$175,000,000</span></div>
      <div class="flex flex-col gap-5px w-max"><span class="text-textGray text-sm">Avg. Deal Size:</span><span class="text-base-15 font-bold">$22,000</span></div>
    </div>
    <div class="flex flex-col gap-15px items-center">
      <div class="w-[90px]">
        <canvas class="doughnut-chart" data-labels="Won,Lost" data-values="815,322" data-colors="#39B4EF,#C4E9FB" data-label="Deals"></canvas>
      </div>
      <div class="flex items-center gap-10px justify-center">
        <div class="flex items-center gap-5px">
          <div class="w-[12px] h-[12px] block bg-blue rounded-full"></div><span class="text-sm font-semibold">Won</span>
        </div>
        <div class="flex items-center gap-5px">
          <div class="w-[12px] h-[12px] block bg-blueChart rounded-full"></div><span class="text-sm font-semibold">Lost</span>
        </div>
      </div>
    </div>
  </div>
</div>