
<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-25px"><!----------- Media Item Vendor ------------------------------>
  <div class="card flex-row justify-between w-full px-15px py-20px gap-0">
    <div class="flex flex-row gap-15px">
      <div class="w-[80px] flex items-center"><img src="../assets/images/file-icons/png.svg"/></div>
      <div class="flex flex-col gap-10px">
        <div class="flex flex-col">
          <h3 class="text-base font-semibold">Logo.png</h3>
          <h4 class="text-sm text-textGray">17/05/2023</h4>
        </div>
        <div class="flex flex-col">
          <h5 class="text-sm font-semibold">Vendor 1</h5>
          <h6 class="text-sm text-textGray">View Files</h6>
        </div>
      </div>
    </div><a class="relative top-5px w-[30px]" href="#"><img src="../assets/images/global/download.svg" width="30" height="30"/></a>
  </div><!----------- Media Item Vendor ------------------------------>
  <div class="card flex-row justify-between w-full px-15px py-20px gap-0">
    <div class="flex flex-row gap-15px">
      <div class="w-[80px] flex items-center"><img src="../assets/images/file-icons/ppt.svg"/></div>
      <div class="flex flex-col gap-10px">
        <div class="flex flex-col">
          <h3 class="text-base font-semibold">presentation.ptt</h3>
          <h4 class="text-sm text-textGray">17/05/2023</h4>
        </div>
        <div class="flex flex-col">
          <h5 class="text-sm font-semibold">Vendor 2</h5>
          <h6 class="text-sm text-textGray">View Files</h6>
        </div>
      </div>
    </div><a class="relative top-5px w-[30px]" href="#"><img src="../assets/images/global/download.svg" width="30" height="30"/></a>
  </div><!----------- Media Item Vendor ------------------------------>
  <div class="card flex-row justify-between w-full px-15px py-20px gap-0">
    <div class="flex flex-row gap-15px">
      <div class="w-[80px] flex items-center"><img src="../assets/images/file-icons/xls.svg"/></div>
      <div class="flex flex-col gap-10px">
        <div class="flex flex-col">
          <h3 class="text-base font-semibold">pricing.xls</h3>
          <h4 class="text-sm text-textGray">17/05/2023</h4>
        </div>
        <div class="flex flex-col">
          <h5 class="text-sm font-semibold">Vendor 3</h5>
          <h6 class="text-sm text-textGray">View Files</h6>
        </div>
      </div>
    </div><a class="relative top-5px w-[30px]" href="#"><img src="../assets/images/global/download.svg" width="30" height="30"/></a>
  </div><!----------- Media Item Vendor ------------------------------>
  <div class="card flex-row justify-between w-full px-15px py-20px gap-0">
    <div class="flex flex-row gap-15px">
      <div class="w-[80px] flex items-center"><img src="../assets/images/file-icons/file.svg"/></div>
      <div class="flex flex-col gap-10px">
        <div class="flex flex-col">
          <h3 class="text-base font-semibold">sales.txt</h3>
          <h4 class="text-sm text-textGray">17/05/2023</h4>
        </div>
        <div class="flex flex-col">
          <h5 class="text-sm font-semibold">Vendor 2</h5>
          <h6 class="text-sm text-textGray">View Files</h6>
        </div>
      </div>
    </div><a class="relative top-5px w-[30px]" href="#"><img src="../assets/images/global/download.svg" width="30" height="30"/></a>
  </div><!----------- Media Item Vendor ------------------------------>
  <div class="card flex-row justify-between w-full px-15px py-20px gap-0">
    <div class="flex flex-row gap-15px">
      <div class="w-[80px] flex items-center"><img src="../assets/images/file-icons/doc.svg"/></div>
      <div class="flex flex-col gap-10px">
        <div class="flex flex-col">
          <h3 class="text-base font-semibold">product-desc.doc</h3>
          <h4 class="text-sm text-textGray">17/05/2023</h4>
        </div>
        <div class="flex flex-col">
          <h5 class="text-sm font-semibold">Vendor 2</h5>
          <h6 class="text-sm text-textGray">View Files</h6>
        </div>
      </div>
    </div><a class="relative top-5px w-[30px]" href="#"><img src="../assets/images/global/download.svg" width="30" height="30"/></a>
  </div><!----------- Media Item Vendor ------------------------------>
  <div class="card flex-row justify-between w-full px-15px py-20px gap-0">
    <div class="flex flex-row gap-15px">
      <div class="w-[80px] flex items-center"><img src="../assets/images/file-icons/ai.svg"/></div>
      <div class="flex flex-col gap-10px">
        <div class="flex flex-col">
          <h3 class="text-base font-semibold">graphics.ai</h3>
          <h4 class="text-sm text-textGray">17/05/2023</h4>
        </div>
        <div class="flex flex-col">
          <h5 class="text-sm font-semibold">Vendor 3</h5>
          <h6 class="text-sm text-textGray">View Files</h6>
        </div>
      </div>
    </div><a class="relative top-5px w-[30px]" href="#"><img src="../assets/images/global/download.svg" width="30" height="30"/></a>
  </div><!----------- Media Item Vendor ------------------------------>
  <div class="card flex-row justify-between w-full px-15px py-20px gap-0">
    <div class="flex flex-row gap-15px">
      <div class="w-[80px] flex items-center"><img src="../assets/images/file-icons/jpg.svg"/></div>
      <div class="flex flex-col gap-10px">
        <div class="flex flex-col">
          <h3 class="text-base font-semibold">account.jpg</h3>
          <h4 class="text-sm text-textGray">17/05/2023</h4>
        </div>
        <div class="flex flex-col">
          <h5 class="text-sm font-semibold">Vendor 1</h5>
          <h6 class="text-sm text-textGray">View Files</h6>
        </div>
      </div>
    </div><a class="relative top-5px w-[30px]" href="#"><img src="../assets/images/global/download.svg" width="30" height="30"/></a>
  </div><!----------- Media Item Vendor ------------------------------>
  <div class="card flex-row justify-between w-full px-15px py-20px gap-0">
    <div class="flex flex-row gap-15px">
      <div class="w-[80px] flex items-center"><img src="../assets/images/file-icons/svg.svg"/></div>
      <div class="flex flex-col gap-10px">
        <div class="flex flex-col">
          <h3 class="text-base font-semibold">sponsorlogo.svg</h3>
          <h4 class="text-sm text-textGray">17/05/2023</h4>
        </div>
        <div class="flex flex-col">
          <h5 class="text-sm font-semibold">Vendor 2</h5>
          <h6 class="text-sm text-textGray">View Files</h6>
        </div>
      </div>
    </div><a class="relative top-5px w-[30px]" href="#"><img src="../assets/images/global/download.svg" width="30" height="30"/></a>
  </div><!----------- Media Item Vendor ------------------------------>
  <div class="card flex-row justify-between w-full px-15px py-20px gap-0">
    <div class="flex flex-row gap-15px">
      <div class="w-[80px] flex items-center"><img src="../assets/images/file-icons/xls.svg"/></div>
      <div class="flex flex-col gap-10px">
        <div class="flex flex-col">
          <h3 class="text-base font-semibold">tasks.csv</h3>
          <h4 class="text-sm text-textGray">17/05/2023</h4>
        </div>
        <div class="flex flex-col">
          <h5 class="text-sm font-semibold">Vendor 3</h5>
          <h6 class="text-sm text-textGray">View Files</h6>
        </div>
      </div>
    </div><a class="relative top-5px w-[30px]" href="#"><img src="../assets/images/global/download.svg" width="30" height="30"/></a>
  </div>
</div>