<!----------- Media Item ------------------------------>
<div class="card items-center justify-center text-center">
  <div class="w-[70px] flex justify-center"><img src="../assets/images/file-icons/undefined.svg"/></div>
  <div class="w-full flex flex-col gap-5px">
    <h3 class="text-base font-bold">Logo.png</h3>
    <h4 class="text-sm text-textGray">17/05/2023</h4>
  </div>
  <div class="flex items-center justify-end gap-10px w-full h-40px absolute top-10px right-15px cell-actions"><a class="actions-trigger" href="#"><img src="../assets/images/global/dots-blue-vertical.svg"/></a>
    <div class="actions-content flex flex-col rounded-8px py-20px px-10px absolute top-0 right-0 bg-white shadow-card w-max text-left hidden z-1"><a class="hover:bg-gray hover:text-blue py-10px px-10px rounded-4px" href="#">Delete</a><a class="hover:bg-gray hover:text-blue py-10px px-10px rounded-4px" href="#">Upload Preview Icon</a></div>
  </div>
</div>