
<div class="grid grid-cols-1 md:grid-cols-1 lg:grid-cols-4 xl:grid-cols-6 gap-25px"><!----------- Partner Files Item ------------------------------><a class="card text-center justify-center flex-col items-center group" href="">
    <div class="w-80px"><img src="../assets/images/content-library/company1.png"/></div>
    <div class="flex gap-0 justify-center flex-col items-center">
      <h3 class="group-hover:text-blue font-semibold transition-colors duration-200 text-base">Partner name 1</h3>
      <h4 class="text-sm text-textGray">7 Files</h4>
    </div></a><!----------- Partner Files Item ------------------------------><a class="card text-center justify-center flex-col items-center group" href="">
    <div class="w-80px"><img src="../assets/images/content-library/company2.png"/></div>
    <div class="flex gap-0 justify-center flex-col items-center">
      <h3 class="group-hover:text-blue font-semibold transition-colors duration-200 text-base">Partner name 2</h3>
      <h4 class="text-sm text-textGray">3 Files</h4>
    </div></a><!----------- Partner Files Item ------------------------------><a class="card text-center justify-center flex-col items-center group" href="">
    <div class="w-80px"><img src="../assets/images/content-library/company3.png"/></div>
    <div class="flex gap-0 justify-center flex-col items-center">
      <h3 class="group-hover:text-blue font-semibold transition-colors duration-200 text-base">Partner name 3</h3>
      <h4 class="text-sm text-textGray">2 Files</h4>
    </div></a><!----------- Partner Files Item ------------------------------><a class="card text-center justify-center flex-col items-center group" href="">
    <div class="w-80px"><img src="../assets/images/content-library/company4.png"/></div>
    <div class="flex gap-0 justify-center flex-col items-center">
      <h3 class="group-hover:text-blue font-semibold transition-colors duration-200 text-base">Partner name 4</h3>
      <h4 class="text-sm text-textGray">1 File</h4>
    </div></a><!----------- Partner Files Item ------------------------------><a class="card text-center justify-center flex-col items-center group" href="">
    <div class="w-80px"><img src="../assets/images/content-library/company5.png"/></div>
    <div class="flex gap-0 justify-center flex-col items-center">
      <h3 class="group-hover:text-blue font-semibold transition-colors duration-200 text-base">Partner name 5</h3>
      <h4 class="text-sm text-textGray">1 File</h4>
    </div></a><!----------- Partner Files Item ------------------------------><a class="card text-center justify-center flex-col items-center group" href="">
    <div class="w-80px"><img src="../assets/images/content-library/company6.png"/></div>
    <div class="flex gap-0 justify-center flex-col items-center">
      <h3 class="group-hover:text-blue font-semibold transition-colors duration-200 text-base">Partner name 6</h3>
      <h4 class="text-sm text-textGray">1 File</h4>
    </div></a><!----------- Partner Files Item ------------------------------><a class="card text-center justify-center flex-col items-center group" href="">
    <div class="w-80px"><img src="../assets/images/content-library/company1.png"/></div>
    <div class="flex gap-0 justify-center flex-col items-center">
      <h3 class="group-hover:text-blue font-semibold transition-colors duration-200 text-base">Partner name 1</h3>
      <h4 class="text-sm text-textGray">7 Files</h4>
    </div></a><!----------- Partner Files Item ------------------------------><a class="card text-center justify-center flex-col items-center group" href="">
    <div class="w-80px"><img src="../assets/images/content-library/company2.png"/></div>
    <div class="flex gap-0 justify-center flex-col items-center">
      <h3 class="group-hover:text-blue font-semibold transition-colors duration-200 text-base">Partner name 2</h3>
      <h4 class="text-sm text-textGray">3 Files</h4>
    </div></a><!----------- Partner Files Item ------------------------------><a class="card text-center justify-center flex-col items-center group" href="">
    <div class="w-80px"><img src="../assets/images/content-library/company3.png"/></div>
    <div class="flex gap-0 justify-center flex-col items-center">
      <h3 class="group-hover:text-blue font-semibold transition-colors duration-200 text-base">Partner name 3</h3>
      <h4 class="text-sm text-textGray">2 Files</h4>
    </div></a><!----------- Partner Files Item ------------------------------><a class="card text-center justify-center flex-col items-center group" href="">
    <div class="w-80px"><img src="../assets/images/content-library/company4.png"/></div>
    <div class="flex gap-0 justify-center flex-col items-center">
      <h3 class="group-hover:text-blue font-semibold transition-colors duration-200 text-base">Partner name 4</h3>
      <h4 class="text-sm text-textGray">1 File</h4>
    </div></a><!----------- Partner Files Item ------------------------------><a class="card text-center justify-center flex-col items-center group" href="">
    <div class="w-80px"><img src="../assets/images/content-library/company5.png"/></div>
    <div class="flex gap-0 justify-center flex-col items-center">
      <h3 class="group-hover:text-blue font-semibold transition-colors duration-200 text-base">Partner name 5</h3>
      <h4 class="text-sm text-textGray">1 File</h4>
    </div></a><!----------- Partner Files Item ------------------------------><a class="card text-center justify-center flex-col items-center group" href="">
    <div class="w-80px"><img src="../assets/images/content-library/company6.png"/></div>
    <div class="flex gap-0 justify-center flex-col items-center">
      <h3 class="group-hover:text-blue font-semibold transition-colors duration-200 text-base">Partner name 6</h3>
      <h4 class="text-sm text-textGray">1 File</h4>
    </div></a>
</div>