div(class='flex flex-col gap-15px w-full')
    include ../form/form-text
    div.flex.items-start.gap-10px
        button(class="relative border border-blackBlue text-blackBlue text-sm hover:border-blue focus:border-blue w-max rounded-30px px-15px h-[35px] outline-0 font-semibold cursor-pointer") Browse & Upload
            input(class="opacity-0 absolute top-0 left-0 w-full h-full" type="file")
        .flex.gap-10px
            img( src="../assets/images/file-icons/xls.svg" width="35" height="35")
            .flex.flex-col
                div.text-sm.font-semibold partners-list.csv
                div.text-xs.text-textGray 682 KB
