mixin radioOptions(options, inputName)
    div.bg-transparent.font-semibold.flex.items-center.gap-10px
        each option in options ? options : []
            div.flex.gap-3px.items-center
                input(type="radio" id=option name=inputName value=option)
                label.text-sm.font-semibold=option

div(class='flex flex-col gap-15px w-full')
    include ../form/form-text
    +radioOptions(options, inputName)


