
<div class="table-container">
  <table>
    <thead>
      <th>Vendor</th>
      <th>Client</th>
      <th>Location</th>
      <th class="w-[175px]">Website</th>
      <th class="w-[100px] text-center">State</th>
      <th class="w-[100px] text-center">Status</th>
      <th class="text-center">Date</th>
      <th>Actions</th>
    </thead>
    <tbody>
      <tr>
        <td>
          <div class="flex items-start gap-10px w-max h-40px"><img class="rounded-full border border-blackBlue" src="../assets/images/global/company.png" alt="Profile Image" title="Your profile image" width="35" height="35"/>
            <div class="flex flex-col gap-5px mb-5px"><span class="leading-[14px]">Partner Name 1</span><a class="text-blue text-[13px] leading-[13px]" href="#">View Partner Profile</a></div>
          </div>
        </td>
        <td>
          <div class="flex items-start gap-10px w-max h-40px">
            <div class="flex flex-col gap-5px"><span class="leading-[14px]">Test Lead Client 1</span><span class="text-textGray text-[13px] leading-[13px]">someusermail1@domain.com</span></div>
          </div>
        </td>
        <td>
          <div class="flex items-start gap-10px w-max h-40px">
            <div class="flex flex-col gap-5px"><span class="leading-[14px]">United Kingdom</span><span class="text-textGray text-[13px] leading-[13px]">North Europe</span></div>
          </div>
        </td>
        <td>
          <div class="flex items-start gap-10px w-max h-40px">
            <div class="flex flex-col gap-5px"><span class="leading-[14px]">https://somelongwebs...</span><a class="text-blue text-[13px] leading-[13px]" href="#">View Website</a></div>
          </div>
        </td>
        <td>
          <div class="flex items-start gap-10px w-full h-40px justify-center text-center">
            <div class="p-[8px] rounded-[6px] bg-elioGreen text-white w-max text-[12px] bg-elioGreen">Open</div>
          </div>
        </td>
        <td>
          <div class="flex items-start gap-10px w-full h-40px justify-center text-center">
            <div class="p-[8px] rounded-[6px] bg-elioGreen text-white w-max text-[12px] bg-yellow">Pending</div>
          </div>
        </td>
        <td class="text-center">2023/04/15</td>
        <td>
          <div class="flex items-center justify-end gap-10px w-full h-40px relative cell-actions pr-15px"><a class="actions-trigger" href="#"><img src="../assets/images/global/dots-actions.svg" alt="dots icon"/></a>
            <div class="actions-content flex flex-col rounded-8px py-20px px-10px absolute top-0 right-0 bg-white shadow-card w-max text-left hidden z-1"><a class="hover:bg-gray hover:text-blue py-10px px-10px rounded-4px" href="#">Edit Deal</a><a class="hover:bg-gray hover:text-blue py-10px px-10px rounded-4px" href="#">Delete Deal</a></div>
          </div>
        </td>
      </tr>
      <tr>
        <td>
          <div class="flex items-start gap-10px w-max h-40px"><img class="rounded-full border border-blackBlue" src="../assets/images/global/company.png" alt="Profile Image" title="Your profile image" width="35" height="35"/>
            <div class="flex flex-col gap-5px mb-5px"><span class="leading-[14px]">Partner Name 1</span><a class="text-blue text-[13px] leading-[13px]" href="#">View Partner Profile</a></div>
          </div>
        </td>
        <td>
          <div class="flex items-start gap-10px w-max h-40px">
            <div class="flex flex-col gap-5px"><span class="leading-[14px]">Test Lead Client 1</span><span class="text-textGray text-[13px] leading-[13px]">someusermail1@domain.com</span></div>
          </div>
        </td>
        <td>
          <div class="flex items-start gap-10px w-max h-40px">
            <div class="flex flex-col gap-5px"><span class="leading-[14px]">United Kingdom</span><span class="text-textGray text-[13px] leading-[13px]">North Europe</span></div>
          </div>
        </td>
        <td>
          <div class="flex items-start gap-10px w-max h-40px">
            <div class="flex flex-col gap-5px"><span class="leading-[14px]">https://somelongwebs...</span><a class="text-blue text-[13px] leading-[13px]" href="#">View Website</a></div>
          </div>
        </td>
        <td>
          <div class="flex items-start gap-10px w-full h-40px justify-center text-center">
            <div class="p-[8px] rounded-[6px] bg-elioGreen text-white w-max text-[12px] bg-elioGreen">Open</div>
          </div>
        </td>
        <td>
          <div class="flex items-start gap-10px w-full h-40px justify-center text-center">
            <div class="p-[8px] rounded-[6px] bg-elioGreen text-white w-max text-[12px] bg-yellow">Pending</div>
          </div>
        </td>
        <td class="text-center">2023/04/15</td>
        <td>
          <div class="flex items-center justify-end gap-10px w-full h-40px relative cell-actions pr-15px"><a class="actions-trigger" href="#"><img src="../assets/images/global/dots-actions.svg" alt="dots icon"/></a>
            <div class="actions-content flex flex-col rounded-8px py-20px px-10px absolute top-0 right-0 bg-white shadow-card w-max text-left hidden z-1"><a class="hover:bg-gray hover:text-blue py-10px px-10px rounded-4px" href="#">Edit Deal</a><a class="hover:bg-gray hover:text-blue py-10px px-10px rounded-4px" href="#">Delete Deal</a></div>
          </div>
        </td>
      </tr>
      <tr>
        <td>
          <div class="flex items-start gap-10px w-max h-40px"><img class="rounded-full border border-blackBlue" src="../assets/images/global/company.png" alt="Profile Image" title="Your profile image" width="35" height="35"/>
            <div class="flex flex-col gap-5px mb-5px"><span class="leading-[14px]">Partner Name 1</span><a class="text-blue text-[13px] leading-[13px]" href="#">View Partner Profile</a></div>
          </div>
        </td>
        <td>
          <div class="flex items-start gap-10px w-max h-40px">
            <div class="flex flex-col gap-5px"><span class="leading-[14px]">Test Lead Client 1</span><span class="text-textGray text-[13px] leading-[13px]">someusermail1@domain.com</span></div>
          </div>
        </td>
        <td>
          <div class="flex items-start gap-10px w-max h-40px">
            <div class="flex flex-col gap-5px"><span class="leading-[14px]">United Kingdom</span><span class="text-textGray text-[13px] leading-[13px]">North Europe</span></div>
          </div>
        </td>
        <td>
          <div class="flex items-start gap-10px w-max h-40px">
            <div class="flex flex-col gap-5px"><span class="leading-[14px]">https://somelongwebs...</span><a class="text-blue text-[13px] leading-[13px]" href="#">View Website</a></div>
          </div>
        </td>
        <td>
          <div class="flex items-start gap-10px w-full h-40px justify-center text-center">
            <div class="p-[8px] rounded-[6px] bg-elioGreen text-white w-max text-[12px] bg-elioGreen">Open</div>
          </div>
        </td>
        <td>
          <div class="flex items-start gap-10px w-full h-40px justify-center text-center">
            <div class="p-[8px] rounded-[6px] bg-elioGreen text-white w-max text-[12px] bg-elioGreen">Won</div>
          </div>
        </td>
        <td class="text-center">2023/04/15</td>
        <td>
          <div class="flex items-center justify-end gap-10px w-full h-40px relative cell-actions pr-15px"><a class="actions-trigger" href="#"><img src="../assets/images/global/dots-actions.svg" alt="dots icon"/></a>
            <div class="actions-content flex flex-col rounded-8px py-20px px-10px absolute top-0 right-0 bg-white shadow-card w-max text-left hidden z-1"><a class="hover:bg-gray hover:text-blue py-10px px-10px rounded-4px" href="#">Edit Deal</a><a class="hover:bg-gray hover:text-blue py-10px px-10px rounded-4px" href="#">Delete Deal</a></div>
          </div>
        </td>
      </tr>
      <tr>
        <td>
          <div class="flex items-start gap-10px w-max h-40px"><img class="rounded-full border border-blackBlue" src="../assets/images/global/company.png" alt="Profile Image" title="Your profile image" width="35" height="35"/>
            <div class="flex flex-col gap-5px mb-5px"><span class="leading-[14px]">Partner Name 1</span><a class="text-blue text-[13px] leading-[13px]" href="#">View Partner Profile</a></div>
          </div>
        </td>
        <td>
          <div class="flex items-start gap-10px w-max h-40px">
            <div class="flex flex-col gap-5px"><span class="leading-[14px]">Test Lead Client 1</span><span class="text-textGray text-[13px] leading-[13px]">someusermail1@domain.com</span></div>
          </div>
        </td>
        <td>
          <div class="flex items-start gap-10px w-max h-40px">
            <div class="flex flex-col gap-5px"><span class="leading-[14px]">United Kingdom</span><span class="text-textGray text-[13px] leading-[13px]">North Europe</span></div>
          </div>
        </td>
        <td>
          <div class="flex items-start gap-10px w-max h-40px">
            <div class="flex flex-col gap-5px"><span class="leading-[14px]">https://somelongwebs...</span><a class="text-blue text-[13px] leading-[13px]" href="#">View Website</a></div>
          </div>
        </td>
        <td>
          <div class="flex items-start gap-10px w-full h-40px justify-center text-center">
            <div class="p-[8px] rounded-[6px] bg-elioGreen text-white w-max text-[12px] bg-elioGreen">Open</div>
          </div>
        </td>
        <td>
          <div class="flex items-start gap-10px w-full h-40px justify-center text-center">
            <div class="p-[8px] rounded-[6px] bg-elioGreen text-white w-max text-[12px] bg-red">Lost</div>
          </div>
        </td>
        <td class="text-center">2023/04/15</td>
        <td>
          <div class="flex items-center justify-end gap-10px w-full h-40px relative cell-actions pr-15px"><a class="actions-trigger" href="#"><img src="../assets/images/global/dots-actions.svg" alt="dots icon"/></a>
            <div class="actions-content flex flex-col rounded-8px py-20px px-10px absolute top-0 right-0 bg-white shadow-card w-max text-left hidden z-1"><a class="hover:bg-gray hover:text-blue py-10px px-10px rounded-4px" href="#">Edit Deal</a><a class="hover:bg-gray hover:text-blue py-10px px-10px rounded-4px" href="#">Delete Deal</a></div>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>