
<div class="table-container">
  <table>
    <thead>
      <th class="border-r-2 border-gray text-blackBlue">Company</th>
      <th class="text-blackBlue pl-15px">Deals</th>
      <th>
        <div class="w-max">Won Lost</div>
      </th>
      <th class="border-r-2 border-gray">
        <div class="w-max">Avg size & cycle</div>
      </th>
      <th class="text-blackBlue pl-15px">Leads</th>
      <th class="border-r-2 border-gray">
        <div class="w-max">Won Lost</div>
      </th>
      <th class="text-blackBlue text-left pl-15px">
        <div class="w-full text-left">Opportunities</div>
      </th>
    </thead>
    <tbody>
      <tr>
        <td class="border-r-2 border-gray">
          <div class="flex items-start gap-10px w-max h-40px"><img class="rounded-full border border-blackBlue" src="../assets/images/global/company.png" alt="Profile Image" title="Your profile image" width="35" height="35"/>
            <div class="flex flex-col gap-5px mb-5px"><span class="leading-[14px]">Partner Name 1</span><a class="text-blue text-[13px] leading-[13px]" href="../templates/vendor-partner-directory-manage-partner.html">View Partner Profile</a></div>
          </div>
        </td>
        <td class="pl-15px">
          <div class="flex items-start gap-10px w-max h-40px">
            <div class="flex flex-col gap-5px text-left"><span class="leading-[14px]">46</span><span class="text-textGray text-[13px] leading-[13px]">$25,000</span></div>
          </div>
        </td>
        <td>
          <div class="flex items-start gap-10px w-max h-40px">
            <div class="flex flex-col gap-5px text-left"><span class="leading-[14px]">5/5</span><span class="text-textGray text-[13px] leading-[13px]">100%</span></div>
          </div>
        </td>
        <td class="border-r-2 border-gray">
          <div class="flex items-start gap-10px w-max h-40px">
            <div class="flex flex-col gap-5px text-left"><span class="leading-[14px]">$5,000</span><span class="text-textGray text-[13px] leading-[13px]">10 days</span></div>
          </div>
        </td>
        <td class="pl-15px">
          <div class="flex items-start gap-10px w-max h-40px">
            <div class="flex flex-col gap-5px text-left"><span class="leading-[14px]">32</span><span class="text-textGray text-[13px] leading-[13px]">$25,000</span></div>
          </div>
        </td>
        <td class="border-r-2 border-gray">
          <div class="flex items-start gap-10px w-max h-40px">
            <div class="flex flex-col gap-5px text-left"><span class="leading-[14px]">5/5</span><span class="text-textGray text-[13px] leading-[13px]">100%</span></div>
          </div>
        </td>
        <td class="pl-15px">
          <div class="flex items-start gap-10px w-max h-40px">
            <div class="flex flex-col gap-5px">
              <div class="flex items-center gap-3px"><span class="leading-[14px]">8</span><span class="leading-[14px] text-textGray">leads</span></div>
              <div class="flex items-center gap-3px"><span class="leading-[14px]">2</span><span class="leading-[14px] text-textGray">deals</span></div>
            </div>
          </div>
        </td>
      </tr>
      <tr>
        <td class="border-r-2 border-gray">
          <div class="flex items-start gap-10px w-max h-40px"><img class="rounded-full border border-blackBlue" src="../assets/images/global/company.png" alt="Profile Image" title="Your profile image" width="35" height="35"/>
            <div class="flex flex-col gap-5px mb-5px"><span class="leading-[14px]">Partner Name 1</span><a class="text-blue text-[13px] leading-[13px]" href="../templates/vendor-partner-directory-manage-partner.html">View Partner Profile</a></div>
          </div>
        </td>
        <td class="pl-15px">
          <div class="flex items-start gap-10px w-max h-40px">
            <div class="flex flex-col gap-5px text-left"><span class="leading-[14px]">46</span><span class="text-textGray text-[13px] leading-[13px]">$25,000</span></div>
          </div>
        </td>
        <td>
          <div class="flex items-start gap-10px w-max h-40px">
            <div class="flex flex-col gap-5px text-left"><span class="leading-[14px]">5/5</span><span class="text-textGray text-[13px] leading-[13px]">100%</span></div>
          </div>
        </td>
        <td class="border-r-2 border-gray">
          <div class="flex items-start gap-10px w-max h-40px">
            <div class="flex flex-col gap-5px text-left"><span class="leading-[14px]">$5,000</span><span class="text-textGray text-[13px] leading-[13px]">10 days</span></div>
          </div>
        </td>
        <td class="pl-15px">
          <div class="flex items-start gap-10px w-max h-40px">
            <div class="flex flex-col gap-5px text-left"><span class="leading-[14px]">32</span><span class="text-textGray text-[13px] leading-[13px]">$25,000</span></div>
          </div>
        </td>
        <td class="border-r-2 border-gray">
          <div class="flex items-start gap-10px w-max h-40px">
            <div class="flex flex-col gap-5px text-left"><span class="leading-[14px]">5/5</span><span class="text-textGray text-[13px] leading-[13px]">100%</span></div>
          </div>
        </td>
        <td class="pl-15px">
          <div class="flex items-start gap-10px w-max h-40px">
            <div class="flex flex-col gap-5px">
              <div class="flex items-center gap-3px"><span class="leading-[14px]">8</span><span class="leading-[14px] text-textGray">leads</span></div>
              <div class="flex items-center gap-3px"><span class="leading-[14px]">2</span><span class="leading-[14px] text-textGray">deals</span></div>
            </div>
          </div>
        </td>
      </tr>
      <tr>
        <td class="border-r-2 border-gray">
          <div class="flex items-start gap-10px w-max h-40px"><img class="rounded-full border border-blackBlue" src="../assets/images/global/company.png" alt="Profile Image" title="Your profile image" width="35" height="35"/>
            <div class="flex flex-col gap-5px mb-5px"><span class="leading-[14px]">Partner Name 1</span><a class="text-blue text-[13px] leading-[13px]" href="../templates/vendor-partner-directory-manage-partner.html">View Partner Profile</a></div>
          </div>
        </td>
        <td class="pl-15px">
          <div class="flex items-start gap-10px w-max h-40px">
            <div class="flex flex-col gap-5px text-left"><span class="leading-[14px]">46</span><span class="text-textGray text-[13px] leading-[13px]">$25,000</span></div>
          </div>
        </td>
        <td>
          <div class="flex items-start gap-10px w-max h-40px">
            <div class="flex flex-col gap-5px text-left"><span class="leading-[14px]">5/5</span><span class="text-textGray text-[13px] leading-[13px]">100%</span></div>
          </div>
        </td>
        <td class="border-r-2 border-gray">
          <div class="flex items-start gap-10px w-max h-40px">
            <div class="flex flex-col gap-5px text-left"><span class="leading-[14px]">$5,000</span><span class="text-textGray text-[13px] leading-[13px]">10 days</span></div>
          </div>
        </td>
        <td class="pl-15px">
          <div class="flex items-start gap-10px w-max h-40px">
            <div class="flex flex-col gap-5px text-left"><span class="leading-[14px]">32</span><span class="text-textGray text-[13px] leading-[13px]">$25,000</span></div>
          </div>
        </td>
        <td class="border-r-2 border-gray">
          <div class="flex items-start gap-10px w-max h-40px">
            <div class="flex flex-col gap-5px text-left"><span class="leading-[14px]">5/5</span><span class="text-textGray text-[13px] leading-[13px]">100%</span></div>
          </div>
        </td>
        <td class="pl-15px">
          <div class="flex items-start gap-10px w-max h-40px">
            <div class="flex flex-col gap-5px">
              <div class="flex items-center gap-3px"><span class="leading-[14px]">8</span><span class="leading-[14px] text-textGray">leads</span></div>
              <div class="flex items-center gap-3px"><span class="leading-[14px]">2</span><span class="leading-[14px] text-textGray">deals</span></div>
            </div>
          </div>
        </td>
      </tr>
      <tr>
        <td class="border-r-2 border-gray">
          <div class="flex items-start gap-10px w-max h-40px"><img class="rounded-full border border-blackBlue" src="../assets/images/global/company.png" alt="Profile Image" title="Your profile image" width="35" height="35"/>
            <div class="flex flex-col gap-5px mb-5px"><span class="leading-[14px]">Partner Name 1</span><a class="text-blue text-[13px] leading-[13px]" href="../templates/vendor-partner-directory-manage-partner.html">View Partner Profile</a></div>
          </div>
        </td>
        <td class="pl-15px">
          <div class="flex items-start gap-10px w-max h-40px">
            <div class="flex flex-col gap-5px text-left"><span class="leading-[14px]">46</span><span class="text-textGray text-[13px] leading-[13px]">$25,000</span></div>
          </div>
        </td>
        <td>
          <div class="flex items-start gap-10px w-max h-40px">
            <div class="flex flex-col gap-5px text-left"><span class="leading-[14px]">5/5</span><span class="text-textGray text-[13px] leading-[13px]">100%</span></div>
          </div>
        </td>
        <td class="border-r-2 border-gray">
          <div class="flex items-start gap-10px w-max h-40px">
            <div class="flex flex-col gap-5px text-left"><span class="leading-[14px]">$5,000</span><span class="text-textGray text-[13px] leading-[13px]">10 days</span></div>
          </div>
        </td>
        <td class="pl-15px">
          <div class="flex items-start gap-10px w-max h-40px">
            <div class="flex flex-col gap-5px text-left"><span class="leading-[14px]">32</span><span class="text-textGray text-[13px] leading-[13px]">$25,000</span></div>
          </div>
        </td>
        <td class="border-r-2 border-gray">
          <div class="flex items-start gap-10px w-max h-40px">
            <div class="flex flex-col gap-5px text-left"><span class="leading-[14px]">5/5</span><span class="text-textGray text-[13px] leading-[13px]">100%</span></div>
          </div>
        </td>
        <td class="pl-15px">
          <div class="flex items-start gap-10px w-max h-40px">
            <div class="flex flex-col gap-5px">
              <div class="flex items-center gap-3px"><span class="leading-[14px]">8</span><span class="leading-[14px] text-textGray">leads</span></div>
              <div class="flex items-center gap-3px"><span class="leading-[14px]">2</span><span class="leading-[14px] text-textGray">deals</span></div>
            </div>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>