
<div class="table-container">
  <table>
    <thead>
      <th>Partner Company</th>
      <th>Task</th>
      <th>Opportunity</th>
      <th class="text-center">Task Date</th>
      <th class="text-center">Last Modified</th>
      <th><span class="text-center w-full block">Task Actions</span></th>
    </thead>
    <tbody>
      <tr>
        <td>
          <div class="flex items-start gap-10px w-max h-40px"><img class="rounded-full border border-blackBlue" src="../assets/images/global/company.png" alt="Profile Image" title="Your profile image" width="35" height="35"/>
            <div class="flex flex-col gap-5px mb-5px"><span class="leading-[14px]">Partner Name 1</span><a class="text-blue text-[13px] leading-[13px]" href="#">View Partner Profile</a></div>
          </div>
        </td>
        <td>
          <div class="flex items-start gap-10px w-max h-40px">
            <div class="flex flex-col gap-5px text-left"><span class="leading-[14px]">Task Subject here</span><span class="text-textGray text-[13px] leading-[13px]">Some small basic display of the task content...</span></div>
          </div>
        </td>
        <td>
          <div class="flex items-start gap-10px w-max h-40px">
            <div class="flex flex-col gap-5px text-left"><span class="leading-[14px]">Presentation</span><span class="text-textGray text-[13px] leading-[13px]">Status</span></div>
          </div>
        </td>
        <td class="text-center">2023/04/15</td>
        <td class="text-center">2023/04/15</td>
        <td>
          <div class="flex items-center justify-center gap-10px w-full h-40px relative"><a class="flex items-center gap-5px text-sm text-blackBlue" href="#"><img src="../assets/images/global/edit-gray.svg" alt="Edit icon"/><span>Edit</span></a><a class="flex items-center gap-5px text-sm  text-red" href="#"><img src="../assets/images/global/delete-red.svg" alt="Delete icon"/><span>Delete</span></a></div>
        </td>
      </tr>
      <tr>
        <td>
          <div class="flex items-start gap-10px w-max h-40px"><img class="rounded-full border border-blackBlue" src="../assets/images/global/company.png" alt="Profile Image" title="Your profile image" width="35" height="35"/>
            <div class="flex flex-col gap-5px mb-5px"><span class="leading-[14px]">Partner Name 1</span><a class="text-blue text-[13px] leading-[13px]" href="#">View Partner Profile</a></div>
          </div>
        </td>
        <td>
          <div class="flex items-start gap-10px w-max h-40px">
            <div class="flex flex-col gap-5px text-left"><span class="leading-[14px]">Task Subject here</span><span class="text-textGray text-[13px] leading-[13px]">Some small basic display of the task content...</span></div>
          </div>
        </td>
        <td>
          <div class="flex items-start gap-10px w-max h-40px">
            <div class="flex flex-col gap-5px text-left"><span class="leading-[14px]">Presentation</span><span class="text-textGray text-[13px] leading-[13px]">Status</span></div>
          </div>
        </td>
        <td class="text-center">2023/04/15</td>
        <td class="text-center">2023/04/15</td>
        <td>
          <div class="flex items-center justify-center gap-10px w-full h-40px relative"><a class="flex items-center gap-5px text-sm text-blackBlue" href="#"><img src="../assets/images/global/edit-gray.svg" alt="Edit icon"/><span>Edit</span></a><a class="flex items-center gap-5px text-sm  text-red" href="#"><img src="../assets/images/global/delete-red.svg" alt="Delete icon"/><span>Delete</span></a></div>
        </td>
      </tr>
      <tr>
        <td>
          <div class="flex items-start gap-10px w-max h-40px"><img class="rounded-full border border-blackBlue" src="../assets/images/global/company.png" alt="Profile Image" title="Your profile image" width="35" height="35"/>
            <div class="flex flex-col gap-5px mb-5px"><span class="leading-[14px]">Partner Name 1</span><a class="text-blue text-[13px] leading-[13px]" href="#">View Partner Profile</a></div>
          </div>
        </td>
        <td>
          <div class="flex items-start gap-10px w-max h-40px">
            <div class="flex flex-col gap-5px text-left"><span class="leading-[14px]">Task Subject here</span><span class="text-textGray text-[13px] leading-[13px]">Some small basic display of the task content...</span></div>
          </div>
        </td>
        <td>
          <div class="flex items-start gap-10px w-max h-40px">
            <div class="flex flex-col gap-5px text-left"><span class="leading-[14px]">Presentation</span><span class="text-textGray text-[13px] leading-[13px]">Status</span></div>
          </div>
        </td>
        <td class="text-center">2023/04/15</td>
        <td class="text-center">2023/04/15</td>
        <td>
          <div class="flex items-center justify-center gap-10px w-full h-40px relative"><a class="flex items-center gap-5px text-sm text-blackBlue" href="#"><img src="../assets/images/global/edit-gray.svg" alt="Edit icon"/><span>Edit</span></a><a class="flex items-center gap-5px text-sm  text-red" href="#"><img src="../assets/images/global/delete-red.svg" alt="Delete icon"/><span>Delete</span></a></div>
        </td>
      </tr>
      <tr>
        <td>
          <div class="flex items-start gap-10px w-max h-40px"><img class="rounded-full border border-blackBlue" src="../assets/images/global/company.png" alt="Profile Image" title="Your profile image" width="35" height="35"/>
            <div class="flex flex-col gap-5px mb-5px"><span class="leading-[14px]">Partner Name 1</span><a class="text-blue text-[13px] leading-[13px]" href="#">View Partner Profile</a></div>
          </div>
        </td>
        <td>
          <div class="flex items-start gap-10px w-max h-40px">
            <div class="flex flex-col gap-5px text-left"><span class="leading-[14px]">Task Subject here</span><span class="text-textGray text-[13px] leading-[13px]">Some small basic display of the task content...</span></div>
          </div>
        </td>
        <td>
          <div class="flex items-start gap-10px w-max h-40px">
            <div class="flex flex-col gap-5px text-left"><span class="leading-[14px]">Presentation</span><span class="text-textGray text-[13px] leading-[13px]">Status</span></div>
          </div>
        </td>
        <td class="text-center">2023/04/15</td>
        <td class="text-center">2023/04/15</td>
        <td>
          <div class="flex items-center justify-center gap-10px w-full h-40px relative"><a class="flex items-center gap-5px text-sm text-blackBlue" href="#"><img src="../assets/images/global/edit-gray.svg" alt="Edit icon"/><span>Edit</span></a><a class="flex items-center gap-5px text-sm  text-red" href="#"><img src="../assets/images/global/delete-red.svg" alt="Delete icon"/><span>Delete</span></a></div>
        </td>
      </tr>
    </tbody>
  </table>
</div>