
<div class="table-container">
  <table>
    <thead>
      <th>CRM Integration</th>
      <th>Status</th>
      <th>Api Key</th>
      <th>
        <div class="text-left">Useful Links</div>
      </th>
    </thead>
    <tbody>
      <tr>
        <td>
          <div class="flex items-center gap-10px w-max h-40px"><img src="../assets/images/integrations/crm-small-1.png" alt="Hubspot CRM" title="Hubspot CRM"/>
            <div class="flex flex-col gap-5px mb-5px">Hubspot CRM</div>
          </div>
        </td>
        <td>
          <div class="flex items-center gap-15px w-max h-40px">
            <div class="flex items-center gap-5px">
              <div class="w-[12px] h-[12px] rounded-full bg-green"></div>
              <div class="lead-[14px]">Active Integration</div>
            </div>
            <label class="relative inline-flex items-center gap-5px cursor-pointer">
              <input class="sr-only peer" type="checkbox" value="" name="hubspot_enable"/>
              <div class="w-11 h-6 border-blackBlue border peer-focus:outline-none  rounded-full peer  peer-checked:after:translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[5px] after:left-[5px] after:bg-white after:border-blackBlue after:border after:rounded-full after:h-[15px] after:w-[15px] after:transition-all peer-checked:bg-blue peer-checked:border-blue"></div><span class="text-sm mb-2px font-semibold">Toggle to enable</span>
            </label>
          </div>
        </td>
        <td>
          <div class="flex items-center gap-10px w-max h-40px relative"><span>●●●●●●a86d18</span><a class="flex items-center gap-5px text-sm text-textGray" href="#"><img src="../assets/images/global/edit-gray.svg" alt="Edit icon"/><span>Edit</span></a>
          </div>
        </td>
        <td><a class="flex items-center gap-5px text-sm text-textGray hover:text-blue w-max" href="#"><img src="../assets/images/global/info-gray.svg" alt="Edit icon"/><span>Find my Api Key</span></a>
        </td>
      </tr>
      <tr>
        <td>
          <div class="flex items-center gap-10px w-max h-40px"><img src="../assets/images/integrations/crm-small-2.png" alt="Microsoft Dynamic CRM" title="Microsoft Dynamic CRM"/>
            <div class="flex flex-col gap-5px mb-5px">Microsoft Dynamic CRM</div>
          </div>
        </td>
        <td>
          <div class="flex items-center gap-15px w-max h-40px">
            <div class="flex items-center gap-5px">
              <div class="w-[12px] h-[12px] rounded-full bg-iconGray"></div>
              <div class="lead-[14px]">Inactive Integration</div>
            </div>
            <label class="relative inline-flex items-center gap-5px cursor-pointer">
              <input class="sr-only peer" type="checkbox" value="" name="microsoft_enable"/>
              <div class="w-11 h-6 border-blackBlue border peer-focus:outline-none  rounded-full peer  peer-checked:after:translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[5px] after:left-[5px] after:bg-white after:border-blackBlue after:border after:rounded-full after:h-[15px] after:w-[15px] after:transition-all peer-checked:bg-blue peer-checked:border-blue"></div><span class="text-sm mb-2px font-semibold">Toggle to enable</span>
            </label>
          </div>
        </td>
        <td>
          <div class="flex items-center gap-10px w-max h-40px relative"><span>No API Key</span><a class="flex items-center gap-5px text-sm text-textGray" href="#"><img src="../assets/images/global/edit-gray.svg" alt="Edit icon"/><span>Add a key</span></a>
          </div>
        </td>
        <td><a class="flex items-center gap-5px text-sm text-textGray hover:text-blue w-max" href="#"><img src="../assets/images/global/info-gray.svg" alt="Edit icon"/><span>Find my Api Key</span></a>
        </td>
      </tr>
      <tr>
        <td>
          <div class="flex items-center gap-10px w-max h-40px"><img src="../assets/images/integrations/crm-small-3.png" alt="Salesforce CRMM" title="Salesforce CRMM"/>
            <div class="flex flex-col gap-5px mb-5px">Salesforce CRMM</div>
          </div>
        </td>
        <td>
          <div class="flex items-center gap-15px w-max h-40px">
            <div class="flex items-center gap-5px">
              <div class="w-[12px] h-[12px] rounded-full bg-red"></div>
              <div class="lead-[14px]">Not Available - Coming soon</div>
            </div>
            <label class="relative inline-flex items-center gap-5px cursor-pointer">
              <input class="sr-only peer" type="checkbox" value="" name="microsoft_enable"/>
              <div class="w-11 h-6 border-blackBlue border peer-focus:outline-none  rounded-full peer  peer-checked:after:translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[5px] after:left-[5px] after:bg-white after:border-blackBlue after:border after:rounded-full after:h-[15px] after:w-[15px] after:transition-all peer-checked:bg-blue peer-checked:border-blue"></div><span class="text-sm mb-2px font-semibold">Toggle to enable</span>
            </label>
          </div>
        </td>
        <td>
          <div class="flex items-center gap-10px w-max h-40px relative"><span>No API Key</span><a class="flex items-center gap-5px text-sm text-textGray" href="#"><img src="../assets/images/global/edit-gray.svg" alt="Edit icon"/><span>Add a key</span></a>
          </div>
        </td>
        <td><a class="flex items-center gap-5px text-sm text-textGray hover:text-blue w-max" href="#"><img src="../assets/images/global/info-gray.svg" alt="Edit icon"/><span>Find my Api Key</span></a>
        </td>
      </tr>
    </tbody>
  </table>
</div>