
<div class="table-container w-full">
  <table>
    <thead>
      <th>From</th>
      <th>Subject</th>
      <th>
        <div class="text-center w-full">Date</div>
      </th>
      <th>
        <div class="text-center w-full">Actions</div>
      </th>
    </thead>
    <tbody>
      <tr>
        <td><a href="#">TestSender</a></td>
        <td>
          <div class="w-max">Reseller in Africa</div>
        </td>
        <td class="text-center">22/04/2023</td>
        <td>
          <div class="flex items-center justify-center gap-10px w-full h-40px relative"><a class="btn bg-blue text-white rounded-full px-7px" href="#"><img src="../assets/images/global/invite-white.svg" alt="Invite icon"/></a><a class="btn bg-iconGray text-white rounded-full px-7px" href="#"><img src="../assets/images/global/delete-white.svg" alt="Accept icon"/></a></div>
        </td>
      </tr>
      <tr>
        <td><a href="#">TestSender</a></td>
        <td>Reseller in Africa</td>
        <td class="text-center">22/04/2023</td>
        <td>
          <div class="flex items-center justify-center gap-10px w-full h-40px relative"><a class="btn bg-blue text-white rounded-full px-7px" href="#"><img src="../assets/images/global/invite-white.svg" alt="Invite icon"/></a><a class="btn bg-iconGray text-white rounded-full px-7px" href="#"><img src="../assets/images/global/delete-white.svg" alt="Accept icon"/></a></div>
        </td>
      </tr>
      <tr>
        <td><a href="#">TestSender</a></td>
        <td>
          <div class="w-max"> Reseller in Africa</div>
        </td>
        <td class="text-center">22/04/2023</td>
        <td>
          <div class="flex items-center justify-center gap-10px w-full h-40px relative"><a class="btn bg-blue text-white rounded-full px-7px" href="#"><img src="../assets/images/global/invite-white.svg" alt="Invite icon"/></a><a class="btn bg-iconGray text-white rounded-full px-7px" href="#"><img src="../assets/images/global/delete-white.svg" alt="Accept icon"/></a></div>
        </td>
      </tr>
      <tr>
        <td><a href="#">TestSender</a></td>
        <td>
          <div class="w-max">Reseller in Africa</div>
        </td>
        <td class="text-center">22/04/2023</td>
        <td>
          <div class="flex items-center justify-center gap-10px w-full h-40px relative"><a class="btn bg-blue text-white rounded-full px-7px" href="#"><img src="../assets/images/global/invite-white.svg" alt="Invite icon"/></a><a class="btn bg-iconGray text-white rounded-full px-7px" href="#"><img src="../assets/images/global/delete-white.svg" alt="Accept icon"/></a></div>
        </td>
      </tr>
      <tr>
        <td><a href="#">TestSender</a></td>
        <td>
          <div class="w-max">Reseller in Africa</div>
        </td>
        <td class="text-center">22/04/2023</td>
        <td>
          <div class="flex items-center justify-center gap-10px w-full h-40px relative"><a class="btn bg-blue text-white rounded-full px-7px" href="#"><img src="../assets/images/global/invite-white.svg" alt="Invite icon"/></a><a class="btn bg-iconGray text-white rounded-full px-7px" href="#"><img src="../assets/images/global/delete-white.svg" alt="Accept icon"/></a></div>
        </td>
      </tr>
    </tbody>
  </table>
</div>