
<div class="table-container">
  <table>
    <thead>
      <th>Permission Actions</th>
      <th class="text-center">View</th>
      <th class="text-center">Add</th>
      <th class="text-center">Edit</th>
      <th class="text-center">Delete</th>
      <th class="text-center">Invite</th>
      <th class="text-center">Assign</th>
      <th>
        <div class="w-full text-center">Upload</div>
      </th>
    </thead>
    <tbody>
      <tr>
        <td>Deal Registration</td>
        <td>
          <div class="flex items-center justify-center gap-10px w-full h-40px">
            <input type="checkbox" id="partnerID" name="partner_requests"/>
          </div>
        </td>
        <td>
          <div class="flex items-center justify-center gap-10px w-full h-40px">
            <input type="checkbox" id="partnerID" name="partner_requests"/>
          </div>
        </td>
        <td>
          <div class="flex items-center justify-center gap-10px w-full h-40px">
            <input type="checkbox" id="partnerID" name="partner_requests"/>
          </div>
        </td>
        <td>
          <div class="flex items-center justify-center gap-10px w-full h-40px">
            <input type="checkbox" id="partnerID" name="partner_requests"/>
          </div>
        </td>
        <td>
          <div class="flex items-center justify-center gap-10px w-full h-40px">
            <input type="checkbox" id="partnerID" name="partner_requests"/>
          </div>
        </td>
        <td>
          <div class="flex items-center justify-center gap-10px w-full h-40px">
            <input type="checkbox" id="partnerID" name="partner_requests"/>
          </div>
        </td>
        <td>
          <div class="flex items-center justify-center gap-10px w-full h-40px">
            <input type="checkbox" id="partnerID" name="partner_requests"/>
          </div>
        </td>
      </tr>
      <tr>
        <td>Lead Distribution</td>
        <td>
          <div class="flex items-center justify-center gap-10px w-full h-40px">
            <input type="checkbox" id="partnerID" name="partner_requests"/>
          </div>
        </td>
        <td>
          <div class="flex items-center justify-center gap-10px w-full h-40px">
            <input type="checkbox" id="partnerID" name="partner_requests"/>
          </div>
        </td>
        <td>
          <div class="flex items-center justify-center gap-10px w-full h-40px">
            <input type="checkbox" id="partnerID" name="partner_requests"/>
          </div>
        </td>
        <td>
          <div class="flex items-center justify-center gap-10px w-full h-40px">
            <input type="checkbox" id="partnerID" name="partner_requests"/>
          </div>
        </td>
        <td>
          <div class="flex items-center justify-center gap-10px w-full h-40px">
            <input type="checkbox" id="partnerID" name="partner_requests"/>
          </div>
        </td>
        <td>
          <div class="flex items-center justify-center gap-10px w-full h-40px">
            <input type="checkbox" id="partnerID" name="partner_requests"/>
          </div>
        </td>
        <td>
          <div class="flex items-center justify-center gap-10px w-full h-40px">
            <input type="checkbox" id="partnerID" name="partner_requests"/>
          </div>
        </td>
      </tr>
      <tr>
        <td>Team Member</td>
        <td>
          <div class="flex items-center justify-center gap-10px w-full h-40px">
            <input type="checkbox" id="partnerID" name="partner_requests"/>
          </div>
        </td>
        <td>
          <div class="flex items-center justify-center gap-10px w-full h-40px">
            <input type="checkbox" id="partnerID" name="partner_requests"/>
          </div>
        </td>
        <td>
          <div class="flex items-center justify-center gap-10px w-full h-40px">
            <input type="checkbox" id="partnerID" name="partner_requests"/>
          </div>
        </td>
        <td>
          <div class="flex items-center justify-center gap-10px w-full h-40px">
            <input type="checkbox" id="partnerID" name="partner_requests"/>
          </div>
        </td>
        <td>
          <div class="flex items-center justify-center gap-10px w-full h-40px">
            <input type="checkbox" id="partnerID" name="partner_requests"/>
          </div>
        </td>
        <td>
          <div class="flex items-center justify-center gap-10px w-full h-40px">
            <input type="checkbox" id="partnerID" name="partner_requests"/>
          </div>
        </td>
        <td>
          <div class="flex items-center justify-center gap-10px w-full h-40px">
            <input type="checkbox" id="partnerID" name="partner_requests"/>
          </div>
        </td>
      </tr>
      <tr>
        <td>Manage Partner</td>
        <td>
          <div class="flex items-center justify-center gap-10px w-full h-40px">
            <input type="checkbox" id="partnerID" name="partner_requests"/>
          </div>
        </td>
        <td>
          <div class="flex items-center justify-center gap-10px w-full h-40px">
            <input type="checkbox" id="partnerID" name="partner_requests"/>
          </div>
        </td>
        <td>
          <div class="flex items-center justify-center gap-10px w-full h-40px">
            <input type="checkbox" id="partnerID" name="partner_requests"/>
          </div>
        </td>
        <td>
          <div class="flex items-center justify-center gap-10px w-full h-40px">
            <input type="checkbox" id="partnerID" name="partner_requests"/>
          </div>
        </td>
        <td>
          <div class="flex items-center justify-center gap-10px w-full h-40px">
            <input type="checkbox" id="partnerID" name="partner_requests"/>
          </div>
        </td>
        <td>
          <div class="flex items-center justify-center gap-10px w-full h-40px">
            <input type="checkbox" id="partnerID" name="partner_requests"/>
          </div>
        </td>
        <td>
          <div class="flex items-center justify-center gap-10px w-full h-40px">
            <input type="checkbox" id="partnerID" name="partner_requests"/>
          </div>
        </td>
      </tr>
      <tr>
        <td>Manage Tier</td>
        <td>
          <div class="flex items-center justify-center gap-10px w-full h-40px">
            <input type="checkbox" id="partnerID" name="partner_requests"/>
          </div>
        </td>
        <td>
          <div class="flex items-center justify-center gap-10px w-full h-40px">
            <input type="checkbox" id="partnerID" name="partner_requests"/>
          </div>
        </td>
        <td>
          <div class="flex items-center justify-center gap-10px w-full h-40px">
            <input type="checkbox" id="partnerID" name="partner_requests"/>
          </div>
        </td>
        <td>
          <div class="flex items-center justify-center gap-10px w-full h-40px">
            <input type="checkbox" id="partnerID" name="partner_requests"/>
          </div>
        </td>
        <td>
          <div class="flex items-center justify-center gap-10px w-full h-40px">
            <input type="checkbox" id="partnerID" name="partner_requests"/>
          </div>
        </td>
        <td>
          <div class="flex items-center justify-center gap-10px w-full h-40px">
            <input type="checkbox" id="partnerID" name="partner_requests"/>
          </div>
        </td>
        <td>
          <div class="flex items-center justify-center gap-10px w-full h-40px">
            <input type="checkbox" id="partnerID" name="partner_requests"/>
          </div>
        </td>
      </tr>
      <tr>
        <td>Partner Onboarding</td>
        <td>
          <div class="flex items-center justify-center gap-10px w-full h-40px">
            <input type="checkbox" id="partnerID" name="partner_requests"/>
          </div>
        </td>
        <td>
          <div class="flex items-center justify-center gap-10px w-full h-40px">
            <input type="checkbox" id="partnerID" name="partner_requests"/>
          </div>
        </td>
        <td>
          <div class="flex items-center justify-center gap-10px w-full h-40px">
            <input type="checkbox" id="partnerID" name="partner_requests"/>
          </div>
        </td>
        <td>
          <div class="flex items-center justify-center gap-10px w-full h-40px">
            <input type="checkbox" id="partnerID" name="partner_requests"/>
          </div>
        </td>
        <td>
          <div class="flex items-center justify-center gap-10px w-full h-40px">
            <input type="checkbox" id="partnerID" name="partner_requests"/>
          </div>
        </td>
        <td>
          <div class="flex items-center justify-center gap-10px w-full h-40px">
            <input type="checkbox" id="partnerID" name="partner_requests"/>
          </div>
        </td>
        <td>
          <div class="flex items-center justify-center gap-10px w-full h-40px">
            <input type="checkbox" id="partnerID" name="partner_requests"/>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>