
<div class="table-container">
  <table>
    <thead>
      <th>Partner Company</th>
      <th>Email</th>
      <th>Phone</th>
      <th><span class="text-left w-full block">Company Role</span></th>
    </thead>
    <tbody>
      <tr>
        <td>
          <div class="flex items-start gap-10px w-max h-40px">
            <div class="flex flex-col gap-5px"><span class="leading-[14px]"></span><a class="text-blue text-[13px] leading-[13px]" href="#">View Linkedin</a></div>
          </div>
        </td>
        <td>
          <div class="flex items-start gap-10px w-max h-40px">
            <div class="flex flex-col gap-5px"><span class="leading-[14px]">info@partner1domain.com</span><a class="text-blue text-[13px] leading-[13px]" href="#">Send email</a></div>
          </div>
        </td>
        <td>
          <div class="flex items-start gap-10px w-max h-40px">
            <div class="flex flex-col gap-5px"><span class="leading-[14px]">+30 987456987</span><a class="text-blue text-[13px] leading-[13px]" href="#">Call Partner</a></div>
          </div>
        </td>
        <td class="text-left">
          <div class="flex items-start gap-10px w-max h-40px">
            <div class="flex flex-col gap-5px text-left"><span class="leading-[14px]">Marketing Manager</span><span class="text-textGray text-[13px] leading-[13px]">Position</span></div>
          </div>
        </td>
      </tr>
      <tr>
        <td>
          <div class="flex items-start gap-10px w-max h-40px">
            <div class="flex flex-col gap-5px"><span class="leading-[14px]">+30 987456987</span><a class="text-blue text-[13px] leading-[13px]" href="#">View Linkedin</a></div>
          </div>
        </td>
        <td>
          <div class="flex items-start gap-10px w-max h-40px">
            <div class="flex flex-col gap-5px"><span class="leading-[14px]">info@partner1domain.com</span><a class="text-blue text-[13px] leading-[13px]" href="#">Send email</a></div>
          </div>
        </td>
        <td>
          <div class="flex items-start gap-10px w-max h-40px">
            <div class="flex flex-col gap-5px"><span class="leading-[14px]">+30 987456987</span><a class="text-blue text-[13px] leading-[13px]" href="#">Call Partner</a></div>
          </div>
        </td>
        <td class="text-left">
          <div class="flex items-start gap-10px w-max h-40px">
            <div class="flex flex-col gap-5px text-left"><span class="leading-[14px]">Marketing Manager</span><span class="text-textGray text-[13px] leading-[13px]">Position</span></div>
          </div>
        </td>
      </tr>
      <tr>
        <td>
          <div class="flex items-start gap-10px w-max h-40px">
            <div class="flex flex-col gap-5px"><span class="leading-[14px]">+30 987456987</span><a class="text-blue text-[13px] leading-[13px]" href="#">View Linkedin</a></div>
          </div>
        </td>
        <td>
          <div class="flex items-start gap-10px w-max h-40px">
            <div class="flex flex-col gap-5px"><span class="leading-[14px]">info@partner1domain.com</span><a class="text-blue text-[13px] leading-[13px]" href="#">Send email</a></div>
          </div>
        </td>
        <td>
          <div class="flex items-start gap-10px w-max h-40px">
            <div class="flex flex-col gap-5px"><span class="leading-[14px]">+30 987456987</span><a class="text-blue text-[13px] leading-[13px]" href="#">Call Partner</a></div>
          </div>
        </td>
        <td class="text-left">
          <div class="flex items-start gap-10px w-max h-40px">
            <div class="flex flex-col gap-5px text-left"><span class="leading-[14px]">Marketing Manager</span><span class="text-textGray text-[13px] leading-[13px]">Position</span></div>
          </div>
        </td>
      </tr>
      <tr>
        <td>
          <div class="flex items-start gap-10px w-max h-40px">
            <div class="flex flex-col gap-5px"><span class="leading-[14px]">+30 987456987</span><a class="text-blue text-[13px] leading-[13px]" href="#">View Linkedin</a></div>
          </div>
        </td>
        <td>
          <div class="flex items-start gap-10px w-max h-40px">
            <div class="flex flex-col gap-5px"><span class="leading-[14px]">info@partner1domain.com</span><a class="text-blue text-[13px] leading-[13px]" href="#">Send email</a></div>
          </div>
        </td>
        <td>
          <div class="flex items-start gap-10px w-max h-40px">
            <div class="flex flex-col gap-5px"><span class="leading-[14px]">+30 987456987</span><a class="text-blue text-[13px] leading-[13px]" href="#">Call Partner</a></div>
          </div>
        </td>
        <td class="text-left">
          <div class="flex items-start gap-10px w-max h-40px">
            <div class="flex flex-col gap-5px text-left"><span class="leading-[14px]">Marketing Manager</span><span class="text-textGray text-[13px] leading-[13px]">Position</span></div>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>