
<div class="table-container">
  <table>
    <thead>
      <th>Name</th>
      <th>Email</th>
      <th>Invitation</th>
      <th>User Role</th>
      <th>Position</th>
      <th><span class="text-left w-full block">Actions</span></th>
    </thead>
    <tbody>
      <tr>
        <td>
          <div class="flex items-center gap-5px "><img class="rounded-full" src="../assets/images/global/profile-image.png" alt="Profile Image" title="Your profile image" width="30" height="30"/><span class="hidden lg:block">Team Member 1</span></div>
        </td>
        <td>someusermail1@domain.com</td>
        <td>
          <div class="flex items-center gap-10px w-full h-40px">
            <div class="flex gap-5px items-center">
              <div class="w-[10px] h-[10px] rounded-full bg-green"></div>
              <div class="text-sm font-semibold">Confirmed</div>
            </div>
          </div>
        </td>
        <td>Channel Manager</td>
        <td>CTO</td>
        <td>
          <div class="flex items-center justify-start gap-10px w-full h-40px relative"><a class="flex items-center gap-5px text-sm " href="#"><img src="../assets/images/global/invite-gray.svg" alt="Invite icon"/><span>Invite again</span></a><a class="flex items-center gap-5px text-sm " href="#"><img src="../assets/images/global/delete-gray.svg" alt="Delete icon"/><span>Delete</span></a><a class="flex items-center gap-5px text-sm " href="#"><img src="../assets/images/global/edit-gray.svg" alt="Edit icon"/><span>Edit</span></a></div>
        </td>
      </tr>
      <tr>
        <td>
          <div class="flex items-center gap-5px "><img class="rounded-full" src="../assets/images/global/profile-image.png" alt="Profile Image" title="Your profile image" width="30" height="30"/><span class="hidden lg:block">Team Member 2</span></div>
        </td>
        <td>someusermail2@domain.com</td>
        <td>
          <div class="flex items-center gap-10px w-full h-40px">
            <div class="flex gap-5px items-center">
              <div class="w-[10px] h-[10px] rounded-full bg-yellow"></div>
              <div class="text-sm font-semibold">Not Confirmed</div>
            </div>
          </div>
        </td>
        <td>Channel Manager</td>
        <td>CFO</td>
        <td>
          <div class="flex items-center justify-start gap-10px w-full h-40px relative"><a class="flex items-center gap-5px text-sm " href="#"><img src="../assets/images/global/invite-gray.svg" alt="Invite icon"/><span>Invite again</span></a><a class="flex items-center gap-5px text-sm " href="#"><img src="../assets/images/global/delete-gray.svg" alt="Delete icon"/><span>Delete</span></a><a class="flex items-center gap-5px text-sm " href="#"><img src="../assets/images/global/edit-gray.svg" alt="Edit icon"/><span>Edit</span></a></div>
        </td>
      </tr>
      <tr>
        <td>
          <div class="flex items-center gap-5px "><img class="rounded-full" src="../assets/images/global/profile-image.png" alt="Profile Image" title="Your profile image" width="30" height="30"/><span class="hidden lg:block">Team Member 3</span></div>
        </td>
        <td>someusermail3@domain.com</td>
        <td>
          <div class="flex items-center gap-10px w-full h-40px">
            <div class="flex gap-5px items-center">
              <div class="w-[10px] h-[10px] rounded-full bg-green"></div>
              <div class="text-sm font-semibold">Confirmed</div>
            </div>
          </div>
        </td>
        <td>Channel Manager</td>
        <td>CTO</td>
        <td>
          <div class="flex items-center justify-start gap-10px w-full h-40px relative"><a class="flex items-center gap-5px text-sm " href="#"><img src="../assets/images/global/invite-gray.svg" alt="Invite icon"/><span>Invite again</span></a><a class="flex items-center gap-5px text-sm " href="#"><img src="../assets/images/global/delete-gray.svg" alt="Delete icon"/><span>Delete</span></a><a class="flex items-center gap-5px text-sm " href="#"><img src="../assets/images/global/edit-gray.svg" alt="Edit icon"/><span>Edit</span></a></div>
        </td>
      </tr>
      <tr>
        <td>
          <div class="flex items-center gap-5px "><img class="rounded-full" src="../assets/images/global/profile-image.png" alt="Profile Image" title="Your profile image" width="30" height="30"/><span class="hidden lg:block">Team Member 4</span></div>
        </td>
        <td>someusermail4@domain.com</td>
        <td>
          <div class="flex items-center gap-10px w-full h-40px">
            <div class="flex gap-5px items-center">
              <div class="w-[10px] h-[10px] rounded-full bg-yellow"></div>
              <div class="text-sm font-semibold">Not Confirmed</div>
            </div>
          </div>
        </td>
        <td>Channel Manager</td>
        <td>CTO</td>
        <td>
          <div class="flex items-center justify-start gap-10px w-full h-40px relative"><a class="flex items-center gap-5px text-sm " href="#"><img src="../assets/images/global/invite-gray.svg" alt="Invite icon"/><span>Invite again</span></a><a class="flex items-center gap-5px text-sm " href="#"><img src="../assets/images/global/delete-gray.svg" alt="Delete icon"/><span>Delete</span></a><a class="flex items-center gap-5px text-sm " href="#"><img src="../assets/images/global/edit-gray.svg" alt="Edit icon"/><span>Edit</span></a></div>
        </td>
      </tr>
    </tbody>
  </table>
</div>