.table-container
    table
        thead
            th Company
            th(class='w-[120px]') Deals
            th(class='w-[120px]') Leads
            th(class='w-[150px]') Logins
            th Actions
        tbody
            tr
                td
                    -var name = 'Partner Name 1'
                    include ../../components/table-cell/company

                td
                    -var text1 = '46'
                    -var text2 = '$25,000'
                    include ../../components/table-cell/double-text

                td
                    -var text1 = '32'
                    -var text2 = '$25,000'
                    include ../../components/table-cell/double-text

                td
                    -var text1 = '129'
                    -var text2 = 'Last login: 2023/04/01'
                    include ../../components/table-cell/double-text

                td
                    include ../../components/table-cell/actions-manage-partner
            tr
                td
                    -var name = 'Partner Name 1'
                    include ../../components/table-cell/company

                td
                    -var text1 = '46'
                    -var text2 = '$25,000'
                    include ../../components/table-cell/double-text

                td
                    -var text1 = '32'
                    -var text2 = '$25,000'
                    include ../../components/table-cell/double-text

                td
                    -var text1 = '129'
                    -var text2 = 'Last login: 2023/04/01'
                    include ../../components/table-cell/double-text

                td
                    include ../../components/table-cell/actions-manage-partner
            tr
                td
                    -var name = 'Partner Name 1'
                    include ../../components/table-cell/company

                td
                    -var text1 = '46'
                    -var text2 = '$25,000'
                    include ../../components/table-cell/double-text

                td
                    -var text1 = '32'
                    -var text2 = '$25,000'
                    include ../../components/table-cell/double-text

                td
                    -var text1 = '129'
                    -var text2 = 'Last login: 2023/04/01'
                    include ../../components/table-cell/double-text

                td
                    include ../../components/table-cell/actions-manage-partner
            tr
                td
                    -var name = 'Partner Name 1'
                    include ../../components/table-cell/company

                td
                    -var text1 = '46'
                    -var text2 = '$25,000'
                    include ../../components/table-cell/double-text

                td
                    -var text1 = '32'
                    -var text2 = '$25,000'
                    include ../../components/table-cell/double-text

                td
                    -var text1 = '129'
                    -var text2 = 'Last login: 2023/04/01'
                    include ../../components/table-cell/double-text

                td
                    include ../../components/table-cell/actions-manage-partner

