.table-container
    table
        thead
            th Partner Company
            th Email
            th Phone
            th Location
            th(class='w-[100px] text-center') Status
            th.text-center Invitation Sent
            th
                span.text-center.w-full.block Actions
        tbody
            tr
                td
                    -var name = 'Partner Name 1'
                    include ../../components/table-cell/company
                td
                    -var text = 'info@partner1domain.com'
                    include ../../components/table-cell/email
                td
                    -var text = '+30 987456987'
                    include ../../components/table-cell/phone
                td
                    -var text1 = 'United Kingdom'
                    -var text2 = 'North Europe'
                    include ../../components/table-cell/double-text

                td
                    -var className = 'bg-yellow'
                    -var text = 'Pending'
                    include ../../components/table-cell/status
                td.text-center 2023/04/15
                td
                    include ../../components/table-cell/actions-partner-invitations

            tr
                td
                    -var name = 'Partner Name 1'
                    include ../../components/table-cell/company
                td
                    -var text = 'info@partner1domain.com'
                    include ../../components/table-cell/email
                td
                    -var text = '+30 987456987'
                    include ../../components/table-cell/phone
                td
                    -var text1 = 'United Kingdom'
                    -var text2 = 'North Europe'
                    include ../../components/table-cell/double-text

                td
                    -var className = 'bg-yellow'
                    -var text = 'Pending'
                    include ../../components/table-cell/status
                td.text-center 2023/04/15
                td
                    include ../../components/table-cell/actions-partner-invitations

            tr
                td
                    -var name = 'Partner Name 1'
                    include ../../components/table-cell/company
                td
                    -var text = 'info@partner1domain.com'
                    include ../../components/table-cell/email
                td
                    -var text = '+30 987456987'
                    include ../../components/table-cell/phone
                td
                    -var text1 = 'United Kingdom'
                    -var text2 = 'North Europe'
                    include ../../components/table-cell/double-text

                td
                    -var className = 'bg-yellow'
                    -var text = 'Pending'
                    include ../../components/table-cell/status
                td.text-center 2023/04/15
                td
                    include ../../components/table-cell/actions-partner-invitations

            tr
                td
                    -var name = 'Partner Name 1'
                    include ../../components/table-cell/company
                td
                    -var text = 'info@partner1domain.com'
                    include ../../components/table-cell/email
                td
                    -var text = '+30 987456987'
                    include ../../components/table-cell/phone
                td
                    -var text1 = 'United Kingdom'
                    -var text2 = 'North Europe'
                    include ../../components/table-cell/double-text

                td
                    -var className = 'bg-yellow'
                    -var text = 'Pending'
                    include ../../components/table-cell/status
                td.text-center 2023/04/15
                td
                    include ../../components/table-cell/actions-partner-invitations


