.table-container
    table
        thead
            th(class='border-r-2 border-gray text-blackBlue') Company
            th.text-blackBlue.pl-15px Deals
            th(class='')
                div.w-max Won Lost
            th(class='border-r-2 border-gray')
                div.w-max Avg size & cycle
            th.text-blackBlue.pl-15px Leads
            th(class='border-r-2 border-gray')
                div.w-max Won Lost
            th.text-blackBlue.text-left.pl-15px
                div.w-full.text-left Opportunities
        tbody
            tr
                td(class='border-r-2 border-gray')
                    -var name = 'Partner Name 1'
                    include ../../components/table-cell/company
                td.pl-15px
                    -var text1 = '46'
                    -var text2 = '$25,000'
                    include ../../components/table-cell/double-text

                td
                    -var text1 = '5/5'
                    -var text2 = '100%'
                    include ../../components/table-cell/double-text

                td(class='border-r-2 border-gray')
                    -var text1 = '$5,000'
                    -var text2 = '10 days'
                    include ../../components/table-cell/double-text

                td.pl-15px
                    -var text1 = '32'
                    -var text2 = '$25,000'
                    include ../../components/table-cell/double-text
                td(class='border-r-2 border-gray')
                    -var text1 = '5/5'
                    -var text2 = '100%'
                    include ../../components/table-cell/double-text
                td.pl-15px
                    -var text1 = '8'
                    -var text2 = '2'
                    include ../../components/table-cell/opportunities
            tr
                td(class='border-r-2 border-gray')
                    -var name = 'Partner Name 1'
                    include ../../components/table-cell/company
                td.pl-15px
                    -var text1 = '46'
                    -var text2 = '$25,000'
                    include ../../components/table-cell/double-text

                td
                    -var text1 = '5/5'
                    -var text2 = '100%'
                    include ../../components/table-cell/double-text

                td(class='border-r-2 border-gray')
                    -var text1 = '$5,000'
                    -var text2 = '10 days'
                    include ../../components/table-cell/double-text

                td.pl-15px
                    -var text1 = '32'
                    -var text2 = '$25,000'
                    include ../../components/table-cell/double-text
                td(class='border-r-2 border-gray')
                    -var text1 = '5/5'
                    -var text2 = '100%'
                    include ../../components/table-cell/double-text
                td.pl-15px
                    -var text1 = '8'
                    -var text2 = '2'
                    include ../../components/table-cell/opportunities
            tr
                td(class='border-r-2 border-gray')
                    -var name = 'Partner Name 1'
                    include ../../components/table-cell/company
                td.pl-15px
                    -var text1 = '46'
                    -var text2 = '$25,000'
                    include ../../components/table-cell/double-text

                td
                    -var text1 = '5/5'
                    -var text2 = '100%'
                    include ../../components/table-cell/double-text

                td(class='border-r-2 border-gray')
                    -var text1 = '$5,000'
                    -var text2 = '10 days'
                    include ../../components/table-cell/double-text

                td.pl-15px
                    -var text1 = '32'
                    -var text2 = '$25,000'
                    include ../../components/table-cell/double-text
                td(class='border-r-2 border-gray')
                    -var text1 = '5/5'
                    -var text2 = '100%'
                    include ../../components/table-cell/double-text
                td.pl-15px
                    -var text1 = '8'
                    -var text2 = '2'
                    include ../../components/table-cell/opportunities
            tr
                td(class='border-r-2 border-gray')
                    -var name = 'Partner Name 1'
                    include ../../components/table-cell/company
                td.pl-15px
                    -var text1 = '46'
                    -var text2 = '$25,000'
                    include ../../components/table-cell/double-text

                td
                    -var text1 = '5/5'
                    -var text2 = '100%'
                    include ../../components/table-cell/double-text

                td(class='border-r-2 border-gray')
                    -var text1 = '$5,000'
                    -var text2 = '10 days'
                    include ../../components/table-cell/double-text

                td.pl-15px
                    -var text1 = '32'
                    -var text2 = '$25,000'
                    include ../../components/table-cell/double-text
                td(class='border-r-2 border-gray')
                    -var text1 = '5/5'
                    -var text2 = '100%'
                    include ../../components/table-cell/double-text
                td.pl-15px
                    -var text1 = '8'
                    -var text2 = '2'
                    include ../../components/table-cell/opportunities


