.table-container
    table
        thead
            th Company
            th Account Manager
            th Location
            th.text-center Date Created
            th(class='w-[100px] text-center') Status
            th Actions
        tbody
            tr
                td
                    -var name = 'Partner Name 1'
                    include ../../components/table-cell/company
                td
                    -var text1 = 'Team Member Name 1'
                    -var text2 = 'someusermail1@domain.com'
                    include ../../components/table-cell/double-text
                td
                    -var text1 = 'United Kingdom'
                    -var text2 = 'North Europe'
                    include ../../components/table-cell/double-text

                td.text-center 2023/04/15

                td
                    a( href='' class='flex items-start gap-10px w-full h-40px justify-center text-center')
                        div(class='p-[8px] rounded-[6px]  text-white w-max text-[12px] bg-blue font-semibold') report-file-name.pdf


                td
                    include ../../components/table-cell/actions-manage-partner-channel-partner
            tr
                td
                    -var name = 'Partner Name 1'
                    include ../../components/table-cell/company
                td
                    -var text1 = 'Team Member Name 1'
                    -var text2 = 'someusermail1@domain.com'
                    include ../../components/table-cell/double-text
                td
                    -var text1 = 'United Kingdom'
                    -var text2 = 'North Europe'
                    include ../../components/table-cell/double-text

                td.text-center 2023/04/15

                td
                    a( href='' class='flex items-start gap-10px w-full h-40px justify-center text-center')
                        div(class='p-[8px] rounded-[6px]  text-white w-max text-[12px] bg-blue font-semibold') report-file-name.pdf


                td
                    include ../../components/table-cell/actions-manage-partner-channel-partner
            tr
                td
                    -var name = 'Partner Name 1'
                    include ../../components/table-cell/company
                td
                    -var text1 = 'Team Member Name 1'
                    -var text2 = 'someusermail1@domain.com'
                    include ../../components/table-cell/double-text
                td
                    -var text1 = 'United Kingdom'
                    -var text2 = 'North Europe'
                    include ../../components/table-cell/double-text

                td.text-center 2023/04/15

                td
                    a( href='' class='flex items-start gap-10px w-full h-40px justify-center text-center')
                        div(class='p-[8px] rounded-[6px]  text-white w-max text-[12px] bg-blue font-semibold') report-file-name.pdf


                td
                    include ../../components/table-cell/actions-manage-partner-channel-partner
            tr
                td
                    -var name = 'Partner Name 1'
                    include ../../components/table-cell/company
                td
                    -var text1 = 'Team Member Name 1'
                    -var text2 = 'someusermail1@domain.com'
                    include ../../components/table-cell/double-text
                td
                    -var text1 = 'United Kingdom'
                    -var text2 = 'North Europe'
                    include ../../components/table-cell/double-text

                td.text-center 2023/04/15

                td
                    a( href='' class='flex items-start gap-10px w-full h-40px justify-center text-center')
                        div(class='p-[8px] rounded-[6px]  text-white w-max text-[12px] bg-blue font-semibold') report-file-name.pdf


                td
                    include ../../components/table-cell/actions-manage-partner-channel-partner

