.table-container
    table
        thead
            th Partner Company
            th Email
            th Phone
            th
                span.text-left.w-full.block Company Role
        tbody
            tr
                td
                    -var text1 = 'First Last Name 1'
                    include ../../components/table-cell/connection
                td
                    -var text = 'info@partner1domain.com'
                    include ../../components/table-cell/email
                td
                    -var text = '+30 987456987'
                    include ../../components/table-cell/phone
                td.text-left

                    -var text1 = 'Marketing Manager'
                    -var text2 = 'Position'
                    include ../../components/table-cell/double-text
            tr
                td
                    -var text1 = 'First Last Name 1'
                    include ../../components/table-cell/connection
                td
                    -var text = 'info@partner1domain.com'
                    include ../../components/table-cell/email
                td
                    -var text = '+30 987456987'
                    include ../../components/table-cell/phone
                td.text-left

                    -var text1 = 'Marketing Manager'
                    -var text2 = 'Position'
                    include ../../components/table-cell/double-text
            tr
                td
                    -var text1 = 'First Last Name 1'
                    include ../../components/table-cell/connection
                td
                    -var text = 'info@partner1domain.com'
                    include ../../components/table-cell/email
                td
                    -var text = '+30 987456987'
                    include ../../components/table-cell/phone
                td.text-left

                    -var text1 = 'Marketing Manager'
                    -var text2 = 'Position'
                    include ../../components/table-cell/double-text
            tr
                td
                    -var text1 = 'First Last Name 1'
                    include ../../components/table-cell/connection
                td
                    -var text = 'info@partner1domain.com'
                    include ../../components/table-cell/email
                td
                    -var text = '+30 987456987'
                    include ../../components/table-cell/phone
                td.text-left

                    -var text1 = 'Marketing Manager'
                    -var text2 = 'Position'
                    include ../../components/table-cell/double-text




