.table-container
    table
        thead
            th
                div.w-max Permission Actions
            th.text-center View
            th.text-center Add
            th.text-center Edit
            th.text-center Delete
            th.text-center Invite
            th.text-center Assign
            th
                div.w-full.text-center Upload
        tbody

            tr
                td
                    div.w-max Deal Registration
                td
                    include ../../components/table-cell/checkbox
                td
                    include ../../components/table-cell/checkbox
                td
                    include ../../components/table-cell/checkbox
                td
                    include ../../components/table-cell/checkbox
                td
                    include ../../components/table-cell/checkbox
                td
                    include ../../components/table-cell/checkbox
                td
                    include ../../components/table-cell/checkbox
            tr
                td
                    div.w-max  Lead Distribution
                td
                    include ../../components/table-cell/checkbox
                td
                    include ../../components/table-cell/checkbox
                td
                    include ../../components/table-cell/checkbox
                td
                    include ../../components/table-cell/checkbox
                td
                    include ../../components/table-cell/checkbox
                td
                    include ../../components/table-cell/checkbox
                td
                    include ../../components/table-cell/checkbox
            tr
                td
                    div.w-max  Team Member
                td
                    include ../../components/table-cell/checkbox
                td
                    include ../../components/table-cell/checkbox
                td
                    include ../../components/table-cell/checkbox
                td
                    include ../../components/table-cell/checkbox
                td
                    include ../../components/table-cell/checkbox
                td
                    include ../../components/table-cell/checkbox
                td
                    include ../../components/table-cell/checkbox
            tr
                td
                    div.w-max Manage Partner
                td
                    include ../../components/table-cell/checkbox
                td
                    include ../../components/table-cell/checkbox
                td
                    include ../../components/table-cell/checkbox
                td
                    include ../../components/table-cell/checkbox
                td
                    include ../../components/table-cell/checkbox
                td
                    include ../../components/table-cell/checkbox
                td
                    include ../../components/table-cell/checkbox
            tr
                td
                    div.w-max  Manage Tier
                td
                    include ../../components/table-cell/checkbox
                td
                    include ../../components/table-cell/checkbox
                td
                    include ../../components/table-cell/checkbox
                td
                    include ../../components/table-cell/checkbox
                td
                    include ../../components/table-cell/checkbox
                td
                    include ../../components/table-cell/checkbox
                td
                    include ../../components/table-cell/checkbox
            tr
                td
                    div.w-max  Partner Onboarding
                td
                    include ../../components/table-cell/checkbox
                td
                    include ../../components/table-cell/checkbox
                td
                    include ../../components/table-cell/checkbox
                td
                    include ../../components/table-cell/checkbox
                td
                    include ../../components/table-cell/checkbox
                td
                    include ../../components/table-cell/checkbox
                td
                    include ../../components/table-cell/checkbox






