.table-container
    table
        thead
            th From
            th Subject
            th
                div.text-center.w-full Date
            th
                div.text-center.w-full Actions

        tbody
            tr
                td
                    a(href='#') TestSender
                td Reseller in Africa
                td.text-center 22/04/2023
                td
                    include ../../components/table-cell/actions-messages
            tr
                td
                    a(href='#') TestSender
                td Reseller in Africa
                td.text-center 22/04/2023
                td
                    include ../../components/table-cell/actions-messages
            tr
                td
                    a(href='#') TestSender
                td Reseller in Africa
                td.text-center 22/04/2023
                td
                    include ../../components/table-cell/actions-messages
            tr
                td
                    a(href='#') TestSender
                td Reseller in Africa
                td.text-center 22/04/2023
                td
                    include ../../components/table-cell/actions-messages
            tr
                td
                    a(href='#') TestSender
                td Reseller in Africa
                td.text-center 22/04/2023
                td
                    include ../../components/table-cell/actions-messages

