.table-container
    table
        thead
            th Company
            th Email
            th Country
            th Category/Technology
            th Contacts
            th
                div.text-center Lead Date
        tbody
            tr
                td
                    div(class='flex items-start gap-10px w-max h-40px')
                        img(src="../assets/images/global/company.png" alt="Profile Image" title="Your profile image" class='rounded-full border border-blackBlue' width="35" height="35")
                        div(class='flex flex-col gap-5px mb-5px')
                            span(class='leading-[14px]') Company Name 1
                            a( href='../templates/channel-partner-intent-signals-view-lead.html' class='text-blue text-[13px] leading-[13px]') View Lead
                td
                    -var text = 'info@partner1domain.com'
                    include ../../components/table-cell/email
                td
                    -var text1 = 'United Kingdom'
                    -var text2 = 'North Europe'
                    include ../../components/table-cell/double-text
                td
                    -var text1 = 'Microsoft'
                    -var text2 = 'View Categories'
                    include ../../components/table-cell/categories
                td
                    -var text1 = '15 Contacts'
                    -var text2 = 'View all Contacts'
                    include ../../components/table-cell/link
                td.text-center 2023/04/15
            tr
                td
                    div(class='flex items-start gap-10px w-max h-40px')
                        img(src="../assets/images/global/company.png" alt="Profile Image" title="Your profile image" class='rounded-full border border-blackBlue' width="35" height="35")
                        div(class='flex flex-col gap-5px mb-5px')
                            span(class='leading-[14px]') Company Name 1
                            a( href='../templates/channel-partner-intent-signals-view-lead.html' class='text-blue text-[13px] leading-[13px]') View Lead
                td
                    -var text = 'info@partner1domain.com'
                    include ../../components/table-cell/email
                td
                    -var text1 = 'United Kingdom'
                    -var text2 = 'North Europe'
                    include ../../components/table-cell/double-text
                td
                    -var text1 = 'Microsoft'
                    -var text2 = 'View Categories'
                    include ../../components/table-cell/categories
                td
                    -var text1 = '15 Contacts'
                    -var text2 = 'View all Contacts'
                    include ../../components/table-cell/link
                td.text-center 2023/04/15
            tr
                td
                    div(class='flex items-start gap-10px w-max h-40px')
                        img(src="../assets/images/global/company.png" alt="Profile Image" title="Your profile image" class='rounded-full border border-blackBlue' width="35" height="35")
                        div(class='flex flex-col gap-5px mb-5px')
                            span(class='leading-[14px]') Company Name 1
                            a( href='../templates/channel-partner-intent-signals-view-lead.html' class='text-blue text-[13px] leading-[13px]') View Lead
                td
                    -var text = 'info@partner1domain.com'
                    include ../../components/table-cell/email
                td
                    -var text1 = 'United Kingdom'
                    -var text2 = 'North Europe'
                    include ../../components/table-cell/double-text
                td
                    -var text1 = 'Microsoft'
                    -var text2 = 'View Categories'
                    include ../../components/table-cell/categories
                td
                    -var text1 = '15 Contacts'
                    -var text2 = 'View all Contacts'
                    include ../../components/table-cell/link
                td.text-center 2023/04/15
            tr
                td
                    div(class='flex items-start gap-10px w-max h-40px')
                        img(src="../assets/images/global/company.png" alt="Profile Image" title="Your profile image" class='rounded-full border border-blackBlue' width="35" height="35")
                        div(class='flex flex-col gap-5px mb-5px')
                            span(class='leading-[14px]') Company Name 1
                            a( href='../templates/channel-partner-intent-signals-view-lead.html' class='text-blue text-[13px] leading-[13px]') View Lead
                td
                    -var text = 'info@partner1domain.com'
                    include ../../components/table-cell/email
                td
                    -var text1 = 'United Kingdom'
                    -var text2 = 'North Europe'
                    include ../../components/table-cell/double-text
                td
                    -var text1 = 'Microsoft'
                    -var text2 = 'View Categories'
                    include ../../components/table-cell/categories
                td
                    -var text1 = '15 Contacts'
                    -var text2 = 'View all Contacts'
                    include ../../components/table-cell/link
                td.text-center 2023/04/15
