.table-container
    table
        thead
            th Partner Company
            th Task
            th Opportunity
            th.text-center Task Date
            th.text-center Last Modified
            th
                span.text-center.w-full.block Task Actions
        tbody

            tr
                td
                    -var name = 'Partner Name 1'
                    include ../../components/table-cell/company
                td
                    -var text1 = 'Task Subject here'
                    -var text2 = 'Some small basic display of the task content...'
                    include ../../components/table-cell/double-text
                td
                    -var text1 = 'Presentation'
                    -var text2 = 'Status'
                    include ../../components/table-cell/double-text

                td.text-center 2023/04/15
                td.text-center 2023/04/15
                td
                    include ../../components/table-cell/actions-tasks

            tr
                td
                    -var name = 'Partner Name 1'
                    include ../../components/table-cell/company
                td
                    -var text1 = 'Task Subject here'
                    -var text2 = 'Some small basic display of the task content...'
                    include ../../components/table-cell/double-text
                td
                    -var text1 = 'Presentation'
                    -var text2 = 'Status'
                    include ../../components/table-cell/double-text

                td.text-center 2023/04/15
                td.text-center 2023/04/15
                td
                    include ../../components/table-cell/actions-tasks

            tr
                td
                    -var name = 'Partner Name 1'
                    include ../../components/table-cell/company
                td
                    -var text1 = 'Task Subject here'
                    -var text2 = 'Some small basic display of the task content...'
                    include ../../components/table-cell/double-text
                td
                    -var text1 = 'Presentation'
                    -var text2 = 'Status'
                    include ../../components/table-cell/double-text

                td.text-center 2023/04/15
                td.text-center 2023/04/15
                td
                    include ../../components/table-cell/actions-tasks

            tr
                td
                    -var name = 'Partner Name 1'
                    include ../../components/table-cell/company
                td
                    -var text1 = 'Task Subject here'
                    -var text2 = 'Some small basic display of the task content...'
                    include ../../components/table-cell/double-text
                td
                    -var text1 = 'Presentation'
                    -var text2 = 'Status'
                    include ../../components/table-cell/double-text

                td.text-center 2023/04/15
                td.text-center 2023/04/15
                td
                    include ../../components/table-cell/actions-tasks



