.table-container
    table
        thead
            th Subscription
            th Service
            th Status
            th
                div.text-center Date Created
            th
                div.text-center Amount
            th
                div.text-left Download Invoice
        tbody
            tr
                td Startup Plan
                td
                    div.w-max Partner Recruitment - Automate
                td
                    div(class='flex items-center gap-5px w-max')
                        div(class='w-[12px] h-[12px] rounded-full bg-green')
                        div(class='flex flex-col gap-5px lead-[14px]') Active & Paid
                td.text-center
                    div.w-max 2023/04/15
                td.text-center
                    div.w-max $298
                td.flex.justify-start
                    a(href='#' class='text-blue w-max') Eacmonsen_virtual-0015.pdf
            tr
                td Startup Plan
                td
                    div.w-max Partner Recruitment - Automate
                td
                    div(class='flex items-center gap-5px w-max')
                        div(class='w-[12px] h-[12px] rounded-full bg-green')
                        div(class='flex flex-col gap-5px lead-[14px]') Active & Paid
                td.text-center
                    div.w-max 2023/04/15
                td.text-center
                    div.w-max  $298
                td.flex.justify-start
                    a(href='#' class='text-blue w-max') Eacmonsen_virtual-0015.pdf
            tr
                td Startup Plan
                td
                    div.w-max Partner Recruitment - Database
                td
                    div(class='flex items-center gap-5px w-max')
                        div(class='w-[12px] h-[12px] rounded-full bg-green')
                        div(class='flex flex-col gap-5px lead-[14px]') Active & Paid
                td.text-center
                    div.w-max  2023/04/15
                td.text-center
                    div.w-max  $298
                td.flex.justify-start
                    a(href='#' class='text-blue w-max') Eacmonsen_virtual-0015.pdf
            tr
                td Startup Plan
                td
                    div.w-max Partner Relationship Management
                td
                    div(class='flex items-center gap-5px w-max')
                        div(class='w-[12px] h-[12px] rounded-full bg-green')
                        div(class='flex flex-col gap-5px lead-[14px]') Active & Paid
                td.text-center
                    div.w-max 2023/04/15
                td.text-center
                    div.w-max $298
                td.flex.justify-start
                    a(href='#' class='text-blue w-max') Eacmonsen_virtual-0015.pdf


