.table-container
    table
        thead
            th Company
            th Email
            th Country
            th Category/Technology
            th Contacts
            th
                div.text-center Lead Date
        tbody
            tr
                td
                    -var name = 'Partner Name 1'
                    include ../../components/table-cell/company
                td
                    -var text = 'info@partner1domain.com'
                    include ../../components/table-cell/email
                td
                    -var text1 = 'United Kingdom'
                    -var text2 = 'North Europe'
                    include ../../components/table-cell/double-text
                td
                    -var text1 = 'Microsoft'
                    -var text2 = 'View Categories'
                    include ../../components/table-cell/categories
                td
                    -var text1 = '15 Contacts'
                    -var text2 = 'View all Contacts'
                    include ../../components/table-cell/link
                td.text-center 2023/04/15
            tr
                td
                    -var name = 'Partner Name 1'
                    include ../../components/table-cell/company
                td
                    -var text = 'info@partner1domain.com'
                    include ../../components/table-cell/email
                td
                    -var text1 = 'United Kingdom'
                    -var text2 = 'North Europe'
                    include ../../components/table-cell/double-text
                td
                    -var text1 = 'Microsoft'
                    -var text2 = 'View Categories'
                    include ../../components/table-cell/categories
                td
                    -var text1 = '15 Contacts'
                    -var text2 = 'View all Contacts'
                    include ../../components/table-cell/link
                td.text-center 2023/04/15
            tr
                td
                    -var name = 'Partner Name 1'
                    include ../../components/table-cell/company
                td
                    -var text = 'info@partner1domain.com'
                    include ../../components/table-cell/email
                td
                    -var text1 = 'United Kingdom'
                    -var text2 = 'North Europe'
                    include ../../components/table-cell/double-text
                td
                    -var text1 = 'Microsoft'
                    -var text2 = 'View Categories'
                    include ../../components/table-cell/categories
                td
                    -var text1 = '15 Contacts'
                    -var text2 = 'View all Contacts'
                    include ../../components/table-cell/link
                td.text-center 2023/04/15
            tr
                td
                    -var name = 'Partner Name 1'
                    include ../../components/table-cell/company
                td
                    -var text = 'info@partner1domain.com'
                    include ../../components/table-cell/email
                td
                    -var text1 = 'United Kingdom'
                    -var text2 = 'North Europe'
                    include ../../components/table-cell/double-text
                td
                    -var text1 = 'Microsoft'
                    -var text2 = 'View Categories'
                    include ../../components/table-cell/categories
                td
                    -var text1 = '15 Contacts'
                    -var text2 = 'View all Contacts'
                    include ../../components/table-cell/link
                td.text-center 2023/04/15
