.table-container
    table
        thead
            th Name
            th Email
            th Invitation
            th User Role
            th Position
            th
                span.text-left.w-full.block Actions
        tbody
            tr
                td
                    -var name = 'Team Member 1'
                    include ../../components/table-cell/user
                td
                    div.w-max someusermail1@domain.com
                td
                    -var className = 'bg-green'
                    -var text = 'Confirmed'
                    include ../../components/table-cell/status-circle
                td
                    div.w-max Channel Manager
                td
                    div.w-max CTO
                td
                    include ../../components/table-cell/actions-team
            tr
                td
                    -var name = 'Team Member 2'
                    include ../../components/table-cell/user
                td
                    div.w-max someusermail2@domain.com
                td
                    -var className = 'bg-yellow'
                    -var text = 'Not Confirmed'
                    include ../../components/table-cell/status-circle
                td
                    div.w-max Channel Manager
                td
                    div.w-max CFO
                td
                    include ../../components/table-cell/actions-team
            tr
                td
                    -var name = 'Team Member 3'
                    include ../../components/table-cell/user
                td
                    div.w-max someusermail3@domain.com
                td
                    -var className = 'bg-green'
                    -var text = 'Confirmed'
                    include ../../components/table-cell/status-circle
                td
                    div.w-max Channel Manager
                td
                    div.w-max CTO
                td
                    include ../../components/table-cell/actions-team
            tr
                td
                    -var name = 'Team Member 4'
                    include ../../components/table-cell/user
                td
                    div.w-max someusermail4@domain.com
                td
                    -var className = 'bg-yellow'
                    -var text = 'Not Confirmed'
                    include ../../components/table-cell/status-circle
                td
                    div.w-max Channel Manager
                td
                    div.w-max CTO
                td
                    include ../../components/table-cell/actions-team


