
<footer class="bg-white border-t-2 border-gray">
  <div class="py-15px md:py-25px bg-blue text-white">
    <div class="container">
      <div class="flex-col-reverse md:flex-row flex justify-between gap-10px">
        <div class="justify-center md:justify-start text-xs md:text-sm flex items-center">Elioplus 2023, All Rights Reserved</div>
        <ul class="justify-center md:justify-start flex items-center gap-25px">
          <li><a class="text-xs md:text-sm" href="../templates/terms-and-conditions.html">Terms & Conditions</a></li>
          <li><a class="text-xs md:text-sm" href="../templates/privacy-policy.html">Privacy Policy</a></li>
          <li><a class="text-xs md:text-sm" href="../templates/myData.html">Do not sell my Data</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>