div(class='card')
    h2(class='font-inter font-bold text-2xl') Contacts

    .table-container
        table
            thead
                th Email
                th
                    span.text-left.w-full.block Actions
            tbody
                tr
                    td someusermail1@domain.com
                    td
                        div.w-full.flex.items-center.gap-10px
                            a( href='mailto:info@elioplus.com').text-blue.text-left.block.w-max Send Email
                            a( href='' class='toast-demo' data-type='success').text-blue.text-left.block.w-max Copy Email

                tr
                    td someusermail1@domain.com
                    td
                        div.w-full.flex.items-center.gap-10px
                            a( href='mailto:info@elioplus.com').text-blue.text-left.block.w-max Send Email
                            a( href='' class='toast-demo' data-type='success').text-blue.text-left.block.w-max Copy Email

                tr
                    td someusermail1@domain.com
                    td
                        div.w-full.flex.items-center.gap-10px
                            a( href='mailto:info@elioplus.com').text-blue.text-left.block.w-max Send Email
                            a( href='' class='toast-demo' data-type='success').text-blue.text-left.block.w-max Copy Email

                tr
                    td someusermail1@domain.com
                    td
                        div.w-full.flex.items-center.gap-10px
                            a( href='mailto:info@elioplus.com').text-blue.text-left.block.w-max Send Email
                            a( href='' class='toast-demo' data-type='success').text-blue.text-left.block.w-max Copy Email

                tr
                    td someusermail1@domain.com
                    td
                        div.w-full.flex.items-center.gap-10px
                            a( href='mailto:info@elioplus.com').text-blue.text-left.block.w-max Send Email
                            a( href='' class='toast-demo' data-type='success').text-blue.text-left.block.w-max Copy Email

                tr
                    td someusermail1@domain.com
                    td
                        div.w-full.flex.items-center.gap-10px
                            a( href='mailto:info@elioplus.com').text-blue.text-left.block.w-max Send Email
                            a( href='' class='toast-demo' data-type='success').text-blue.text-left.block.w-max Copy Email
