div(class='card')

    <!----------- Title Start ------------------------------>
    .w-full.flex.flex-col.gap-15px
        .w-full.flex.flex-col.gap-10px
            h2(class='font-inter font-bold text-2xl') Share your Partner Register Page
            p Add your branded login and sign up links to your website to help your current partners login or for new to sign up.
        .divider
    <!----------- Title End ------------------------------>

    div(class='w-full flex flex-col gap-15px')

        div.flex.flex-col.gap-10px.font-semibold.text-sm
            div Partner Sign-in URL:
            div(class='bg-gray px-15px py-15px rounded-4px flex items-center justify-between')
                a(href='#').text-blue https://elioplus.com/acmonsen/partner-login
                a(href='#')
                    img( src="../assets/images/global/copy.svg" width="20" height="20")
        div.flex.flex-col.gap-10px.font-semibold.text-sm
            div Partner Sign-up URL:
            div(class='bg-gray px-15px py-15px rounded-4px flex items-center justify-between')
                a(href='#').text-blue https://elioplus.com/acmonsen/partner-free-sign-up
                a(href='#')
                    img( src="../assets/images/global/copy.svg" width="20" height="20")
