.card

    .flex.gap-15px.flex-col.w-full
        div(class='flex items-center gap-10px justify-between w-full')
            h2(class='font-inter font-bold text-lg') My Team
            a(href='#' class='text-blue hover:text-blueChart2 underline font-bold').text-sm Manage Team
        .divider

    .flex.items-center.gap-10px.justify-between
        a(href='#').flex.flex-col.gap-5px.w-max.text-center.items-center.justify-center.group
            img(src="../assets/images/global/profile-image.png" alt="Profile Image" title="Your profile image" class='rounded-full' width="45" height="45")
            .flex.flex-col.gap-3px.text-xs
                span(class='transition-colors duration-200 group-hover:text-blue') Giannis Riganas
                span(class='text-textGray') Member Role
        a(href='#').flex.flex-col.gap-5px.w-max.text-center.items-center.justify-center.group
            img(src="../assets/images/global/profile-image.png" alt="Profile Image" title="Your profile image" class='rounded-full' width="45" height="45")
            .flex.flex-col.gap-3px.text-xs
                span(class='transition-colors duration-200 group-hover:text-blue') Giannis Riganas
                span(class='text-textGray') Member Role

        a(href='#').flex.flex-col.gap-5px.w-max.text-center.items-center.justify-center.group
            div(class='w-[45px] h-[45px] rounded-full bg-blueChart flex items-center justify-center')
                img(src="../assets/images/global/dots-horizontal-blue.svg" alt="More Team Members" title="More Team Members" width="22" height="22")
            .flex.flex-col.gap-3px.text-xs
                span(class='transition-colors duration-200 group-hover:text-blue') +3 More
                span(class='text-blue underline') View All
