div(class='card px-15px lg:px-25px w-full').gap-20px

    .flex.gap-15px.flex-col.w-full

        div(class='flex justify-between w-full overflow-hidden flex-row items-center')

            h2(class='font-inter font-bold text-base lg:text-2xl') Partners

            a(href='#' class='text-sm font-semibold text-blue flex gap-5px')
                img(src="../assets/images/global/filters.svg" alt="filters Icon" title="filters Icon" width="17" height="17")
                span Filters

        .divider

    div(class='card-filter w-full rounded-30px')
        input(placeholder="Filter by name, email, country, region").grow.text-sm.outline-none
        img(src="../assets/images/global/search.svg" alt="Filters Icon" title="Filters Icon" width="15" height="15")

    div.flex.flex-col.w-full

        a( href='#' class='flex items-start gap-10px border-t border-gray w-full py-15px group hover:bg-gray px-5px')
            img(src="../assets/images/global/company.png" alt="Profile Image" title="Your profile image" class='rounded-full border border-blackBlue' width="35" height="35")
            div(class='flex flex-col gap-5px mb-5px')
                span(class='text-sm xl:text-base leading-[14px] font-semibold group-hover:text-blue transition-colors duration-200') Partner Name 1
                span( class='text-textGray text-[13px] leading-[13px]') United States (North America)

        a( href='#' class='flex items-start gap-10px border-t border-gray w-full py-15px group hover:bg-gray px-5px')
            img(src="../assets/images/global/company.png" alt="Profile Image" title="Your profile image" class='rounded-full border border-blackBlue' width="35" height="35")
            div(class='flex flex-col gap-5px mb-5px')
                span(class='text-sm xl:text-base leading-[14px] font-semibold group-hover:text-blue transition-colors duration-200') Partner Name 2
                span( class='text-textGray text-[13px] leading-[13px]') United States (North America)

        a( href='#' class='flex items-start gap-10px border-t border-gray w-full py-15px group hover:bg-gray px-5px')
            img(src="../assets/images/global/company.png" alt="Profile Image" title="Your profile image" class='rounded-full border border-blackBlue' width="35" height="35")
            div(class='flex flex-col gap-5px mb-5px')
                span(class='text-sm xl:text-base leading-[14px] font-semibold group-hover:text-blue transition-colors duration-200') Partner Name 3
                span( class='text-textGray text-[13px] leading-[13px]') United States (North America)

        a( href='#' class='flex items-start gap-10px border-t border-gray w-full py-15px group hover:bg-gray px-5px')
            img(src="../assets/images/global/company.png" alt="Profile Image" title="Your profile image" class='rounded-full border border-blackBlue' width="35" height="35")
            div(class='flex flex-col gap-5px mb-5px')
                span(class='text-sm xl:text-base leading-[14px] font-semibold group-hover:text-blue transition-colors duration-200') Partner Name 4
                span( class='text-textGray text-[13px] leading-[13px]') United States (North America)

        a( href='#' class='flex items-start gap-10px border-t border-gray w-full py-15px group hover:bg-gray px-5px')
            img(src="../assets/images/global/company.png" alt="Profile Image" title="Your profile image" class='rounded-full border border-blackBlue' width="35" height="35")
            div(class='flex flex-col gap-5px mb-5px')
                span(class='text-sm xl:text-base leading-[14px] font-semibold group-hover:text-blue transition-colors duration-200') Partner Name 5
                span( class='text-textGray text-[13px] leading-[13px]') United States (North America)


