.card

    .flex.gap-15px.flex-col.w-full
        div(class='flex items-center gap-10px justify-between w-full')
            h2(class='font-inter font-bold text-lg') Leads Overview
            a(href='../templates/deal-registration.html' class='text-blue hover:text-blueChart2 underline font-bold').text-sm View All Leads
        .divider

    div(class='grid grid-cols-7-5 sm:grid-cols-8-4')

        div(class='grid grid-cols-1 sm:grid-cols-2 gap-y-20px')
            div(class='flex flex-col gap-5px w-max')
                span(class='text-textGray text-sm') Total Leads:
                span(class='text-base-15 font-bold') 4,245
            div(class='flex flex-col gap-5px w-max')
                span(class='text-textGray text-sm') Leads Won:
                span(class='text-base-15 font-bold') 1,522 <span class='text-xs text-blue'>(72%)</span>
            div(class='flex flex-col gap-5px w-max')
                span(class='text-textGray text-sm') Total Lead size:
                span(class='text-base-15 font-bold') $48,000,000
            div(class='flex flex-col gap-5px w-max')
                span(class='text-textGray text-sm') Leads Closed:
                span(class='text-base-15 font-bold') 3,746

        div.flex.flex-col.gap-15px.items-center
            div(class='w-[90px]')
                canvas(class='doughnut-chart' data-labels='Won,Lost' data-values='2815,1322' data-colors='#39B4EF,#C4E9FB' data-label='Leads')

            div(class='flex items-center gap-10px justify-center')
                .flex.items-center.gap-5px
                    div(class='w-[12px] h-[12px] block bg-blue rounded-full')
                    span.text-sm.font-semibold Won
                .flex.items-center.gap-5px
                    div(class='w-[12px] h-[12px] block bg-blueChart rounded-full')
                    span.text-sm.font-semibold Lost
