div(class='card').w-full

    div.flex.flex-col.gap-15px
        div(class='flex gap-15px items-center w-max')
            img(src="../assets/images/global/company-2.png" alt="Company icon" title="Company icon" class='rounded-8px border border-gray' width="70" height="70")
            div(class='flex flex-col gap-0 w-max')
                span(class='text-textGray text-sm') Company:
                span(class='text-base font-bold') Moro Digital Data Hub

        .divider

    .flex.flex-col.gap-30px

        div(class='w-full grid grid-cols-1 sm:grid-cols-3 mdl:grid-cols-3 gap-30px lg:gap-50px')

            div(class='flex flex-col gap-5px w-max')
                span(class='text-textGray text-sm') Country:
                span(class='text-sm font-bold') United States

            div(class='flex flex-col gap-5px w-max')
                span(class='text-textGray text-sm') Email:
                span(class='text-sm font-bold') info@partnerwebsite.com

            div(class='flex flex-col gap-5px w-max')
                span(class='text-textGray text-sm') Phone:
                span(class='text-sm font-bold') +03 123456789

            div(class='flex flex-col gap-5px w-max')
                span(class='text-textGray text-sm') Website:
                span(class='text-sm font-bold') https://partnerwebsite.com

            div(class='flex flex-col gap-5px w-max')
                span(class='text-textGray text-sm') Employees number:
                span(class='text-sm font-bold') 215

            div(class='flex flex-col gap-5px w-max')
                span(class='text-textGray text-sm') Founded year:
                span(class='text-sm font-bold') 2017


