div(class='card')

    <!----------- Title Start ------------------------------>
    div(class='flex justify-between tabs w-full overflow-hidden flex-col-reverse md:flex-row items-start md:items-center text-sm mdl:text-base-15')

        h2(class='font-inter font-bold text-2xl') Reports History


    include ../tables/table-reports
    include ../../components/cards/card-table-footer
