div(class='card')
    h2(class='font-inter font-bold text-2xl') Role Permissions

    div(class='flex justify-between tabs w-full overflow-hidden flex-col-reverse md:flex-row items-start md:items-center text-sm mdl:text-base-15')
        div(class='flex items-start text-textGray font-semibold gap-20px pt-0 sm:pt-10px')
            a(href='#pendingDeals' class='tab-item active') Marketing
            a(href='#sales' class='tab-item') Sales
            a(href='#channelManager' class='tab-item' ) Channel Manager
            a(href='#bd' class='tab-item' ) Business Development
            a(href='#bd' class='tab-item' ) Admin
            a(href='#bd' class='tab-item' ) CFO
            a(href='#bd' class='tab-item' ) CTO
            a(href='#bd' class='tab-item' ) CEO
            a(href='#bd' class='tab-item' ) Test


div(class='card')
    h2(class='font-inter font-bold text-2xl') Deals
    include ../../components/cards/card-tabs
    include ../../components/cards/card-filters
    div(id='pendingDeals' class='tab-content')
        include ../tables/deals-pending
    div(id='openDeals' class='tab-content hidden')
        include ../tables/deals-open
    div(id='pastDeals' class='tab-content hidden')
        include ../tables/deals-past
    include ../../components/cards/card-table-footer

    div(id='sales' class='tab-content')
        include ../tables/deals-pending
    div(id='channelManager' class='tab-content hidden')
        include ../tables/deals-open
    div(id='bd' class='tab-content hidden')
        include ../tables/deals-past
    include ../../components/cards/card-table-footer
