div(class='card')

    div.flex.flex-col.gap-15px
        div(class='flex justify-between tabs w-full overflow-hidden flex-col mdl:flex-row mdl:items-center text-sm lg:text-base-15 gap-10px')

            h2(class='font-inter font-bold text-lg xl:text-2xl') Lead:
                span.text-textGray 32197a24-cf45-43ad-b2ce-d9193c3bf8bc

            div(class='flex flex-col sm:flex-row sm:items-center gap-10px sm:gap-15px')

                a(href='#' class='btn border-red bg-red text-white text-sm w-full justify-center sm:w-max')
                    img(src="../assets/images/global/delete-white.svg" alt="Delete Icon" title="Delete Icon" width="17" height="17")
                    span Delete Lead
                a(href='#' class='btn border-blue bg-blue text-white hover:bg-blackBlue hover:border-blackBlue w-full justify-center sm:w-max text-sm')
                    img(src="../assets/images/global/cloud-upload-white.svg" alt="download Icon" title="download Icon" width="17" height="17")
                    span Send to my CRM

        .divider

    .flex.flex-col.gap-30px

        .flex.flex-col.gap-15px
            h3(class='text-base font-bold') 1. Partner Information:
            div(class='w-full grid grid-cols-1 sm:grid-cols-2 mdl:grid-cols-3 xl:flex gap-30px xl:gap-50px')

                div(class='flex gap-10px w-max')
                    img(src="../assets/images/global/company-2.png" alt="Company Logo" title="Company Logo" class='rounded-8px border border-gray' width="50" height="50")
                    div(class='flex flex-col gap-5px w-max')
                        span(class='text-textGray text-sm') Partner:
                        span(class='text-base-15 font-bold') Partner Name 1

                div(class='flex flex-col gap-5px w-max')
                    span(class='text-textGray text-sm') Email:
                    span(class='text-base-15 font-bold') info@partnerwebsite.com

                div(class='flex flex-col gap-5px w-max')
                    span(class='text-textGray text-sm') Phone:
                    span(class='text-base-15 font-bold') +03 123456789

                div(class='flex flex-col gap-5px w-max')
                    span(class='text-textGray text-sm') Website:
                    span(class='text-base-15 font-bold') https://partnerwebsite.com

                div(class='flex flex-col gap-5px w-max')
                    span(class='text-textGray text-sm') Partner Type:
                    span(class='text-base-15 font-bold') Channels Partners

        .divider

        .flex.flex-col.gap-15px
            h3(class='text-base font-bold') 2. Lead Information:
            div(class='w-full grid grid-cols-1 sm:grid-cols-2 mdl:grid-cols-3 xl:flex gap-30px xl:gap-50px')

                div(class='flex items-center gap-10px w-max')
                    img(src="../assets/images/global/company-2.png" alt="Company Logo" title="Company Logo" class='rounded-full  border border-blackBlue' width="25" height="25")
                    div(class='flex items-center gap-5px w-max text-sm')
                        span(class='text-textGray ') Added by:
                        span(class='font-bold') Partner Name 1

                div(class='flex items-center gap-10px w-max')
                    img(src="../assets/images/global/calendar.svg" alt="Company Logo" title="Company Logo" width="18" height="18")
                    div(class='flex items-center gap-5px w-max text-sm')
                        span(class='text-textGray ') Date created:
                        span(class='font-bold') 01/22/2023

                div(class='flex items-center gap-10px w-max')
                    img(src="../assets/images/global/amount.svg" alt="Company Logo" title="Company Logo" width="25" height="25")
                    div(class='flex items-center gap-5px w-max text-sm')
                        span(class='text-textGray ') Amount:
                        span(class='font-bold') $22,500.00

                div(class='flex items-center gap-10px w-max text-sm ')
                    span(class='text-textGray ') State:
                    div(class='p-[8px] rounded-[6px]  w-max text-[12px] bg-gray font-semibold') Closed

                div(class='flex items-center gap-10px w-max text-sm')
                    span(class='text-textGray ') Status:
                    div(class='p-[8px] rounded-[6px] bg-elioGreen text-white w-max text-[12px] font-semibold') Won



        .divider

        .flex.flex-col.gap-15px
            h3(class='text-base font-bold') 3. Client Information:
            div(class='w-full grid grid-cols-1 xl:grid-cols-7-5 gap-20px xl:gap-0')

                div(class='w-full grid grid-cols-1 sm:grid-cols-2 mdl:grid-cols-3 gap-y-20px gap-x-10px')

                    div(class='flex flex-col gap-5px w-max')
                        span(class='text-textGray text-sm') Client Company Name:
                        span(class='text-sm font-semibold') Test lead company

                    div(class='flex flex-col gap-5px w-max')
                        span(class='text-textGray text-sm') Client First Name:
                        span(class='text-sm font-semibold') Giannis

                    div(class='flex flex-col gap-5px w-max')
                        span(class='text-textGray text-sm') Client Last Name:
                        span(class='text-sm font-semibold') Riganas

                    div(class='flex flex-col gap-5px w-max')
                        span(class='text-textGray text-sm') Business Email:
                        span(class='text-sm font-semibold') info@companywebsite.com

                    div(class='flex flex-col gap-5px w-max')
                        span(class='text-textGray text-sm') Phone:
                        span(class='text-sm font-semibold') +42 123456789

                    div(class='flex flex-col gap-5px w-max')
                        span(class='text-textGray text-sm') Website:
                        span(class='text-sm font-semibold') https://companywebsite.com


                div(class='flex flex-col gap-5px w-full')
                    span(class='text-textGray text-sm') Comments:
                    span(class='text-base-15') Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.





    div(class='flex justify-end w-full')

        a(href='#' class='btn border-blue bg-blue text-white hover:bg-blueDark text-sm')
            img(src="../assets/images/global/cloud-upload-white.svg" alt="download Icon" title="download Icon" width="17" height="17")
            span Send this lead to my CRM
