div(class='card').w-full

    div.flex.flex-col.gap-15px
        div(class='flex justify-between tabs w-full overflow-hidden flex-col-reverse md:flex-row items-start md:items-center text-sm mdl:text-base-15')

            div(class='flex gap-15px items-center w-max')
                img(src="../assets/images/global/company-2.png" alt="Company icon" title="Company icon" class='rounded-8px border border-gray' width="70" height="70")
                div(class='flex flex-col gap-0 w-max')
                    span(class='text-textGray text-sm') Partner:
                    span(class='text-base font-bold') Partner Name 1

            div(class='flex flex-col text-right text-sm')
                span.font-semibold Registered Date
                span.text-textGray.italic 2023/02/18

    .flex.flex-col.gap-30px

        div(class='w-full flex gap-30px lg:gap-50px')

            div(class='flex flex-col gap-5px w-max')
                span(class='text-textGray text-sm') Partner Type:
                span(class='text-sm font-bold') Channels Partner

            div(class='flex flex-col gap-5px w-max')
                span(class='text-textGray text-sm') Country:
                span(class='text-sm font-bold') United States

            div(class='flex flex-col gap-5px w-max')
                span(class='text-textGray text-sm') Email:
                span(class='text-sm font-bold') info@partnerwebsite.com

            div(class='flex flex-col gap-5px w-max')
                span(class='text-textGray text-sm') Phone:
                span(class='text-sm font-bold') +03 123456789

            div(class='flex flex-col gap-5px w-max')
                span(class='text-textGray text-sm') Website:
                span(class='text-sm font-bold') https://partnerwebsite.com




        .divider


        div(class='w-full flex justify-between gap-30px lg:gap-50px')

            div(class='flex items-center gap-10px w-max')
                img(src="../assets/images/global/partner-tier.svg" alt="Company icon" title="Company icon" width="30" height="30")
                div(class='flex flex-col w-max text-sm')
                    .flex.items-center.gap-3px
                        span(class='text-textGray') Tier:
                        span(class='font-semibold') Platinum
                    .flex.items-center.gap-3px
                        span(class='text-textGray') Commission:
                        span(class='font-semibold') 35%
                        .flex.items-center.gap-3px.ml-3px
                            img(src="../assets/images/global/edit-blue.svg" alt="Edit icon" title="Edit icon" width="14" height="14")
                            span(class='font-semibold text-blue underline') Edit

            div(class='flex items-center gap-10px w-max')
                img(src="../assets/images/global/partner-activity.svg" alt="Company icon" title="Company icon" width="30" height="30")
                div(class='flex flex-col w-max text-sm')
                    .flex.items-center.gap-3px
                        span(class='text-textGray') Last Active:
                        span(class='font-semibold') 2hrs ago
                    span(class='text-blue font-semibold') View Activity

            div(class='flex items-center gap-10px w-max')
                img(src="../assets/images/global/partner-revenue.svg" alt="Company icon" title="Company icon"  width="32" height="32")
                div(class='flex flex-col w-max text-sm')
                    .flex.items-center.gap-3px
                        span(class='text-textGray') Revenue:
                        span(class='font-semibold') $49,000
                    span(class='text-blue font-semibold') View Analytics

            div(class='flex items-center gap-10px w-max')
                img(src="../assets/images/global/partner-goals.svg" alt="Company icon" title="Company icon"  width="32" height="32")
                div(class='flex flex-col w-max text-sm')
                    .flex.items-center.gap-3px
                        span(class='text-textGray') Goal:
                        span(class='font-semibold') $12,000
                    span(class='text-blue font-semibold') View Goals



        .divider


        div.flex.items-center.gap-15px

            a(href='#' class='btn border-blue text-blackBlue text-sm')
                img(src="../assets/images/global/elio-icon.svg" alt="elioplus Icon" title="elioplus Icon" width="17" height="17")
                span View Elioplus Profile

            a(href='#' class='btn border-blackBlue text-blackBlue text-sm')
                img(src="../assets/images/global/message-blackBlue.svg" alt="elioplus Icon" title="elioplus Icon" width="17" height="17")
                span Chat with Partner

            a(href='#' class='btn border-red text-blackBlue text-sm')
                img(src="../assets/images/global/delete-red.svg" alt="Delete Icon" title="Delete Icon" width="17" height="17")
                span Delete partner



