div(class='card px-15px lg:px-25px sticky top-0').gap-20px
    .flex.gap-15px.flex-col.w-full
        div(class='flex justify-between tabs w-full overflow-hidden flex-col-reverse md:flex-row items-start md:items-center text-sm mdl:text-base-15')
            h2(class='font-inter font-bold text-2xl') Groups
            a(href='#' class='text-sm font-semibold text-blue flex gap-5px')
                img(src="../assets/images/global/filters.svg" alt="filters Icon" title="filters Icon" width="17" height="17")
                span Filters
        .divider


    div.flex.flex-col.w-full
        -var text1 = 'Europe Resellers'
        -var text2 = '15 Partners'
        include ../../components/collaboration/group-item
        -var text1 = 'Middle East'
        -var text2 = '11 Partners'
        include ../../components/collaboration/group-item
        -var text1 = 'VARs'
        -var text2 = '7 Partners'
        include ../../components/collaboration/group-item
        -var text1 = 'North America'
        -var text2 = '22 Partners'
        include ../../components/collaboration/group-item
        -var text1 = 'Asia Pacific'
        -var text2 = '9 Partners'
        include ../../components/collaboration/group-item
        -var text1 = 'Product 1'
        -var text2 = '3 Partners'
        include ../../components/collaboration/group-item


    a(href='#modalNewCollaborationGroup' class='btn bg-blue text-white hover:bg-darkBlue w-full justify-center h-[40px] items-center modal-trigger')
        span(class='text-sm font-semibold') Create new Group
        img( src='../assets/images/global/group-add-white.svg' alt='Add Group icon' loading='lazy' width="20" height="20")

