div(class='card px-15px lg:px-25px sticky top-0').gap-20px
    .flex.gap-15px.flex-col.w-full
        div(class='flex justify-between tabs w-full overflow-hidden flex-col-reverse md:flex-row items-start md:items-center text-sm mdl:text-base-15')
            h2(class='font-inter font-bold text-2xl') Groups
            a(href='#' class='text-sm font-semibold text-blue flex gap-5px')
                img(src="../assets/images/global/filters.svg" alt="filters Icon" title="filters Icon" width="17" height="17")
                span Filters
        .divider


    div.flex.flex-col.w-full
        a( href='#' class='flex items-start gap-10px border-t border-gray w-full py-15px group hover:bg-gray')
            img(src="../assets/images/global/company.png" alt="Profile Image" title="Your profile image" class='rounded-full border border-blackBlue' width="35" height="35")
            div(class='flex flex-col gap-5px mb-5px')
                span(class='leading-[14px] font-semibold group-hover:text-blue transition-colors duration-200') Partner Name 1
                span( class='text-textGray text-[13px] leading-[13px]') United States (North America)
        a( href='#' class='flex items-start gap-10px border-t border-gray w-full py-15px group hover:bg-gray')
            img(src="../assets/images/global/company.png" alt="Profile Image" title="Your profile image" class='rounded-full border border-blackBlue' width="35" height="35")
            div(class='flex flex-col gap-5px mb-5px')
                span(class='leading-[14px] font-semibold group-hover:text-blue transition-colors duration-200') Partner Name 2
                span( class='text-textGray text-[13px] leading-[13px]') United States (North America)
        a( href='#' class='flex items-start gap-10px border-t border-gray w-full py-15px group hover:bg-gray')
            img(src="../assets/images/global/company.png" alt="Profile Image" title="Your profile image" class='rounded-full border border-blackBlue' width="35" height="35")
            div(class='flex flex-col gap-5px mb-5px')
                span(class='leading-[14px] font-semibold group-hover:text-blue transition-colors duration-200') Partner Name 3
                span( class='text-textGray text-[13px] leading-[13px]') United States (North America)
        a( href='#' class='flex items-start gap-10px border-t border-gray w-full py-15px group hover:bg-gray')
            img(src="../assets/images/global/company.png" alt="Profile Image" title="Your profile image" class='rounded-full border border-blackBlue' width="35" height="35")
            div(class='flex flex-col gap-5px mb-5px')
                span(class='leading-[14px] font-semibold group-hover:text-blue transition-colors duration-200') Partner Name 4
                span( class='text-textGray text-[13px] leading-[13px]') United States (North America)

        a( href='#' class='flex items-start gap-10px border-t border-gray w-full py-15px group hover:bg-gray')
            img(src="../assets/images/global/company.png" alt="Profile Image" title="Your profile image" class='rounded-full border border-blackBlue' width="35" height="35")
            div(class='flex flex-col gap-5px mb-5px')
                span(class='leading-[14px] font-semibold group-hover:text-blue transition-colors duration-200') Partner Name 5
                span( class='text-textGray text-[13px] leading-[13px]') United States (North America)

    a(href='#modalNewMessage' class='btn bg-blue text-white hover:bg-darkBlue w-full justify-center h-[40px] items-center modal-trigger')
        span(class='text-sm font-semibold') Create new Group
        img( src='../assets/images/global/group-add-white.svg' alt='Add Group icon' loading='lazy' width="20" height="20")

