.card

    .flex.gap-15px.flex-col.w-full
        div(class='flex items-center gap-10px justify-between w-full')
            h2(class='font-inter font-bold text-lg') Partner Management
            div(class='text-[13px] font-semibold text-blue p-[8px] bg-gray rounded-[6px]') Startup $399
        .divider

    .flex.flex-col.gap-20px
        .flex.flex-col.gap-5px
            h3.text-sm.font-semibold Remaining partners to manage:
            div.flex.items-center.gap-5px
                div( class="w-full bg-blueChart rounded-full h-2.5 grow")
                    div( class="bg-blue h-2.5 rounded-full w-[55%]")
                div.font-semibold.text-sm 66/100

        .flex.flex-col.gap-5px
            h3.text-sm.font-semibold Storage used:
            div.flex.items-center.gap-5px
                div( class="w-full bg-yellowChart rounded-full h-2.5 grow")
                    div( class="bg-yellow h-2.5 rounded-full w-[55%]")
                div.font-semibold.text-sm 90%

        a(href='../templates/vendor-billing.html' class='btn border-blue text-blue hover:bg-blue hover:text-white') Manage your Subscription
