div(class='card')

    <!----------- Title Start ------------------------------>
    h2(class='font-inter font-bold text-lg') Partners/Country



    <!----------- Title End ------------------------------>


    include ../tables/analytics-partners-country
