div(class='card')

    <!----------- Title Start ------------------------------>
    h2(class='font-inter font-bold text-base lg:text-lg') Transaction History
    <!----------- Title End ------------------------------>

    include ../tables/table-transaction-history
