div(class='card')

    <!----------- Title Start ------------------------------>
    h2(class='font-inter font-bold text-2xl') Inbox
    <!----------- Title End ------------------------------>

    include ../tables/table-inbox-messages

    include ../../components/cards/card-table-footer
