div(class='card')

    div.flex.flex-col.gap-15px
        div(class='flex justify-between tabs w-full overflow-hidden flex-col-reverse md:flex-row items-start md:items-center text-sm mdl:text-base-15')

            h2(class='font-inter font-bold text-2xl') Deal:
                span.text-textGray 32197a24-cf45-43ad-b2ce-d9193c3bf8bc

            div.flex.items-center.gap-15px
                a(href='#' class='btn border-red bg-red text-white  absolute top-20px right-15px sm:relative sm:top-0 sm:right-0 text-sm')
                    img(src="../assets/images/global/delete-white.svg" alt="Delete Icon" title="Delete Icon" width="17" height="17")
                    span Delete Deal


        .divider

    .flex.flex-col.gap-30px

        .flex.flex-col.gap-15px
            h3(class='text-base font-bold') 1. Partner Information:
            div(class='w-full flex gap-30px lg:gap-50px')

                div(class='flex gap-10px w-max')
                    img(src="../assets/images/global/company-3.png" alt="Company Logo" title="Company Logo" class='rounded-8px border border-gray' width="50" height="50")
                    div(class='flex flex-col gap-5px w-max')
                        span(class='text-textGray text-sm') Vendor:
                        span(class='text-base-15 font-bold') Vendor Name 1

                div(class='flex flex-col gap-5px w-max')
                    span(class='text-textGray text-sm') Email:
                    span(class='text-base-15 font-bold') info@partnerwebsite.com

                div(class='flex flex-col gap-5px w-max')
                    span(class='text-textGray text-sm') Phone:
                    span(class='text-base-15 font-bold') +03 123456789

                div(class='flex flex-col gap-5px w-max')
                    span(class='text-textGray text-sm') Website:
                    span(class='text-base-15 font-bold') https://partnerwebsite.com

                div(class='flex flex-col gap-5px w-max')
                    span(class='text-textGray text-sm') Partner Type:
                    span(class='text-base-15 font-bold') Vendor

        .divider

        .flex.flex-col.gap-15px
            h3(class='text-base font-bold') 2. Lead Information:
            div(class='w-full flex gap-30px lg:gap-50px')

                div(class='flex items-center gap-10px w-max')
                    img(src="../assets/images/global/forecast.svg" alt="Forecast Icon" title="Forecast Icon" width="18" height="18")
                    div(class='flex items-center gap-5px w-max text-sm')
                        span(class='text-textGray ') Forecasting:
                        span(class='font-bold') 80

                div(class='flex items-center gap-10px w-max')
                    img(src="../assets/images/global/calendar.svg" alt="Company Logo" title="Company Logo" width="18" height="18")
                    div(class='flex items-center gap-5px w-max text-sm')
                        span(class='text-textGray ') Month Duration:
                        span(class='font-bold') 6 months

                div(class='flex items-center gap-10px w-max')
                    img(src="../assets/images/global/amount.svg" alt="Company Logo" title="Company Logo" width="25" height="25")
                    div(class='flex items-center gap-5px w-max text-sm')
                        span(class='text-textGray ') Amount:
                        span(class='font-bold') Not set

                div(class='flex items-center gap-10px w-max text-sm ')
                    span(class='text-textGray ') Stste:
                    div(class='p-[8px] rounded-[6px]  w-max text-[12px] bg-blue text-white font-semibold') Open

                div(class='flex items-center gap-10px w-max text-sm ')
                    span(class='text-textGray ') Status:
                    div(class='p-[8px] rounded-[6px]  w-max text-[12px] bg-yellow text-white font-semibold') Not confirmed

                div(class='flex items-center gap-10px w-max text-sm')
                    span(class='text-textGray ') Stages:
                    div(class='p-[8px] rounded-[6px] bg-yellow text-white w-max text-[12px] font-semibold') Pending



        .divider

        .flex.flex-col.gap-15px
            h3(class='text-base font-bold') 3. Client Information:
            div(class='w-full grid grid-cols-7-5')

                div(class='w-full grid grid-cols-3 gap-y-20px gap-x-10px')

                    div(class='flex flex-col gap-5px w-max')
                        span(class='text-textGray text-sm') Client Company Name:
                        span(class='text-sm font-semibold') Test lead company

                    div(class='flex flex-col gap-5px w-max')
                        span(class='text-textGray text-sm') Client First Name:
                        span(class='text-sm font-semibold') Giannis

                    div(class='flex flex-col gap-5px w-max')
                        span(class='text-textGray text-sm') Client Last Name:
                        span(class='text-sm font-semibold') Riganas

                    div(class='flex flex-col gap-5px w-max')
                        span(class='text-textGray text-sm') Business Email:
                        span(class='text-sm font-semibold') info@companywebsite.com

                    div(class='flex flex-col gap-5px w-max')
                        span(class='text-textGray text-sm') Phone:
                        span(class='text-sm font-semibold') +42 123456789

                    div(class='flex flex-col gap-5px w-max')
                        span(class='text-textGray text-sm') Website:
                        span(class='text-sm font-semibold') https://companywebsite.com

                    div(class='flex flex-col gap-5px w-max')
                        span(class='text-textGray text-sm') Location/Address:
                        span(class='text-sm font-semibold') United States

                    div(class='flex flex-col gap-5px w-max')
                        span(class='text-textGray text-sm') Product:
                        span(class='text-sm font-semibold') Product name here

                    div(class='flex flex-col gap-5px w-max')
                        span(class='text-textGray text-sm') Expected closed date::
                        span(class='text-sm font-semibold') 12/06/2023


                div(class='flex flex-col gap-5px w-full')
                    span(class='text-textGray text-sm') Opportunities Description:
                    span(class='text-base-15') Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                        | It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software including versions of Lorem Ipsum.

        .divider

        .flex.flex-col.gap-15px
            h3(class='text-base font-bold') 4. Deal Comments:
            include ../../components/cards/card-deal-comments

