div(class='card gap-15px')

    div.flex.flex-col.gap-5px
        h2(class='font-inter font-semibold text-lg') Activity Overview

    .flex.flex-col.gap-5px
        h3.text-sm.font-semibold Deal Registration
        div.flex.items-center.gap-5px
            div( class="w-full bg-blueChart rounded-full h-2.5 grow")
                div( class="bg-blue h-2.5 rounded-full w-[73%]")
            div.font-semibold.text-sm 73%

    .flex.flex-col.gap-5px
        h3.text-sm.font-semibold Lead Distribution
        div.flex.items-center.gap-5px
            div( class="w-full bg-blueChart rounded-full h-2.5 grow")
                div( class="bg-blue h-2.5 rounded-full w-[90%]")
            div.font-semibold.text-sm 90%

    .flex.flex-col.gap-5px
        h3.text-sm.font-semibold On-Boarding Library
        div.flex.items-center.gap-5px
            div( class="w-full bg-blueChart rounded-full h-2.5 grow")
                div( class="bg-blue h-2.5 rounded-full w-[80%]")
            div.font-semibold.text-sm 80%

    .flex.flex-col.gap-5px
        h3.text-sm.font-semibold Content Library
        div.flex.items-center.gap-5px
            div( class="w-full bg-blueChart rounded-full h-2.5 grow")
                div( class="bg-blue h-2.5 rounded-full w-[66%]")
            div.font-semibold.text-sm 66%

    .flex.flex-col.gap-5px
        h3.text-sm.font-semibold Collaboration
        div.flex.items-center.gap-5px
            div( class="w-full bg-blueChart rounded-full h-2.5 grow")
                div( class="bg-blue h-2.5 rounded-full w-[34%]")
            div.font-semibold.text-sm 34%


    .flex.flex-col.gap-5px
        h3.text-sm.font-semibold Messaging
        div.flex.items-center.gap-5px
            div( class="w-full bg-blueChart rounded-full h-2.5 grow")
                div( class="bg-blue h-2.5 rounded-full w-[42%]")
            div.font-semibold.text-sm 42%

