.card
    .flex.gap-15px.flex-col.w-full
        h2(class='font-inter font-bold text-lg') Make a new post
        textarea(class="border border-gray text-blackBlue text-sm hover:border-blue focus:border-blue w-full rounded-12px px-15px py-15px h-[75px] outline-0" placeholder='Write a new post that will be displayed to your channel partners on their newsfeed...')
        .flex.justify-end.w-full
            button(type='submit' class='btn bg-blue border-blue text-white hover:bg-blueDark')
                span Send Post
                img(src="../assets/images/global/send-white.svg" alt="Send Icon" title="Send Icon" width="18" height="18")



