.card

    .flex.gap-15px.flex-col.w-full
        h2(class='font-inter font-bold text-lg') Deals Overview
        .divider

    div
        canvas(class='doughnut-chart' data-labels='Won,Lost' data-values='815,322' data-colors='#39B4EF,#C4E9FB' data-label='Deals')

