div(class='card')

    <!----------- Title Start ------------------------------>
    .w-full.flex.flex-col.gap-5px
        h4(class='text-base-15 text-textGray') Roles Overview:
        h2(class='font-inter font-bold text-2xl') 9 User Roles
    <!----------- Title End ------------------------------>

    div(class='w-full flex flex-col gap-10px')
        h4(class='text-base-15 text-textGray') Usage:
        div(class='w-full gap-15px flex items-center')
            .flex.gap-5px.items-center
                div(class='w-[10px] h-[10px] rounded-full bg-green ')
                div(class='text-sm font-semibold') 3 Assigned
            .flex.gap-5px.items-center
                div(class='w-[10px] h-[10px] rounded-full bg-yellow ')
                div(class='text-sm font-semibold') 6 Unused


