div(class='card gap-15px')

    div.flex.flex-col.gap-5px
        .flex.items-center.gap-5px
            div(class='w-[12px] h-[12px] rounded-full bg-yellow')
            h2(class='font-inter font-semibold text-lg') Pending Request
        p.text-textGray.text-sm Please respond to the partner’s request to join your network.


    div.flex.items-center.gap-15px
        a(href='#' class='btn border-red bg-red text-white text-sm')
            img(src="../assets/images/global/reject-white.svg" alt="Delete Icon" title="Delete Icon" width="17" height="17")
            span Reject
        a(href='#' class='btn border-green bg-green text-white hover:bg-greenChart hover:text-green text-sm')
            img(src="../assets/images/global/accept-white.svg" alt="download Icon" title="download Icon" width="17" height="17")
            span Accept



