div(class='flex justify-between tabs w-full overflow-hidden flex-col-reverse md:flex-row items-start md:items-center text-sm mdl:text-base-15')
    div(class='flex items-start text-textGray font-semibold gap-20px pt-0 sm:pt-10px')
        a(href='#pendingDeals' class='tab-item active') Pending Deals
        a(href='#openDeals' class='tab-item') Open Deals
        a(href='#pastDeals' class='tab-item' ) Past Deals
    a(href='../templates/channel-partner-deal-registration-add.html' class='btn border-blue bg-blue text-white hover:bg-blueDark absolute top-20px right-15px sm:relative sm:top-0 sm:right-0 text-sm')
        span Add New Deal
        img(src="../assets/images/global/add.svg" alt="Add Icon" title="Add Icon" width="17" height="17")
