div(class='card')

    <!----------- Title Start ------------------------------>
    h2(class='font-inter font-bold text-2xl') Fees by Country
    <!----------- Title End ------------------------------>

    include ../tables/fees

    include ../../components/cards/card-table-footer
