div(class='card')

    <!----------- Title Start ------------------------------>
    h2(class='font-inter font-bold text-2xl') Transaction History
    <!----------- Title End ------------------------------>

    include ../tables/table-transaction-history
