div(class='card')

    <!----------- Title Start ------------------------------>
    .w-full.flex.flex-col.gap-15px
        h2(class='font-inter font-bold text-2xl') Edit Roles
        .divider
    <!----------- Title End ------------------------------>

    div(class='w-full flex flex-col gap-20px')

        <!----------- Tier Item ------------------------------>
        div(class='bg-gray py-15px px-20px flex gap-30px items-center rounded-8px text-sm w-max')
            .flex.gap-10px.items-center
                img(src="../assets/images/global/user-role.svg" alt="Tier Icon" title="Tier Icon" width="25" height="25")
                .flex.gap-3px.items-center
                    div.font-semibold Name:
                    div.font-bold.text-blue CM

            .flex.gap-10px.items-center

                div(class="bg-white border border-iconGray text-blackBlue text-sm hover:border-blue focus:border-blue w-max rounded-30px px-15px h-[35px] outline-0 flex items-center gap-5px")
                    label.text-textGray Role Name:
                    input(class="bg-transparent font-semibold w-[150px]" type='text' value="CM")

                div(class="bg-white border border-iconGray text-blackBlue text-sm hover:border-blue focus:border-blue w-max rounded-30px px-15px h-[35px] outline-0 flex items-center gap-5px")
                    label.text-textGray Role Description:
                    input(class="bg-transparent font-semibold w-[150px]" type='text' value="Channel Manager")


            .flex.gap-5px.items-center
                a(href='#' class='bg-iconGray flex items-center justify-center w-[32px] h-[32px] rounded-full')
                    img(src="../assets/images/global/delete-white.svg" alt="Tier Icon" title="Tier Icon" width="18" height="18")
                div.text-textGray.font-semibold Remove user role

        <!----------- Tier Item ------------------------------>
        div(class='bg-gray py-15px px-20px flex gap-30px items-center rounded-8px text-sm w-max')
            .flex.gap-10px.items-center
                img(src="../assets/images/global/user-role.svg" alt="Tier Icon" title="Tier Icon" width="25" height="25")
                .flex.gap-3px.items-center
                    div.font-semibold Name:
                    div.font-bold.text-blue CTO

            .flex.gap-10px.items-center

                div(class="bg-white border border-iconGray text-blackBlue text-sm hover:border-blue focus:border-blue w-max rounded-30px px-15px h-[35px] outline-0 flex items-center gap-5px")
                    label.text-textGray Role Name:
                    input(class="bg-transparent font-semibold w-[150px]" type='text' value="CTO")

                div(class="bg-white border border-iconGray text-blackBlue text-sm hover:border-blue focus:border-blue w-max rounded-30px px-15px h-[35px] outline-0 flex items-center gap-5px")
                    label.text-textGray Role Description:
                    input(class="bg-transparent font-semibold w-[150px]" type='text' value="Chief Technology Officer")


            .flex.gap-5px.items-center
                a(href='#' class='bg-iconGray flex items-center justify-center w-[32px] h-[32px] rounded-full')
                    img(src="../assets/images/global/delete-white.svg" alt="Tier Icon" title="Tier Icon" width="18" height="18")
                div.text-textGray.font-semibold Remove user role

        <!----------- Tier Item ------------------------------>
        div(class='bg-gray py-15px px-20px flex gap-30px items-center rounded-8px text-sm w-max')
            .flex.gap-10px.items-center
                img(src="../assets/images/global/user-role.svg" alt="Tier Icon" title="Tier Icon" width="25" height="25")
                .flex.gap-3px.items-center
                    div.font-semibold Name:
                    div.font-bold.text-blue Test

            .flex.gap-10px.items-center

                div(class="bg-white border border-iconGray text-blackBlue text-sm hover:border-blue focus:border-blue w-max rounded-30px px-15px h-[35px] outline-0 flex items-center gap-5px")
                    label.text-textGray Role Name:
                    input(class="bg-transparent font-semibold w-[150px]" type='text' value="Test")

                div(class="bg-white border border-iconGray text-blackBlue text-sm hover:border-blue focus:border-blue w-max rounded-30px px-15px h-[35px] outline-0 flex items-center gap-5px")
                    label.text-textGray Role Description:
                    input(class="bg-transparent font-semibold w-[150px]" type='text' value="Test Role")


            .flex.gap-5px.items-center
                a(href='#' class='bg-iconGray flex items-center justify-center w-[32px] h-[32px] rounded-full')
                    img(src="../assets/images/global/delete-white.svg" alt="Tier Icon" title="Tier Icon" width="18" height="18")
                div.text-textGray.font-semibold Remove user role





    a(href='#' class='btn bg-blue border-blue text-white hover:bg-blueDark') Save Changes
