div(class='bg-white rounded-10px px-20px md:px-30px py-25px flex flex-col gap-30px w-full shadow-card relative')
    .flex.gap-15px.flex-col.w-full
        h2(class='font-inter font-bold text-2xl') My Files
        .divider


        <!----------- Tabs Start ------------------------------>

        div(class='flex justify-between tabs w-full overflow-hidden flex-col-reverse md:flex-row items-start md:items-center text-sm mdl:text-base-15')
            div(class='flex items-start text-textGray font-semibold gap-20px pt-0 sm:pt-10px')
                a(href='#allFiles' class='tab-item active') All Files
                a(href='#receivedFiles' class='tab-item') Received Files
                a(href='#sentFiles' class='tab-item') Sent Files

            a(href='#' class='btn border-blue bg-blue text-white hover:bg-blueDark absolute top-20px right-15px sm:relative sm:top-0 sm:right-0 text-sm')
                span Send new file
                img(src="../assets/images/global/send-white.svg" alt="Add Icon" title="Add Icon" width="17" height="17")

        <!----------- Tabs End ------------------------------>

        <!----------- Filters Start ------------------------------>

        div(class='flex justify-between w-full overflow-hidden flex-col-reverse md:flex-row items-start md:items-center text-sm flex-wrap')

            div(class="flex gap-15px flex-col md:flex-row md:gap-10px flex-wrap")
                a(href='#' class='hover:text-blue w-max').flex.items-center.gap-5px.text-textGray.font-semibold.text-base-15.trigger-filters
                    img(src="../assets/images/global/filters.svg" alt="Filters Icon" title="Filters Icon" width="15" height="15")
                    span(class='text-sm sm:text-base-15') Filters:

                div(class='filters grid hidden md:grid grid-cols-1 md:grid-cols-2 lg:flex lg:flex-row gap-10px md:gap-5px flex-wrap').items-center.text-textGray.font-semibold.text-base-15

                    div(class='card-filter w-full lg:w-max px-5px')
                        label(for='opportunities' class='w-max') Vendor:
                        select(id='opportunities' name='opportunities').bg-transparent.text-blackBlue.font-bold
                            option Partners
                            option Partner 1
                            option Partner 2
                            option Partner 3

                    div(class='card-filter w-full lg:w-max px-5px')
                        label(for='status_pipeline' class='w-max') File type:
                        select(id='status_pipeline' name='status_pipeline').bg-transparent.text-blackBlue.font-bold
                            option All Files
                            option PDFs
                            option Images
                            option Docs

                    - var text1= 'From:'
                    include ../filters/datepicker

                    - var text1= 'To:'
                    include ../filters/datepicker



        <!----------- Filters End ------------------------------>
