div(class='card')

    <!----------- Title Start ------------------------------>
    div(class='flex justify-between tabs w-full overflow-hidden items-center text-sm mdl:text-base-15')

        h2(class='font-inter font-bold text-lg') Active Partners

        a(href='#' class='btn border-blue bg-blue text-white hover:bg-blackBlue hover:border-blackBlue text-sm')
            span View Statistics



    <!----------- Title End ------------------------------>


    include ../tables/analytics-active-partners
