.card

    .flex.gap-15px.flex-col.w-full
        div(class='flex items-center gap-10px justify-between w-full')
            h2(class='font-inter font-bold text-lg') Partnership Invitations
            a(href='#' class='text-blue hover:text-blueChart2 underline font-bold').text-sm View Invitations
        .divider
        div(class='flex items-start gap-25px')
            div(class='flex flex-col w-max')
                span(class='text-textGray text-sm') Confirmed
                .flex.items-center.gap-5px
                    div(class='w-[12px] h-[12px] block bg-green rounded-full')
                    span.text-sm.font-semibold 123
            div(class='flex flex-col w-max')
                span(class='text-textGray text-sm') Pending
                .flex.items-center.gap-5px
                    div(class='w-[12px] h-[12px] block bg-yellow rounded-full')
                    span.text-sm.font-semibold 235
            div(class='flex flex-col w-max')
                span(class='text-textGray text-sm') Declined
                .flex.items-center.gap-5px
                    div(class='w-[12px] h-[12px] block bg-red rounded-full')
                    span.text-sm.font-semibold 342
