div(class='card')

    <!----------- Title Start ------------------------------>
    .w-full.flex.flex-col.gap-5px
        h4(class='text-base-15 text-textGray') Team Overview:
        h2(class='font-inter font-bold text-2xl') 2 Members
    <!----------- Title End ------------------------------>

    div(class='w-full flex flex-col gap-10px')
        h4(class='text-base-15 text-textGray') Invitations:
        div(class='w-full gap-15px flex items-center')
            .flex.gap-5px.items-center
                div(class='w-[10px] h-[10px] rounded-full bg-green ')
                div(class='text-sm font-semibold') 2 Confirmed
            .flex.gap-5px.items-center
                div(class='w-[10px] h-[10px] rounded-full bg-yellow ')
                div(class='text-sm font-semibold') 3 Pending
            .flex.gap-5px.items-center
                div(class='w-[10px] h-[10px] rounded-full bg-red ')
                div(class='text-sm font-semibold') 1 Declined


