div(class='card')

    <!----------- Title Start ------------------------------>
    h2(class='font-inter font-semibold text-lg') Employees
    <!----------- Title End ------------------------------>


    include ../tables/table-connection-employees
    include ../../components/cards/card-table-footer
