div(class='card gap-15px')

    div.flex.flex-col.gap-5px
        h2(class='font-inter font-semibold text-lg') Quick Actions
        p.text-textGray.text-sm Add this connection to your matches list and keep it as a potential opportunity.


    div.flex.flex-col.gap-15px
        a(href='#' class='btn border-blue bg-white text-sm w-full justify-center')
            img(src="../assets/images/global/elio-icon.svg" alt="Delete Icon" title="Delete Icon" width="17" height="17")
            span View Elioplus Profile
        a(href='#' class='btn border-blue bg-blue text-white hover:bg-blueDark text-sm w-full justify-center')
            img(src="../assets/images/global/add-white.svg" alt="download Icon" title="download Icon" width="17" height="17")
            span Add to Matches



