div(class='flex justify-between items-center gap-15px rounded-12px border border-gray p-25px text-sm')

    div(class='flex flex-col gap-5px')
        span.text-textGray 2023/05/21 14:32 pm
        p.font-semibold=desc
    if(linkText)
        a(href='#' class='btn font-semibold text-blackBlue border-blackBlue hover:text-blue hover:border-blue')=linkText
