.card

    .flex.gap-15px.flex-col.w-full
        h2(class='font-inter font-bold text-lg') Configure Goals
        .divider

    div.flex.flex-col.gap-15px
        div(class='grid grid-cols-4 mdl:grid-cols-2 lg:grid-cols-4 gap-y-20px')

            div(class='flex flex-col gap-5px w-max')
                span(class='text-textGray text-sm') Q1 Goal:
                div.flex.items-center.gap-5px
                    span(class='text-sm font-bold') $248
                    a(href='#editGoalAmountModalQ1').modal-trigger.flex.items-center.gap-3px
                        img(src='../assets/images/global/edit-blackBlue.svg' width=14 height=14)
                        span.text-textGray.text-sm Edit

            div(class='flex flex-col gap-5px w-max')
                span(class='text-textGray text-sm') Q2 Goal:
                div.flex.items-center.gap-5px
                    span(class='text-sm font-bold') $193
                    a(href='#editGoalAmountModalQ1').modal-trigger.flex.items-center.gap-3px
                        img(src='../assets/images/global/edit-blackBlue.svg' width=14 height=14)
                        span.text-textGray.text-sm Edit

            div(class='flex flex-col gap-5px w-max')
                span(class='text-textGray text-sm') Q3 Goal:
                div.flex.items-center.gap-5px
                    span(class='text-sm font-bold') $589
                    a(href='#editGoalAmountModalQ1').modal-trigger.flex.items-center.gap-3px
                        img(src='../assets/images/global/edit-blackBlue.svg' width=14 height=14)
                        span.text-textGray.text-sm Edit

            div(class='flex flex-col gap-5px w-max')
                span(class='text-textGray text-sm') Q4 Goal:
                div.flex.items-center.gap-5px
                    span(class='text-sm font-bold') $395
                    a(href='#editGoalAmountModalQ1').modal-trigger.flex.items-center.gap-3px
                        img(src='../assets/images/global/edit-blackBlue.svg' width=14 height=14)
                        span.text-textGray.text-sm Edit

        div(class='grid grid-cols-4 mdl:grid-cols-2 lg:grid-cols-4 gap-y-20px')

            div(class='flex flex-col gap-5px w-max')
                span(class='text-textGray text-sm') Q1 Result:
                div.flex.items-center.gap-5px
                    span(class='text-sm font-bold') $204
                    a(href='#editGoalAmountModalQ1').modal-trigger.flex.items-center.gap-3px
                        img(src='../assets/images/global/edit-blackBlue.svg' width=14 height=14)
                        span.text-textGray.text-sm Edit

            div(class='flex flex-col gap-5px w-max')
                span(class='text-textGray text-sm') Q2 Result:
                div.flex.items-center.gap-5px
                    span(class='text-sm font-bold') $532
                    a(href='#editGoalAmountModalQ1').modal-trigger.flex.items-center.gap-3px
                        img(src='../assets/images/global/edit-blackBlue.svg' width=14 height=14)
                        span.text-textGray.text-sm Edit

            div(class='flex flex-col gap-5px w-max')
                span(class='text-textGray text-sm') Q3 Result:
                div.flex.items-center.gap-5px
                    span(class='text-sm font-bold') $374
                    a(href='#editGoalAmountModalQ1').modal-trigger.flex.items-center.gap-3px
                        img(src='../assets/images/global/edit-blackBlue.svg' width=14 height=14)
                        span.text-textGray.text-sm Edit

            div(class='flex flex-col gap-5px w-max')
                span(class='text-textGray text-sm') Q4 Result:
                div.flex.items-center.gap-5px
                    span(class='text-sm font-bold') $550
                    a(href='#editGoalAmountModalQ1').modal-trigger.flex.items-center.gap-3px
                        img(src='../assets/images/global/edit-blackBlue.svg' width=14 height=14)
                        span.text-textGray.text-sm Edit



