.card

    .flex.gap-15px.flex-col.w-full
        div(class='flex items-center gap-10px justify-between w-full')
            h2(class='font-inter font-bold text-base lg:text-lg') Deals Overview
            span.text-sm.text-textGray Last Updated: 1hr ago
        .divider

    div(class='grid grid-cols-7-5 sm:grid-cols-8-4')
        div.flex.flex-col.gap-15px
            div(class='grid grid-cols-1 sm:grid-cols-2 gap-y-20px')
                div(class='flex flex-col gap-5px w-max')
                    span(class='text-textGray text-sm') Total Deals:
                    span(class='text-base-15 font-bold') 1,138
                div(class='flex flex-col gap-5px w-max')
                    span(class='text-textGray text-sm') Deals Won:
                    span(class='text-base-15 font-bold') 815 <span class='text-xs text-blue'>(72%)</span>
                div(class='flex flex-col gap-5px w-max')
                    span(class='text-textGray text-sm') Total Deal size:
                    span(class='text-base-15 font-bold') $175,000,000
                div(class='flex flex-col gap-5px w-max')
                    span(class='text-textGray text-sm') Avg. Deal Size:
                    span(class='text-base-15 font-bold') $22,000
            a(href='../templates/vendor-deal-registration.html' class='btn border-blue text-blue text-sm hover:bg-blue hover:text-white')
                span View Partner Deals

        div.flex.flex-col.gap-15px.items-center
            div(class='w-[120px]')
                canvas(class='doughnut-chart' data-labels='Won,Lost' data-values='815,322' data-colors='#39B4EF,#C4E9FB' data-label='Deals')

            div(class='flex items-center gap-10px justify-center')
                .flex.items-center.gap-5px
                    div(class='w-[12px] h-[12px] block bg-blue rounded-full')
                    span.text-sm.font-semibold Won
                .flex.items-center.gap-5px
                    div(class='w-[12px] h-[12px] block bg-blueChart rounded-full')
                    span.text-sm.font-semibold Lost
