div(class='card gap-15px')

    div.flex.flex-col.gap-5px
        h2(class='font-inter font-semibold text-lg') Account Manager:
        p.text-textGray.text-sm Assign a member of your team as an account manager for this partner.

    div.flex.flex-col.gap-5px


        div(class="text-blackBlue text-sm  w-max  outline-0 flex items-center gap-10px")
            img(src="../assets/images/global/profile-image.png" alt="Profile Image" title="Your profile image" class='rounded-full' width="32" height="32")
            .flex.flex-col
                span.font-semibold.text-sm Giannis Riganas
                .flex.items-center.gap-5px
                    a(href='#').font-semibold.text-blue Call
                    a(href='#').font-semibold.text-blue Send Email
        a(href='#' class='text-blue underline text-sm font-semibold') View Team


