
<div class="flex items-start gap-10px"><img class="rounded-4px border border-gray" src="../assets/images/global/company-image.png" alt="Company Logo" title="Company Logo"/>
  <div class="flex flex-col gap-15px w-full">
    <div class="flex flex-col gap-5px w-full"><span class="text-base-15 font-bold"></span><span class="text-textGray text-sm"></span></div>
    <button class="relative border border-blackBlue text-blackBlue text-sm hover:border-blue focus:border-blue w-max rounded-30px px-15px h-[35px] outline-0 font-semibold cursor-pointer">Upload an Image
      <input class="opacity-0 absolute top-0 left-0 w-full h-full" type="file"/>
    </button>
  </div>
</div>