div(class='flex items-center justify-start gap-10px w-full h-40px relative')
    a(href='#' class='flex items-center gap-5px text-sm ')
        img(src='../assets/images/global/invite-gray.svg' alt='Invite icon')
        span Invite again
    a(href='#' class='flex items-center gap-5px text-sm ')
        img(src='../assets/images/global/delete-gray.svg' alt='Delete icon')
        span Delete
    a(href='#' class='flex items-center gap-5px text-sm ')
        img(src='../assets/images/global/edit-gray.svg' alt='Edit icon')
        span Edit

