div(class='flex items-center justify-start gap-10px w-full h-40px relative')

    a(href='#' class='btn border-blue bg-blue text-white')
        span Add to matches
        img(src='../assets/images/global/add.svg' alt='Add icon')
