div(class='flex items-center justify-end gap-10px w-full h-40px relative cell-actions pr-15px')
    a(href='#' class='actions-trigger')
        img(src='../assets/images/global/dots-actions.svg' alt='dots icon')
    div(class='actions-content flex flex-col rounded-8px p-20px gap-15px absolute top-0 right-0 bg-white shadow-card w-max text-left hidden')
        a(href='#') Edit Lead
        a(href='#') Delete Lead
