div(class='flex items-center justify-center gap-10px w-full h-40px relative')
    a(href='#' class='btn bg-red text-white')
        img(src='../assets/images/global/reject-white.svg' alt='Reject icon')
        span Reject
    a(href='#' class='btn bg-elioGreen text-white')
        img(src='../assets/images/global/accept-white.svg' alt='Accept icon')
        span Accept

