div(class='flex items-center justify-start gap-10px w-full h-40px relative')

    a(href='#' class='btn border-blue bg-blue text-white toast-demo' data-type='success')
        span Opportunity
        img(src='../assets/images/global/add.svg' alt='Add icon')

    a(href='../templates/vendor-view-match.html' class='btn border-blue text-blue')
        img(src='../assets/images/global/info-blue.svg' alt='Details icon')
        span Details
    a(href='#' class='btn border-red text-red toast-demo' data-type='error')
        img(src='../assets/images/global/close-red.svg' alt='Delete icon')
        span Delete
