div(class='flex items-center justify-center gap-10px w-full h-40px relative')
    a(href='#' class='btn bg-blue text-white rounded-full px-7px')
        img(src='../assets/images/global/invite-white.svg' alt='Invite icon' title='Reply')
    a(href='#' class='btn bg-iconGray text-white rounded-full px-7px toast-demo' data-type='success')
        img(src='../assets/images/global/delete-white.svg' alt='Delete icon')

