div(class='flex items-center justify-center gap-10px w-full h-40px relative')
    a(href='#' class='flex items-center gap-5px text-sm text-blackBlue')
        img(src='../assets/images/global/edit-gray.svg' alt='Edit icon')
        span Edit
    a(href='#' class='flex items-center gap-5px text-sm  text-red')
        img(src='../assets/images/global/delete-red.svg' alt='Delete icon')
        span Delete

