div(class='flex items-center justify-center gap-10px w-full h-40px relative')
    a(href='#' class='btn bg-blue border-blue hover:bg-blackBlue hover:border-blackBlue text-white toast-demo' data-type='success')
        span Add to matches
        img(src='../assets/images/global/add-white.svg' alt='Accept icon')

