div(class='flex items-start gap-10px w-max h-40px')
    img(src="../assets/images/global/company.png" alt="Profile Image" title="Your profile image" class='rounded-full border border-blackBlue' width="35" height="35")
    div(class='flex flex-col gap-5px mb-5px')
        span(class='leading-[14px]')=name
        a( href='#' class='text-blue text-[13px] leading-[13px]') View Partner Profile
