div(class='flex items-center gap-15px w-max h-40px')
    div(class='flex items-center gap-5px')
        div(class='w-[12px] h-[12px] rounded-full '+className)
        div(class='flex flex-col gap-5px lead-[14px]')=name

    - var inputName = toggleInputName
    - var label = 'Toggle to enable'
    include ../../components/inputs/toggle


