div(class='flex items-center gap-10px w-full h-40px relative')
    span=text1

    if(text2)
        a(href='#' class='flex items-center gap-5px text-sm text-textGray')
            img(src='../assets/images/global/edit-gray.svg' alt='Edit icon')
            span=text2

