div(class='flex items-start gap-10px w-max h-40px')
    div(class='flex flex-col gap-5px')
        .flex.items-center.gap-3px
            span(class='leading-[14px]')=text1
            span(class='leading-[14px] text-textGray') leads
        .flex.items-center.gap-3px
            span(class='leading-[14px]')=text2
            span(class='leading-[14px] text-textGray') deals
