div( class='flex items-center gap-5px w-max')
    img(src="../assets/images/global/profile-image.png" alt="Profile Image" title="Your profile image" class='rounded-full' width="30" height="30")
    span=name
