
<nav class="bg-white fixed top-0 left-0 h-screen w-screen max-w-[250px] border-r border-gray z-40 flex active text-base-15" id="mobileMenu">
  <div class="flex flex-col w-full">
    <div class="w-full h-[60px] px-20px border-b border-gray flex items-center"><a class="w-[80px] pb-5px block header-logo" href="../templates/index.html"><img class="w-full h-auto" src="../assets/images/global/logo.svg" alt="Elioplus Logo" title="Elioplus Logo" width="110" height="52"/></a></div>
    <div class="flex flex-col pl-20px pr-10px py-20px grow overflow-y-auto gap-20px"><a class="hover:text-blue transition-colors duration-200 flex items-center gap-5px font-bold" href="#"><img src="../assets/images/global/dashboard.svg" alt="chevron icon"/><span>Dashboard</span><img src="../assets/images/global/arrow-right-menu.svg" alt="chevron icon"/></a>
      <div class="divider"></div>
      <div class="flex flex-col gap-10px"><a class="flex items-center gap-5px" href="">
          <div class="bg-blue rounded-full w-[10px] h-[10px]"></div><span class="font-bold">Leads & RFQs</span></a><a class="flex items-center gap-5px" href="">
          <div class="bg-blue rounded-full w-[10px] h-[10px]"></div><span class="font-bold">M&A Marketplace</span></a></div>
      <div class="divider"></div>
      <div class="flex flex-col gap-10px"><a class="flex items-center gap-5px" href="">
          <div class="bg-blue rounded-full w-[10px] h-[10px]"></div><span class="font-bold">Partner Management</span></a>
        <ul class="flex flex-col gap-10px pl-15px">
          <li class="flex flex-col gap-10px"><a class="hover:text-blue text-textGray text-sm font-semibold transition-colors duration-200 has-submenu w-full flex items-center gap-5px" href="#"><span>Partner Directory</span><img class="ml-auto mr-10px" src="../assets/images/global/arrow-down-menu.svg" alt="chevron icon"/></a>
            <ul class="pl-10px hidden">
              <li class="w-full"><a class="hover:text-blue text-sm transition-colors duration-200 py-5px text-textGray w-full" href="../templates/productPRautomate.html">Manage Partners</a></li>
              <li class="w-full"><a class="hover:text-blue text-sm transition-colors duration-200 py-5px text-textGray w-full" href="../templates/productPRdatabase.html">Partner Requests</a></li>
              <li class="w-full"><a class="hover:text-blue text-sm transition-colors duration-200 py-5px text-textGray w-full" href="../templates/productPRdatabase.html">Send Invitations</a></li>
            </ul>
          </li>
          <li class="w-full"><a class="hover:text-blue text-textGray text-sm font-semibold transition-colors duration-200 w-full flex items-center gap-5px" href="#"><span>Vendor Resources</span></a></li>
          <li class="w-full"><a class="hover:text-blue text-textGray text-sm font-semibold transition-colors duration-200 w-full flex items-center gap-5px" href="#"><span>Deal Registration</span></a></li>
          <li class="flex flex-col gap-10px"><a class="hover:text-blue text-textGray text-sm font-semibold transition-colors duration-200 has-submenu w-full flex items-center gap-5px" href="#"><span>Lead Distribution</span><img class="ml-auto mr-10px" src="../assets/images/global/arrow-down-menu.svg" alt="chevron icon"/></a>
            <ul class="pl-10px hidden">
              <li class="w-full"><a class="hover:text-blue text-sm transition-colors duration-200 py-5px text-textGray w-full" href="../templates/productPRautomate.html">Manage Leads</a></li>
              <li class="w-full"><a class="hover:text-blue text-sm transition-colors duration-200 py-5px text-textGray w-full" href="../templates/productPRdatabase.html">Add new lead</a></li>
            </ul>
          </li>
          <li class="w-full"><a class="hover:text-blue text-textGray text-sm font-semibold transition-colors duration-200 w-full flex items-center gap-5px" href="#"><span>Messages</span></a></li>
          <li class="w-full"><a class="hover:text-blue text-textGray text-sm font-semibold transition-colors duration-200 w-full flex items-center gap-5px" href="#"><span>Collaborate</span></a></li>
          <li class="flex flex-col gap-10px"><a class="hover:text-blue text-textGray text-sm font-semibold transition-colors duration-200 has-submenu w-full flex items-center gap-5px" href="#"><span>Content Library</span><img class="ml-auto mr-10px" src="../assets/images/global/arrow-down-menu.svg" alt="chevron icon"/></a>
            <ul class="pl-10px hidden">
              <li class="w-full"><a class="hover:text-blue text-sm transition-colors duration-200 py-5px text-textGray w-full" href="../templates/productPRautomate.html">My Files</a></li>
              <li class="w-full"><a class="hover:text-blue text-sm transition-colors duration-200 py-5px text-textGray w-full" href="../templates/productPRdatabase.html">Send new file</a></li>
              <li class="w-full"><a class="hover:text-blue text-sm transition-colors duration-200 py-5px text-textGray w-full" href="../templates/productPRdatabase.html">My Partner Files</a></li>
            </ul>
          </li>
          <li class="w-full"><a class="hover:text-blue text-textGray text-sm font-semibold transition-colors duration-200 w-full flex items-center gap-5px" href="#"><span>Partner to Partner</span></a></li>
          <li class="flex flex-col gap-10px"><a class="hover:text-blue text-textGray text-sm font-semibold transition-colors duration-200 has-submenu w-full flex items-center gap-5px" href="#"><span>Payouts</span><img class="ml-auto mr-10px" src="../assets/images/global/arrow-down-menu.svg" alt="chevron icon"/></a>
            <ul class="pl-10px hidden">
              <li class="w-full"><a class="hover:text-blue text-sm transition-colors duration-200 py-5px text-textGray w-full" href="../templates/productPRautomate.html">Payments &amp; Commissions</a></li>
              <li class="w-full"><a class="hover:text-blue text-sm transition-colors duration-200 py-5px text-textGray w-full" href="../templates/productPRdatabase.html">Payout Settings</a></li>
              <li class="w-full"><a class="hover:text-blue text-sm transition-colors duration-200 py-5px text-textGray w-full" href="../templates/productPRdatabase.html">Fees &amp; Terms</a></li>
            </ul>
          </li>
          <li class="w-full"><a class="hover:text-blue text-textGray text-sm font-semibold transition-colors duration-200 w-full flex items-center gap-5px" href="#"><span>Tier Management</span></a></li>
        </ul>
      </div>
      <div class="divider"></div>
      <div class="flex flex-col gap-10px"><a class="flex items-center gap-5px" href="">
          <div class="bg-blue rounded-full w-[10px] h-[10px]"></div><span class="font-bold">Team & Integrations</span></a>
        <ul class="flex flex-col gap-10px pl-15px">
          <li class="w-full"><a class="hover:text-blue text-textGray text-sm font-semibold transition-colors duration-200 w-full flex items-center gap-5px" href="#"><span>Integrations</span></a></li>
          <li class="w-full"><a class="hover:text-blue text-textGray text-sm font-semibold transition-colors duration-200 w-full flex items-center gap-5px" href="#"><span>Team Management</span></a></li>
        </ul>
      </div>
      <div class="divider"></div>
      <div class="flex flex-col gap-10px"><a class="flex items-center gap-5px" href="">
          <div class="bg-blue rounded-full w-[10px] h-[10px]"></div><span class="font-bold">Settings</span></a>
        <ul class="flex flex-col gap-10px pl-15px">
          <li class="w-full"><a class="hover:text-blue text-textGray text-sm font-semibold transition-colors duration-200 w-full flex items-center gap-5px" href="#"><span>Account Settings</span></a></li>
          <li class="w-full"><a class="hover:text-blue text-textGray text-sm font-semibold transition-colors duration-200 w-full flex items-center gap-5px" href="#"><span>Business Preferences</span></a></li>
          <li class="w-full"><a class="hover:text-blue text-textGray text-sm font-semibold transition-colors duration-200 w-full flex items-center gap-5px" href="#"><span>Billing Information</span></a></li>
        </ul>
      </div>
    </div>
  </div>
</nav>