
<nav class="bg-white fixed top-0 right-0 h-screen w-screen max-w-sm shadow-lg z-40 flex" id="mobileMenu">
  <div class="flex flex-col w-full">
    <div class="flex justify-between px-30px py-10px items-center border-b-2 border-gray pb-5px">
      <div class="py-10px xl:py-20px"><a class="pb-5px block header-logo" href="../templates/index.html"><img src="../assets/images/global/logo.svg" alt="Elioplus Mobile Menu logo"/></a></div><a class="flex items-center gap-5px" id="closeMobileMenu" href="#">
        <div class="p-2.5 bg-gray rounded-full w-8 h-8 flex items-center justify-center"><img src="../assets/images/global/close.svg" alt="close icon"/></div><span class="font-bold text-sm xl:text-base text-textGray transition-colors duration-200 hover:text-blue">Close Menu</span></a>
    </div>
    <div class="flex flex-col px-30px py-30px grow overflow-y-auto">
      <ul class="flex flex-col gap-10px">
        <li class="flex flex-col gap-10px"><a class="hover:text-blue text-sm md:text-base transition-colors duration-200 has-submenu flex items-center gap-5px font-bold" href="#"><span>Products &amp; Services</span><img src="../assets/images/global/chevron.svg" alt="chevron icon"/></a>
          <ul class="pl-5 hidden">
            <li><a class="hover:text-blue text-sm md:text-base transition-colors duration-200 py-5px" href="../templates/productPRautomate.html">Partner Recruitment - Automate</a></li>
            <li><a class="hover:text-blue text-sm md:text-base transition-colors duration-200 py-5px" href="../templates/productPRdatabase.html">Partner Recruitment - Database</a></li>
            <li><a class="hover:text-blue text-sm md:text-base transition-colors duration-200 py-5px" href="../templates/productPRM.html">Partner Relationship Management</a></li>
            <li><a class="hover:text-blue text-sm md:text-base transition-colors duration-200 py-5px" href="../templates/productIntentSignals.html">RFQs and Intend Data</a></li>
            <li><a class="hover:text-blue text-sm md:text-base transition-colors duration-200 py-5px" href="../templates/productReferralSoftware.html">Referral Software</a></li>
            <li><a class="hover:text-blue text-sm md:text-base transition-colors duration-200 py-5px" href="../templates/productMA.html">M&amp;A Marketplace</a></li>
          </ul>
        </li>
        <li class="flex items-center">
          <div class="divider"></div>
        </li>
        <li class="flex flex-col gap-10px"><a class="hover:text-blue text-sm md:text-base transition-colors duration-200 has-submenu flex items-center gap-5px font-bold" href="#"><span>Browse Companies</span><img src="../assets/images/global/chevron.svg" alt="chevron icon"/></a>
          <ul class="pl-5 hidden">
            <li><a class="hover:text-blue text-sm md:text-base transition-colors duration-200 py-5px" href="../templates/search.html">Search Companies</a></li>
            <li><a class="hover:text-blue text-sm md:text-base transition-colors duration-200 py-5px" href="./templates/searchChannelPartners.html">Channel Partners</a></li>
            <li><a class="hover:text-blue text-sm md:text-base transition-colors duration-200 py-5px" href="../templates/searchVendors.html">Vendors</a></li>
            <li><a class="hover:text-blue text-sm md:text-base transition-colors duration-200 py-5px" href="../templates/searchPartnerhsips.html">Partnerships</a></li>
          </ul>
        </li>
        <li class="flex items-center">
          <div class="divider"></div>
        </li>
        <li class="flex flex-col gap-10px"><a class="hover:text-blue text-sm md:text-base transition-colors duration-200 has-submenu flex items-center gap-5px font-bold" href="#"><span>Features</span><img src="../assets/images/global/chevron.svg" alt="chevron icon"/></a>
          <ul class="pl-5 hidden">
            <li><a class="hover:text-blue text-sm md:text-base transition-colors duration-200 py-5px" href="../templates/featuresVendors.html">Vendors</a></li>
            <li><a class="hover:text-blue text-sm md:text-base transition-colors duration-200 py-5px" href="../templates/featuresChannelPartners.html">Channel Partners</a></li>
          </ul>
        </li>
        <li class="flex items-center">
          <div class="divider"></div>
        </li>
        <li class="flex flex-col gap-10px"><a class="hover:text-blue text-sm md:text-base transition-colors duration-200 has-submenu flex items-center gap-5px font-bold" href="#"><span>Resources</span><img src="../assets/images/global/chevron.svg" alt="chevron icon"/></a>
          <ul class="pl-5 hidden">
            <li><a class="hover:text-blue text-sm md:text-base transition-colors duration-200 py-5px" href="../templates/resourcesArticle.html">Partner to Partner Deals</a></li>
            <li><a class="hover:text-blue text-sm md:text-base transition-colors duration-200 py-5px" href="../templates/resourcesArticle.html">Collaboration Tool</a></li>
            <li><a class="hover:text-blue text-sm md:text-base transition-colors duration-200 py-5px" href="../templates/resources.html">All Resources</a></li>
          </ul>
        </li>
        <li class="flex items-center">
          <div class="divider"></div>
        </li>
        <li class="flex flex-col gap-10px"><a class="hover:text-blue text-sm md:text-base transition-colors duration-200 has-submenu flex items-center gap-5px font-bold" href="#"><span>PRM Alternatives</span><img src="../assets/images/global/chevron.svg" alt="chevron icon"/></a>
          <ul class="pl-5 hidden">
            <li><a class="hover:text-blue text-sm md:text-base transition-colors duration-200 py-5px" href="../templates/prmAlternative.html">Impartner</a></li>
            <li><a class="hover:text-blue text-sm md:text-base transition-colors duration-200 py-5px" href="../templates/prmAlternative.html">PartnerStack</a></li>
            <li><a class="hover:text-blue text-sm md:text-base transition-colors duration-200 py-5px" href="../templates/prmAlternative.html">Allbound</a></li>
            <li><a class="hover:text-blue text-sm md:text-base transition-colors duration-200 py-5px" href="../templates/prmAlternative.html">Zift Solutions</a></li>
            <li><a class="hover:text-blue text-sm md:text-base transition-colors duration-200 py-5px" href="../templates/prmAlternative.html">Salesforce PRM</a></li>
            <li><a class="hover:text-blue text-sm md:text-base transition-colors duration-200 py-5px" href="../templates/prmAlternative.html">Mindmatrix</a></li>
            <li><a class="hover:text-blue text-sm md:text-base transition-colors duration-200 py-5px" href="../templates/prmAlternative.html">Myprm</a></li>
          </ul>
        </li>
        <li class="flex items-center">
          <div class="divider"></div>
        </li>
        <li class="flex flex-col gap-10px"><a class="hover:text-blue text-sm md:text-base transition-colors duration-200 has-submenu flex items-center gap-5px font-bold" href="#"><span>PRM Features</span><img src="../assets/images/global/chevron.svg" alt="chevron icon"/></a>
          <ul class="pl-5 hidden">
            <li><a class="hover:text-blue text-sm md:text-base transition-colors duration-200 py-5px" href="../templates/prmFeature.html">Partner Portal</a></li>
            <li><a class="hover:text-blue text-sm md:text-base transition-colors duration-200 py-5px" href="../templates/prmFeature.html">Partner Directory</a></li>
            <li><a class="hover:text-blue text-sm md:text-base transition-colors duration-200 py-5px" href="../templates/prmFeature.html">Partner Onboarding</a></li>
            <li><a class="hover:text-blue text-sm md:text-base transition-colors duration-200 py-5px" href="../templates/prmFeature.html">Deal Registration</a></li>
            <li><a class="hover:text-blue text-sm md:text-base transition-colors duration-200 py-5px" href="../templates/prmFeature.html">Lead Distribution</a></li>
            <li><a class="hover:text-blue text-sm md:text-base transition-colors duration-200 py-5px" href="../templates/prmFeature.html">Content Management</a></li>
            <li><a class="hover:text-blue text-sm md:text-base transition-colors duration-200 py-5px" href="../templates/prmFeature.html">Collaboration</a></li>
            <li><a class="hover:text-blue text-sm md:text-base transition-colors duration-200 py-5px" href="../templates/prmFeature.html">Channel Analytics</a></li>
            <li><a class="hover:text-blue text-sm md:text-base transition-colors duration-200 py-5px" href="../templates/prmFeature.html">Partner Locator</a></li>
            <li><a class="hover:text-blue text-sm md:text-base transition-colors duration-200 py-5px" href="../templates/prmFeature.html">Partner 2 Partner</a></li>
            <li><a class="hover:text-blue text-sm md:text-base transition-colors duration-200 py-5px" href="../templates/prmFeature.html">Partner Activation</a></li>
            <li><a class="hover:text-blue text-sm md:text-base transition-colors duration-200 py-5px" href="../templates/prmFeature.html">Tier Management</a></li>
            <li><a class="hover:text-blue text-sm md:text-base transition-colors duration-200 py-5px" href="../templates/prmFeature.html">Team Roles</a></li>
            <li><a class="hover:text-blue text-sm md:text-base transition-colors duration-200 py-5px" href="../templates/prmFeature.html">Partner Management</a></li>
          </ul>
        </li>
        <li class="flex items-center">
          <div class="divider"></div>
        </li>
        <li class="flex flex-col gap-10px"><a class="hover:text-blue text-sm md:text-base transition-colors duration-200 has-submenu flex items-center gap-5px font-bold" href="#"><span>Pricing</span><img src="../assets/images/global/chevron.svg" alt="chevron icon"/></a>
          <ul class="pl-5 hidden">
            <li><a class="hover:text-blue text-sm md:text-base transition-colors duration-200 py-5px" href="../templates/pricingPRM.html">PRM Software Pricing</a></li>
            <li><a class="hover:text-blue text-sm md:text-base transition-colors duration-200 py-5px" href="../templates/pricingPR.html">Partner Recruitment Pricing</a></li>
            <li><a class="hover:text-blue text-sm md:text-base transition-colors duration-200 py-5px" href="../templates/pricingIntent.html">Intent Signals Pricing</a></li>
          </ul>
        </li>
        <li class="flex items-center">
          <div class="divider"></div>
        </li>
        <li class="flex flex-col gap-10px"><a class="hover:text-blue text-sm md:text-base transition-colors duration-200 has-submenu flex items-center gap-5px font-bold" href="#"><span>About Us</span><img src="../assets/images/global/chevron.svg" alt="chevron icon"/></a>
          <ul class="pl-5 hidden">
            <li><a class="hover:text-blue text-sm md:text-base transition-colors duration-200 py-5px" href="../templates/aboutUs.html">About Elioplus</a></li>
            <li><a class="hover:text-blue text-sm md:text-base transition-colors duration-200 py-5px" href="../templates/caseStudiesArchive.html">Case Studies</a></li>
            <li><a class="hover:text-blue text-sm md:text-base transition-colors duration-200 py-5px" href="../templates/contactUs.html">Contact us</a></li>
            <li><a class="hover:text-blue text-sm md:text-base transition-colors duration-200 py-5px" href="https://medium.com/@elioplus">Blog</a></li>
            <li><a class="hover:text-blue text-sm md:text-base transition-colors duration-200 py-5px" href="../templates/faq.html">FAQ</a></li>
          </ul>
        </li>
        <li class="flex items-center">
          <div class="divider"></div>
        </li>
        <li class="flex items-center gap-10px xl:gap-15px pt-10px"><a class="btn font-bold text-sm xl:text-base text-blue" href="../templates/login.html">Login</a><a class="btn font-bold text-sm xl:text-base bg-blue text-white" href="../templates/register.html">Sign up free</a></li>
      </ul>
    </div>
  </div>
</nav>