header(class="bg-white z-10 sticky w-full top-0 left-0 border-b border-gray h-[60px] text-sm")
    .flex.w-full.h-full
        div(id="headerLogo" class="px-10px md:px-20px border-r border-gray flex items-center")
            a( class="w-[70px] md:w-[80px] pb-5px block header-logo" href="../templates/index.html")
                img(class="w-full h-auto" src="../assets/images/global/logo.svg" alt="Elioplus Logo" title="Elioplus Logo" width="110" height="52")
        div(class='px-10px md:px-20px ').grow.flex.justify-between
            .flex.gap-15px
                a(class="flex items-center gap-5px hamburger transition-colors duration-200 hover:text-blue" id="toggleMobileMenu" href="#mobileMenu")
                    img(class="w-full h-auto" src="../assets/images/global/hamburger.svg" alt="Hamburger Menu Icon" title="Click to toggle the navigation menu" width="110" height="52")
                    span(class="font-semibold") Menu
                .h-full
                    .separator
                ul(class="hidden mdl:flex items-center gap-5px")
                    li
                        a(class="text-textGray transition-colors duration-200 hover:text-blue" href="#") Dashboard
                    li
                        img(class="w-full h-auto" src="../assets/images/global/arrow-right.svg")
                    li
                        a(class="text-textGray transition-colors duration-200 hover:text-blue" href="#")=breadcrumbsParent
                    li
                        img(class="w-full h-auto" src="../assets/images/global/arrow-right.svg")
                    li
                        span(class="font-semibold")=breadcrumbsCurrent
            .flex.gap-15px.items-center
                include ../../components/header/header-quick-actions-channel-partner
                a( href='#' class='font-semibold transition-colors duration-200 hover:text-blue flex items-center gap-5px')
                    img(src="../assets/images/global/help.svg" alt="Help Icon" title="Click to visit the help center" width="20" height="20")
                    span(class='hidden xl:block') Help Center
                .h-full
                    .separator
                a(href='#' id='subscriptionPlan' class='text-[13px] font-semibold text-textGray p-[8px] bg-gray rounded-[6px] transition-colors duration-200 hover:bg-blue  hover:text-white ') Startup Plan
                .h-full
                    .separator
                include ../../components/header/header-user.pug


