div(class='bg-white rounded-8px p-10px flex flex-col gap-10px')

    div(class='flex justify-between w-full items-start')

        div(class='flex items-start gap-10px text-sm')
            img(src="../assets/images/global/company.png" alt="Profile Image" title="Your profile image" class='rounded-full border border-blackBlue' width="30" height="30")
            div(class='flex flex-col gap-5px mb-5px')
                span(class='leading-[14px] font-semibold')=name
                a( href='#' class='text-blue text-[13px] leading-[13px]') View Connection

        div(class='flex items-center justify-end gap-10px cell-actions')

            a(href='#' class='actions-trigger')
                img(src='../assets/images/global/dots-blue-vertical.svg')

            div(class='actions-content flex flex-col rounded-8px py-20px px-10px absolute top-0 right-0 bg-white shadow-card w-max text-left hidden z-1 text-sm font-semibold')
                a(href='#' class='hover:bg-gray hover:text-blue py-10px px-10px rounded-4px') Delete
                a(href='#' class='hover:bg-gray hover:text-blue py-10px px-10px rounded-4px') Edit
                a(href='#' class='hover:bg-gray hover:text-blue py-10px px-10px rounded-4px') Move Back
                a(href='#' class='hover:bg-gray hover:text-blue py-10px px-10px rounded-4px') Move next


    div(class='flex items-center gap-10px w-full justify-between px-5px')

        div(class='flex items-center gap-10px w-max')
            img(src="../assets/images/global/notes.svg" alt="Company icon" title="Company icon" width="16" height="16")
            div(class='flex items-center text-sm')
                span(class='text-textGray') Notes:
                span(class='font-semibold') 2

        div(class='flex items-center gap-10px w-max')
            img(src="../assets/images/global/tasks.svg" alt="Company icon" title="Company icon" width="16" height="16")
            div(class='flex items-center text-sm')
                span(class='text-textGray') Tasks:
                span(class='font-semibold') 10
