div(class='w-full flex flex-col gap-15px')
    h1(class='text-3xl font-inter font-bold')=title
    if(desc)
        p=desc
    if(btn)
        a(href=href class='btn border-blue hover:text-blue')=btn
