
<div class="card">
  <div class="flex gap-15px flex-col w-full">
    <h2 class="font-inter font-bold text-lg">Configure Goals</h2>
    <div class="divider"></div>
  </div>
  <div class="flex flex-col gap-15px">
    <div class="grid grid-cols-4 mdl:grid-cols-2 lg:grid-cols-4 gap-y-20px">
      <div class="flex flex-col gap-5px w-max"><span class="text-textGray text-sm">Q1 Goal:</span>
        <div class="flex items-center gap-5px"><span class="text-sm font-bold">$248</span>
          <div class="flex items-center gap-3px"><img src="../assets/images/global/edit-blackBlue.svg" width="14" height="14"/><span class="text-textGray text-sm">Edit</span></div>
        </div>
      </div>
      <div class="flex flex-col gap-5px w-max"><span class="text-textGray text-sm">Q2 Goal:</span>
        <div class="flex items-center gap-5px"><span class="text-sm font-bold">$193</span>
          <div class="flex items-center gap-3px"><img src="../assets/images/global/edit-blackBlue.svg" width="14" height="14"/><span class="text-textGray text-sm">Edit</span></div>
        </div>
      </div>
      <div class="flex flex-col gap-5px w-max"><span class="text-textGray text-sm">Q3 Goal:</span>
        <div class="flex items-center gap-5px"><span class="text-sm font-bold">$589</span>
          <div class="flex items-center gap-3px"><img src="../assets/images/global/edit-blackBlue.svg" width="14" height="14"/><span class="text-textGray text-sm">Edit</span></div>
        </div>
      </div>
      <div class="flex flex-col gap-5px w-max"><span class="text-textGray text-sm">Q4 Goal:</span>
        <div class="flex items-center gap-5px"><span class="text-sm font-bold">$395</span>
          <div class="flex items-center gap-3px"><img src="../assets/images/global/edit-blackBlue.svg" width="14" height="14"/><span class="text-textGray text-sm">Edit</span></div>
        </div>
      </div>
    </div>
    <div class="grid grid-cols-4 mdl:grid-cols-2 lg:grid-cols-4 gap-y-20px">
      <div class="flex flex-col gap-5px w-max"><span class="text-textGray text-sm">Q1 Result:</span>
        <div class="flex items-center gap-5px"><span class="text-sm font-bold">$204</span>
          <div class="flex items-center gap-3px"><img src="../assets/images/global/edit-blackBlue.svg" width="14" height="14"/><span class="text-textGray text-sm">Edit</span></div>
        </div>
      </div>
      <div class="flex flex-col gap-5px w-max"><span class="text-textGray text-sm">Q2 Result:</span>
        <div class="flex items-center gap-5px"><span class="text-sm font-bold">$532</span>
          <div class="flex items-center gap-3px"><img src="../assets/images/global/edit-blackBlue.svg" width="14" height="14"/><span class="text-textGray text-sm">Edit</span></div>
        </div>
      </div>
      <div class="flex flex-col gap-5px w-max"><span class="text-textGray text-sm">Q3 Result:</span>
        <div class="flex items-center gap-5px"><span class="text-sm font-bold">$374</span>
          <div class="flex items-center gap-3px"><img src="../assets/images/global/edit-blackBlue.svg" width="14" height="14"/><span class="text-textGray text-sm">Edit</span></div>
        </div>
      </div>
      <div class="flex flex-col gap-5px w-max"><span class="text-textGray text-sm">Q4 Result:</span>
        <div class="flex items-center gap-5px"><span class="text-sm font-bold">$550</span>
          <div class="flex items-center gap-3px"><img src="../assets/images/global/edit-blackBlue.svg" width="14" height="14"/><span class="text-textGray text-sm">Edit</span></div>
        </div>
      </div>
    </div>
  </div>
</div>