
<div class="card gap-15px">
  <div class="flex flex-col gap-5px">
    <h2 class="font-inter font-semibold text-lg">Account Manager:</h2>
    <p class="text-textGray text-sm">Assign a member of your team as an account manager for this partner.</p>
  </div>
  <div class="flex flex-col gap-5px">
    <div class="text-blackBlue text-sm  w-max  outline-0 flex items-center gap-10px"><img class="rounded-full" src="../assets/images/global/profile-image.png" alt="Profile Image" title="Your profile image" width="32" height="32"/>
      <div class="flex flex-col"><span class="font-semibold text-sm">Giannis Riganas</span>
        <div class="flex items-center gap-5px"><a class="font-semibold text-blue" href="#">Call</a><a class="font-semibold text-blue" href="#">Send Email</a></div>
      </div>
    </div><a class="text-blue underline text-sm font-semibold" href="#">View Team</a>
  </div>
</div>