
<div class="card"><!----------- Title Start ------------------------------>
  <div class="w-full flex flex-col gap-15px">
    <h2 class="font-inter font-bold text-lg">5. Marketing Initiatives</h2>
    <div class="divider"></div>
  </div><!----------- Title End ------------------------------>
  <div class="w-full grid grid-cols-1 md:grid-cols-2 gap-30px">
    <div class="flex flex-col gap-15px w-full">
      <div class="flex flex-col gap-5px w-full"><span class="text-base-15 font-bold">Activity:</span><span class="text-textGray text-sm">Some short description about this setting.</span>
      </div>
      <input class="border border-blackBlue text-blackBlue text-sm hover:border-blue focus:border-blue w-full rounded-30px px-15px h-[35px] outline-0" placeholder="Enter your activity here..."/>
    </div>
    <div class="flex flex-col gap-15px w-full">
      <div class="flex flex-col gap-5px w-full"><span class="text-base-15 font-bold">Date of Initiative:</span><span class="text-textGray text-sm">Some short description about this setting.</span>
      </div>
      <div class="border border-blackBlue text-blackBlue text-sm hover:border-blue focus:border-blue w-max rounded-30px px-15px h-[35px] outline-0 flex items-center gap-5px">
        <label class="text-textGray">Select a date:</label>
        <input class="bg-transparent font-semibold grow" type="date"/>
      </div>
    </div>
    <div class="flex flex-col gap-15px w-full">
      <div class="flex flex-col gap-5px w-full"><span class="text-base-15 font-bold">Objectives:</span><span class="text-textGray text-sm">Some short description about this setting.</span>
      </div>
      <textarea class="border border-blackBlue text-blackBlue text-sm hover:border-blue focus:border-blue w-full rounded-12px px-15px py-15px h-[75px] outline-0" placeholder="Partner program overview: We are looking for resellers in Africa and we promise the best support and training experience"></textarea>
    </div>
    <div class="flex flex-col gap-15px w-full">
      <div class="flex flex-col gap-5px w-full"><span class="text-base-15 font-bold">Costs &amp; Expenses:</span><span class="text-textGray text-sm">Some short description about this setting.</span>
      </div>
      <textarea class="border border-blackBlue text-blackBlue text-sm hover:border-blue focus:border-blue w-full rounded-12px px-15px py-15px h-[75px] outline-0" placeholder="Partner program overview: We are looking for resellers in Africa and we promise the best support and training experience"></textarea>
    </div>
  </div><a class="btn border-blue text-blue bg-white text-sm hover:text-blackBlue" href="#"><span>Add New Initiative</span></a>
</div>