footer(class='w-full flex flex-col md:flex-row justify-between items-center gap-10px border-t border-gray py-20px px-25px text-textGray text-sm')
    span(class='block') ©2023 Elioplus All Rights Reserved
    div(class='flex gap-15px flex-col md:flex-row')
        div(class='flex gap-15px justify-center')
            a(href='#') Terms of Use
            a(href='#') Privacy Policy
        span(class='w-full md:w-max text-center md:text-left').font-semibold Contact Support: info@elioplus.com
