
<div class="flex flex-col gap-25px rounded-12px border border-gray p-25px">
  <div class="flex justify-between items-center">
    <div class="flex items-start gap-10px w-max h-40px"><img class="rounded-full border border-blackBlue" alt="Profile Image" title="Your profile image" width="35" height="35"/>
      <div class="flex flex-col gap-5px mb-5px"><span class="text-sm font-semibold leading-[13px]"></span><a class="text-blue text-sm font-semibold leading-[13px]" href="../templates/vendor-partner-directory-manage-partner.html">View Partner Profile</a></div>
    </div>
    <div class="flex flex-col text-right text-sm"><span class="font-semibold"></span><span class="text-textGray italic">2023/05/21 14:32 pm</span></div>
  </div>
  <p class="text-sm">
  </p>
</div>