
<div class="card w-full">
  <div class="flex flex-col gap-15px">
    <div class="flex justify-between tabs w-full overflow-hidden flex-col-reverse md:flex-row items-start md:items-center text-sm mdl:text-base-15">
      <div class="flex gap-15px items-center w-max"><img class="rounded-8px border border-gray" src="../assets/images/global/company-2.png" alt="Company icon" title="Company icon" width="70" height="70"/>
        <div class="flex flex-col gap-0 w-max"><span class="text-textGray text-sm">Company:</span><span class="text-base font-bold">Moro Digital Data Hub</span></div>
      </div>
      <div class="flex flex-col sm:text-right text-sm"><span class="text-textGray">Company Type</span><span class="font-semibold">Channel Partner</span></div>
    </div>
    <p class="text-sm">Moro Digital Data Hub provides IT, digital & data centre solutions in the Middle East. Deploy tomorrow today with our digital & information technology services.</p>
    <div class="divider"></div>
  </div>
  <div class="flex flex-col gap-30px">
    <div class="w-full grid grid-cols-1 sm:grid-cols-3 mdl:grid-cols-4 gap-30px lg:gap-50px">
      <div class="flex flex-col gap-5px w-max"><span class="text-textGray text-sm">Country:</span><span class="text-sm font-bold">United States</span></div>
      <div class="flex flex-col gap-5px w-max"><span class="text-textGray text-sm">Email:</span><span class="text-sm font-bold">info@partnerwebsite.com</span></div>
      <div class="flex flex-col gap-5px w-max"><span class="text-textGray text-sm">Phone:</span><span class="text-sm font-bold">+03 123456789</span></div>
      <div class="flex flex-col gap-5px w-max"><span class="text-textGray text-sm">Website:</span><span class="text-sm font-bold">https://partnerwebsite.com</span></div>
      <div class="flex flex-col gap-5px w-max"><span class="text-textGray text-sm">Employees number:</span><span class="text-sm font-bold">215</span></div>
      <div class="flex flex-col gap-5px w-max"><span class="text-textGray text-sm">Employees range:</span><span class="text-sm font-bold">51-250</span></div>
      <div class="flex flex-col gap-5px w-max"><span class="text-textGray text-sm">Estimated revenue:</span><span class="text-sm font-bold">Not Available</span></div>
      <div class="flex flex-col gap-5px w-max"><span class="text-textGray text-sm">Annual range:</span><span class="text-sm font-bold">$10M-$50M</span></div>
      <div class="flex flex-col gap-5px w-max"><span class="text-textGray text-sm">Founded year:</span><span class="text-sm font-bold">2017</span></div>
      <div class="flex flex-col gap-5px w-max"><span class="text-textGray text-sm">Fund amount:</span><span class="text-sm font-bold">Not Available</span></div>
      <div class="flex flex-col gap-5px w-max"><span class="text-textGray text-sm">Company tags:</span><span class="text-sm font-bold">Technology, Internet, B2B, B2C</span></div>
      <div></div>
      <div class="flex flex-col gap-5px w-max"><span class="text-textGray text-sm">Sector:</span><span class="text-sm font-bold">Information Technology</span></div>
      <div class="flex flex-col gap-5px w-max"><span class="text-textGray text-sm">Industry:</span><span class="text-sm font-bold">Internet Software & Services</span></div>
      <div class="flex flex-col gap-5px w-max"><span class="text-textGray text-sm">Sub industry</span><span class="text-sm font-bold">Internet Software & Services</span></div>
      <div></div>
    </div>
  </div>
</div>