
<div class="card w-full">
  <div class="flex flex-col gap-15px">
    <div class="flex justify-between tabs w-full overflow-hidden flex-col gap-10px md:flex-row items-start md:items-center text-sm mdl:text-base-15">
      <div class="flex gap-15px items-center w-max"><img class="rounded-8px border border-gray" src="../assets/images/users/user-big.png" alt="user image" title="user image" width="70" height="70"/>
        <div class="flex flex-col gap-0 w-max"><span class="text-textGray text-sm">Contact:</span><span class="text-base font-bold">Abdalhadi Widad</span></div>
      </div>
      <div class="flex flex-col sm:text-right text-sm"><span class="text-textGray">Position</span><span class="font-semibold">Marketing Manager</span></div>
    </div>
    <p class="text-sm">Moro Digital Data Hub provides IT, digital & data centre solutions in the Middle East. Deploy tomorrow today with our digital & information technology services.</p>
    <div class="divider"></div>
  </div>
  <div class="flex flex-col gap-30px">
    <div class="w-full grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 mdl:flex gap-30px lg:gap-50px">
      <div class="flex flex-col gap-5px w-max"><span class="text-textGray text-sm">Timezone</span><span class="text-sm font-bold">Asia/Dubai</span></div>
      <div class="flex flex-col gap-5px w-max"><span class="text-textGray text-sm">Country:</span><span class="text-sm font-bold">United States</span></div>
      <div class="flex flex-col gap-5px w-max"><span class="text-textGray text-sm">Email:</span><span class="text-sm font-bold">info@partnerwebsite.com</span></div>
      <div class="flex flex-col gap-5px w-max"><span class="text-textGray text-sm">Phone:</span><span class="text-sm font-bold">+03 123456789</span></div>
      <div class="flex flex-col gap-5px w-max"><span class="text-textGray text-sm">Website:</span><span class="text-sm font-bold">https://partnerwebsite.com</span></div>
    </div>
  </div>
</div>