
<div class="card gap-15px">
  <div class="flex flex-col gap-5px">
    <h2 class="font-inter font-semibold text-lg">Quick Actions</h2>
    <p class="text-textGray text-sm">Add this connection to your matches list and keep it as a potential opportunity.</p>
  </div>
  <div class="flex flex-col gap-15px"><a class="btn border-blue bg-white text-sm w-full justify-center" href="#"><img src="../assets/images/global/elio-icon.svg" alt="Delete Icon" title="Delete Icon" width="17" height="17"/><span>View Elioplus Profile</span></a><a class="btn border-blue bg-blue text-white hover:bg-blueDark text-sm w-full justify-center toast-demo" href="#" data-type="success"><img src="../assets/images/global/add-white.svg" alt="download Icon" title="download Icon" width="17" height="17"/><span>Add to Matches</span></a></div>
</div>