div(class='grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-25px')

    -var type = 'png'
    -var title = 'Logo.png'
    -var vendor = 'Vendor 1'
    include ../../components/content-library/media-item-vendor
    -var type = 'ppt'
    -var title = 'presentation.ptt'
    -var vendor = 'Vendor 2'
    include ../../components/content-library/media-item-vendor
    -var type = 'xls'
    -var title = 'pricing.xls'
    -var vendor = 'Vendor 3'
    include ../../components/content-library/media-item-vendor


    -var type = 'file'
    -var title = 'sales.txt'
    -var vendor = 'Vendor 2'
    include ../../components/content-library/media-item-vendor
    -var type = 'doc'
    -var title = 'product-desc.doc'
    -var vendor = 'Vendor 2'
    include ../../components/content-library/media-item-vendor
    -var type = 'ai'
    -var title = 'graphics.ai'
    -var vendor = 'Vendor 3'
    include ../../components/content-library/media-item-vendor


    -var type = 'jpg'
    -var title = 'account.jpg'
    -var vendor = 'Vendor 1'
    include ../../components/content-library/media-item-vendor
    -var type = 'svg'
    -var title = 'sponsorlogo.svg'
    -var vendor = 'Vendor 2'
    include ../../components/content-library/media-item-vendor
    -var type = 'xls'
    -var title = 'tasks.csv'
    -var vendor = 'Vendor 3'
    include ../../components/content-library/media-item-vendor


