div(class='flex gap-10px w-full py-15px cursor-pointer px-10px transition-colors duration-200 border-b border-gray hover:bg-gray group ')
    div(class='w-[30px] hidden lg:block lg:w-[40px] flex items-start justify-start lg:items-center lg:justify-center')
        <svg class='transition-colors duration-200 fill-blackBlue group-hover:fill-blue' width="30" height="31" viewBox="0 0 30 31" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M29.6658 11.5132C29.3073 11.0079 28.7033 10.7181 28.0086 10.7181H25.3645V7.84257C25.3645 6.7344 24.4629 5.83284 23.3548 5.83284H14.0859C13.6916 5.83284 13.0761 5.52041 12.8436 5.20212L12.1498 4.2532C11.6086 3.51297 10.509 2.95459 9.59193 2.95459H6.38017C5.37064 2.95459 4.35535 3.67244 4.01869 4.62451L3.79784 5.24937C3.69377 5.54377 3.28498 5.83284 2.97266 5.83284H2.00973C0.901552 5.83284 0 6.7344 0 7.84257V25.992C0 26.0882 0.01749 26.18 0.0481248 26.2657C0.0646371 26.6248 0.176313 26.9635 0.379784 27.2503C0.738276 27.7557 1.34228 28.0454 2.03699 28.0454H22.513C23.7508 28.0454 25.0409 27.1303 25.4499 25.9619L29.8688 13.34C30.0982 12.6844 30.0243 12.0186 29.6658 11.5132ZM2.00973 7.46235H2.97266C3.98241 7.46235 4.99759 6.7445 5.33414 5.79243L5.55488 5.16779C5.65906 4.87328 6.06785 4.58421 6.38017 4.58421H9.59183C9.98617 4.58421 10.6016 4.89664 10.8343 5.21493L11.528 6.16374C12.0692 6.90408 13.1688 7.46235 14.0859 7.46235H23.3548C23.5609 7.46235 23.735 7.63649 23.735 7.84257V10.7181H7.53267C6.29479 10.7181 5.00476 11.6332 4.59576 12.8016L1.62951 21.2743V7.84257C1.62951 7.63649 1.80365 7.46235 2.00973 7.46235ZM28.3307 12.8016L23.9118 25.4235C23.73 25.9429 23.0632 26.4159 22.513 26.4159H2.03699C1.87969 26.4159 1.75704 26.3754 1.70892 26.3075C1.66079 26.2396 1.66297 26.1104 1.715 25.9619L6.1339 13.34C6.31575 12.8206 6.98255 12.3476 7.53278 12.3476H28.0087C28.166 12.3476 28.2887 12.3881 28.3369 12.456C28.3849 12.5239 28.3828 12.6531 28.3307 12.8016Z"/>
        </svg>

    div(class='flex flex-col w-full')
        span(class='text-sm lg:text-base-15 font-bold')=title
        div(class='flex-col mdl:flex-row items-start mdl:items-center gap-2px gap-10px').flex
            span(class='text-textGray text-sm')=files
            div(class='hidden mdl:block w-[7px] h-[7px] rounded-full bg-iconGray')
            span(class='text-blue font-semibold text-sm')=vendor


