<!----------- Partner Files Item ------------------------------>
a(href='').card.text-center.justify-center.flex-col.items-center.group
    div(class='w-80px')
        img(src='../assets/images/content-library/'+img)
    div.flex.gap-0.justify-center.flex-col.items-center
        h3(class='group-hover:text-blue font-semibold transition-colors duration-200').text-base=title
        h4.text-sm.text-textGray=files
