div(class='grid grid-cols-1 md:grid-cols-1 lg:grid-cols-4 xl:grid-cols-6 gap-25px')

    -var img = 'company1.png'
    -var title = 'Partner name 1'
    -var files = '7 Files'
    include ../../components/content-library/partner-item

    -var img = 'company2.png'
    -var title = 'Partner name 2'
    -var files = '3 Files'
    include ../../components/content-library/partner-item

    -var img = 'company3.png'
    -var title = 'Partner name 3'
    -var files = '2 Files'
    include ../../components/content-library/partner-item

    -var img = 'company4.png'
    -var title = 'Partner name 4'
    -var files = '1 File'
    include ../../components/content-library/partner-item

    -var img = 'company5.png'
    -var title = 'Partner name 5'
    -var files = '1 File'
    include ../../components/content-library/partner-item

    -var img = 'company6.png'
    -var title = 'Partner name 6'
    -var files = '1 File'
    include ../../components/content-library/partner-item

    -var img = 'company1.png'
    -var title = 'Partner name 1'
    -var files = '7 Files'
    include ../../components/content-library/partner-item

    -var img = 'company2.png'
    -var title = 'Partner name 2'
    -var files = '3 Files'
    include ../../components/content-library/partner-item

    -var img = 'company3.png'
    -var title = 'Partner name 3'
    -var files = '2 Files'
    include ../../components/content-library/partner-item

    -var img = 'company4.png'
    -var title = 'Partner name 4'
    -var files = '1 File'
    include ../../components/content-library/partner-item

    -var img = 'company5.png'
    -var title = 'Partner name 5'
    -var files = '1 File'
    include ../../components/content-library/partner-item

    -var img = 'company6.png'
    -var title = 'Partner name 6'
    -var files = '1 File'
    include ../../components/content-library/partner-item
