div(class='card px-15px lg:px-25px w-full').gap-20px
    .flex.gap-15px.flex-col.w-full

        div(class='flex justify-between w-full overflow-hidden flex-row items-center')

            h2(class='font-inter font-bold text-base lg:text-2xl') Groups

            a(href='#createGroupModal' class='text-sm font-semibold text-blue flex gap-3px modal-trigger')
                img(src="../assets/images/global/add-blue.svg" alt="upload Icon" title="upload Icon" width="17" height="17")
                span Add Group

        .divider

    div(class='card-filter w-full rounded-30px')
        input(placeholder="Filter by name, email, country, region").grow.text-sm.outline-none
        img(src="../assets/images/global/search.svg" alt="Filters Icon" title="Filters Icon" width="15" height="15")

    div.flex.flex-col.w-full
        -var text1 = 'Europe Resellers'
        -var text2 = '15 Partners'
        include ../../components/collaboration/group-item
        -var text1 = 'Middle East'
        -var text2 = '11 Partners'
        include ../../components/collaboration/group-item
        -var text1 = 'VARs'
        -var text2 = '7 Partners'
        include ../../components/collaboration/group-item
        -var text1 = 'North America'
        -var text2 = '22 Partners'
        include ../../components/collaboration/group-item
        -var text1 = 'Asia Pacific'
        -var text2 = '9 Partners'
        include ../../components/collaboration/group-item
        -var text1 = 'Product 1'
        -var text2 = '3 Partners'
        include ../../components/collaboration/group-item

