div(class='card px-15px lg:px-25px').gap-10px

    .flex.gap-15px.flex-col.w-full

        div(class='flex justify-between tabs w-full overflow-hidden items-center')

            h2(class='font-inter font-bold text-base lg:text-2xl') Folders

            a(href='#createFolderModal' class='text-sm font-semibold text-blue flex gap-3px modal-trigger')
                img(src="../assets/images/global/add-blue.svg" alt="upload Icon" title="upload Icon" width="17" height="17")
                span Add Folder

        .divider

    div.flex.flex-col.w-full

        a(href='#' class='hover:text-blue w-max flex md:hidden').items-center.gap-5px.text-textGray.font-semibold.text-base-15.trigger-folders
            img(src="../assets/images/global/folder.svg" alt="folder Icon" title="folder Icon" width="15" height="15")
            span(class='text-sm sm:text-base-15') Show Folders:

        div(class="flex hidden md:flex").flex-col.w-full.folders
            -var title='All Files'
            -var files='7 Files'
            -var vendor='Vendor 1'
            include ../../components/content-library/folder-item

            -var title='Documentation (PDF)'
            -var files='7 Files'
            -var vendor='Vendor 1'
            include ../../components/content-library/folder-item

            -var title='Email Templates'
            -var files='2 Files'
            -var vendor='Vendor 2'
            include ../../components/content-library/folder-item

            -var title='Marketing Material'
            -var files='7 Files'
            -var vendor='Vendor 1'
            include ../../components/content-library/folder-item

            -var title='Sales Material'
            -var files='17 Files'
            -var vendor='Vendor 1'
            include ../../components/content-library/folder-item

            -var title='New Campaign'
            -var files='12 Files'
            -var vendor='Vendor 1'
            include ../../components/content-library/folder-item

            -var title='Newsletter Issue'
            -var files='1 File'
            -var vendor='Vendor 1'
            include ../../components/content-library/folder-item

            -var title='Product Updates'
            -var files='1 File'
            -var vendor='Vendor 1'
            include ../../components/content-library/folder-item


        a(href='#createFolderModal' class='btn hidden lg:flex border-blue bg-blue text-white hover:bg-blueDark text-sm w-full justify-center modal-trigger')
            img(src="../assets/images/global/add-white.svg" alt="Add Icon" title="Add Icon" width="17" height="17")
            span Add New Folder
