doctype html
html(lang="en")
    head
        - var title = 'Alerts & Notification Messages | Elioplus'
        include components/head.pug
    body.text-blackBlue.overflow-x-hidden.bg-gray2
        include components/header/menu-channel-partner.pug
        main
            - var breadcrumbsParent = 'Partner Management'
            - var breadcrumbsCurrent = 'Deal Registration'
            include components/header/header-channel-partner.pug
            div(id="dashboardPage" class='py-50px lg:py-80px w-full')
                .container
                    div(id="dashboardPageContent" class='w-full flex flex-col gap-60px')

                        <!----------- Content Start ------------------------------>

                        - var title = 'Alerts & Notification Messages'
                        include components/text-block.pug

                        .flex.gap-15px
                            a(href='#' class='btn border-blue hover:text-blue toast-demo' data-type='simple') Simple Alert
                            a(href='#' class='btn border-blue hover:text-blue toast-demo' data-type='info') Information Alert
                            a(href='#' class='btn border-blue hover:text-blue toast-demo' data-type='success') Success Alert
                            a(href='#' class='btn border-blue hover:text-blue toast-demo' data-type='warning') Warning Alert
                            a(href='#' class='btn border-blue hover:text-blue toast-demo' data-type='error') Error Alert


                        .grid.grid-cols-2.gap-60px

                            div.flex.flex-col.gap-30px

                                div(class='card bg-blue text-white gap-15px')
                                    div(class='flex items-center gap-5px')
                                        img(src="../assets/images/alerts/info-white.svg" alt="Quick Actions Icon" title="Click to toggle the quick actions menu" width="20" height="20")
                                        h3(class='font-bold text-base text-white') Information Message Title here
                                    p.text-sm.text-white Lorem ipsum dolor sit amet, consectetur adipiscing elit. Turpis vitae ultrices in sed. Feugiat metus amet, id sed volutpat enim sed. Cras vel vitae, lectus id. Egestas quam auctor commodo porttitor netus risus enim. Nec mi neque malesuada aenean euismod est lorem.

                                div(class='card bg-green text-white gap-15px')
                                    div(class='flex items-center gap-5px')
                                        img(src="../assets/images/alerts/success-white.svg" alt="Quick Actions Icon" title="Click to toggle the quick actions menu" width="20" height="20")
                                        h3(class='font-bold text-base text-white') Success Message Title here
                                    p.text-sm.text-white Lorem ipsum dolor sit amet, consectetur adipiscing elit. Turpis vitae ultrices in sed. Feugiat metus amet, id sed volutpat enim sed. Cras vel vitae, lectus id. Egestas quam auctor commodo porttitor netus risus enim. Nec mi neque malesuada aenean euismod est lorem.

                                div(class='card bg-yellow text-white gap-15px')
                                    div(class='flex items-center gap-5px')
                                        img(src="../assets/images/alerts/warning-white.svg" alt="Quick Actions Icon" title="Click to toggle the quick actions menu" width="20" height="20")
                                        h3(class='font-bold text-base text-white') Warning Message Title here
                                    p.text-sm.text-white Lorem ipsum dolor sit amet, consectetur adipiscing elit. Turpis vitae ultrices in sed. Feugiat metus amet, id sed volutpat enim sed. Cras vel vitae, lectus id. Egestas quam auctor commodo porttitor netus risus enim. Nec mi neque malesuada aenean euismod est lorem.

                                div(class='card bg-red text-white gap-15px')
                                    div(class='flex items-center gap-5px')
                                        img(src="../assets/images/alerts/error-white.svg" alt="Quick Actions Icon" title="Click to toggle the quick actions menu" width="20" height="20")
                                        h3(class='font-bold text-base text-white') Error Message Title here
                                    p.text-sm.text-white Lorem ipsum dolor sit amet, consectetur adipiscing elit. Turpis vitae ultrices in sed. Feugiat metus amet, id sed volutpat enim sed. Cras vel vitae, lectus id. Egestas quam auctor commodo porttitor netus risus enim. Nec mi neque malesuada aenean euismod est lorem.



                            div.flex.flex-col.gap-30px

                                div(class='card border-2 border-blue gap-15px')
                                    div(class='flex items-center gap-5px')
                                        img(src="../assets/images/alerts/info.svg" alt="Quick Actions Icon" title="Click to toggle the quick actions menu" width="20" height="20")
                                        h3(class='font-bold text-base text-blackBlue') Information Message Title here
                                    p.text-sm.text-textGray Lorem ipsum dolor sit amet, consectetur adipiscing elit. Turpis vitae ultrices in sed. Feugiat metus amet, id sed volutpat enim sed. Cras vel vitae, lectus id. Egestas quam auctor commodo porttitor netus risus enim. Nec mi neque malesuada aenean euismod est lorem.

                                div(class='card border-2 border-green gap-15px')
                                    div(class='flex items-center gap-5px')
                                        img(src="../assets/images/alerts/success.svg" alt="Quick Actions Icon" title="Click to toggle the quick actions menu" width="20" height="20")
                                        h3(class='font-bold text-base text-blackBlue') Success Message Title here
                                    p.text-sm.text-textGray Lorem ipsum dolor sit amet, consectetur adipiscing elit. Turpis vitae ultrices in sed. Feugiat metus amet, id sed volutpat enim sed. Cras vel vitae, lectus id. Egestas quam auctor commodo porttitor netus risus enim. Nec mi neque malesuada aenean euismod est lorem.

                                div(class='card border-2 border-yellow gap-15px')
                                    div(class='flex items-center gap-5px')
                                        img(src="../assets/images/alerts/warning.svg" alt="Quick Actions Icon" title="Click to toggle the quick actions menu" width="20" height="20")
                                        h3(class='font-bold text-base text-blackBlue') Warning Message Title here
                                    p.text-sm.text-textGray Lorem ipsum dolor sit amet, consectetur adipiscing elit. Turpis vitae ultrices in sed. Feugiat metus amet, id sed volutpat enim sed. Cras vel vitae, lectus id. Egestas quam auctor commodo porttitor netus risus enim. Nec mi neque malesuada aenean euismod est lorem.

                                div(class='card border-2 border-red gap-15px')
                                    div(class='flex items-center gap-5px')
                                        img(src="../assets/images/alerts/error.svg" alt="Quick Actions Icon" title="Click to toggle the quick actions menu" width="20" height="20")
                                        h3(class='font-bold text-base text-blackBlue') Error Message Title here
                                    p.text-sm.text-textGray Lorem ipsum dolor sit amet, consectetur adipiscing elit. Turpis vitae ultrices in sed. Feugiat metus amet, id sed volutpat enim sed. Cras vel vitae, lectus id. Egestas quam auctor commodo porttitor netus risus enim. Nec mi neque malesuada aenean euismod est lorem.




            include components/footer/footer.pug
        include components/scripts.pug
