doctype html
html(lang="en")
    head
        - var title = 'Channel Partner Dashboard | Elioplus'
        include components/head.pug
    body.text-blackBlue.overflow-x-hidden.bg-gray2
        include components/header/menu-channel-partner.pug
        main
            // - var breadcrumbsParent = 'Partner Management'
            // - var breadcrumbsCurrent = 'Deal Registration'
            include components/header/header-channel-partner.pug
            div(id="dashboardPage" class='py-50px lg:py-80px w-full')
                .container
                    div(id="dashboardPageContent" class='w-full flex flex-col gap-60px')

                        <!----------- Content Start ------------------------------>

                        - var title = 'Good Morning, Giannis'
                        include components/text-block.pug

                        div(class='grid grid-cols-1 lg:grid-cols-2 xl:grid-cols-8-4 gap-30px')
                            div.flex.flex-col.gap-30px
                                include components/cards/card-dashboard-feed
                            div.flex.flex-col.gap-30px

                                include components/cards/card-dashboard-intent-signals
                                div(class='w-full grid grid-cols-1 md:grid-cols-2 lg:grid-cols-1 gap-30px')
                                    include components/cards/card-dashboard-deals-overview
                                    include components/cards/card-dashboard-leads-overview
                                div(class='w-full grid grid-cols-1 md:grid-cols-2 lg:grid-cols-1 gap-30px')
                                    include components/cards/card-dashboard-new-partners
                                    div.flex.flex-col.gap-30px
                                        include components/cards/card-dashboard-invitations
                                        include components/cards/card-dashboard-team




                        <!----------- Content End ------------------------------>

            include components/footer/footer.pug
        include components/scripts.pug
