doctype html
html(lang="en")
    head
        - var title = 'Leads & RFQs | Intent Signals | Elioplus'
        include components/head.pug
    body.text-blackBlue.overflow-x-hidden.bg-gray2
        include components/header/menu-channel-partner.pug
        main
            - var breadcrumbsParent = 'Intent Signals'
            - var breadcrumbsCurrent = 'Leads & RFQs'
            include components/header/header-channel-partner.pug
            div(id="dashboardPage" class='py-50px lg:py-80px w-full')
                .container
                    div(id="dashboardPageContent" class='w-full flex flex-col gap-60px')

                        <!----------- Content Start ------------------------------>

                        - var title = 'Leads & RFQs'
                        - var desc = 'We provide you with a number of channel partners that exact match your selected criteria. We start providing you the best matches directly in your dashboard along with contact details from each company and more than 30 attributes about the company and the contact person.'
                        - var btn = 'Read more about Leads & RFQs'
                        include components/text-block.pug

                        include components/cards/card-intent-signals


                        <!----------- Content End ------------------------------>

            include components/footer/footer.pug
        include components/scripts.pug
