doctype html
html(lang="en")
    head
        - var title = 'Partner Directory | Partner Management | Elioplus'
        include components/head.pug
    body.text-blackBlue.overflow-x-hidden.bg-gray2
        include components/header/menu-channel-partner.pug
        main
            - var breadcrumbsParent = 'Partner Management'
            - var breadcrumbsCurrent = 'Partner Directory'
            include components/header/header-channel-partner.pug
            div(id="dashboardPage" class='py-50px lg:py-80px w-full')
                .container
                    div(id="dashboardPageContent" class='w-full flex flex-col gap-60px')

                        <!----------- Content Start ------------------------------>

                        - var title = 'Partner Directory'
                        - var desc = 'Deal registration is a feature that must be included in a Partner Relationship Management software. It is the feature that a channel partner is using in order to avoid any conflict with you or your channel partners when they are trying to close a deal.'
                        - var btn = 'Read more about the Partner Directory'
                        include components/text-block.pug

                        include components/cards/card-manage-partners-channel-partner


                        <!----------- Content End ------------------------------>

            include components/footer/footer.pug
        include components/scripts.pug
