doctype html
html(lang="en")
    head
        - var title = 'Vendor Dashboard | Elioplus'
        include components/head.pug
    body.text-blackBlue.overflow-x-hidden.bg-gray2
        include components/header/header.pug
        main
            h1 Dashboard
