doctype html
html(lang="en")
    head
        - var title = 'Vendor Dashboard | Elioplus'
        include components/head.pug
    body.text-blackBlue.overflow-x-hidden.bg-gray2
        include components/header/menu-vendor.pug
        main
            // - var breadcrumbsParent = 'Partner Management'
            // - var breadcrumbsCurrent = 'Analytics'
            include components/header/header-vendor
            div(id="dashboardPage" class='py-50px lg:py-80px w-full')
                .container
                    div(id="dashboardPageContent" class='w-full flex flex-col gap-60px')

                        <!----------- Content Start ------------------------------>

                        - var title = 'Good Morning, Giannis'
                        include components/text-block.pug

                        div(class='grid grid-cols-1 lg:grid-cols-2 xl:grid-cols-8-4 gap-30px')
                            div.w-full
                                div.flex.flex-col.gap-20px.w-full
                                    include components/cards/card-post-feed
                                    include components/cards/card-dashboard-feed
                            div.w-full
                                div.flex.flex-col.gap-20px
                                    include components/cards/card-dashboard-messages
                                    div(class='w-full grid grid-cols-1 md:grid-cols-2 lg:grid-cols-1 gap-30px')
                                        include components/cards/card-dashboard-prm
                                        include components/cards/card-dashboard-pr
                                    div(class='w-full grid grid-cols-1 mdl:grid-cols-2 lg:grid-cols-1 gap-30px')
                                        include components/cards/card-dashboard-deals-overview
                                        include components/cards/card-dashboard-leads-overview
                                    div(class='w-full grid grid-cols-1 md:grid-cols-2 lg:grid-cols-1 gap-30px')
                                        include components/cards/card-dashboard-invitations
                                        include components/cards/card-dashboard-team


                        <!----------- Content End ------------------------------>

            include components/footer/footer.pug
        include components/scripts.pug
