doctype html
html(lang="en")
    head
        - var title = 'My Matches | Partner Recruitment Automate | Elioplus'
        include components/head.pug
    body.text-blackBlue.overflow-x-hidden.bg-gray2
        include components/header/menu-vendor.pug
        main
            - var breadcrumbsParent = 'Partner Recruitment'
            - var breadcrumbsCurrent = 'My Matches'
            include components/header/header-vendor
            div(id="dashboardPage" class='py-50px lg:py-80px w-full')
                .container
                    div(id="dashboardPageContent" class='w-full flex flex-col gap-60px')

                        <!----------- Content Start ------------------------------>

                        - var title = 'Matching Criteria'
                        - var btn = 'Back to My Matches'
                        include components/text-block.pug

                        div(id='steps' class='px-10px lg:px-25px').flex.items-center.justify-between.w-full.relative
                            a(id='triggerStep1' href='#step1').stepTab.flex.flex-col.gap-10px.items-center.justify-center.text-center.relative.z-2.active
                                div(class='w-[30px] h-[30px] ').rounded-full.border-2.border-blue.bg-white.circle
                                h4(class='text-sm lg:text-base').font-semibold.text-textGray Company Information
                            a(id='triggerStep2' href='#step2').stepTab.flex.flex-col.gap-10px.items-center.justify-center.text-center.relative.z-2
                                div(class='w-[30px] h-[30px] ').rounded-full.border-2.border-blue.bg-white.circle
                                h4(class='text-sm lg:text-base').font-semibold.text-textGray Business Interests
                            a(id='triggerStep3' href='#step3').stepTab.flex.flex-col.gap-10px.items-center.justify-center.text-center.relative.z-2
                                div(class='w-[30px] h-[30px] ').rounded-full.border-2.border-blue.bg-white.circle
                                h4(class='text-sm lg:text-base').font-semibold.text-textGray Industry Products
                            a(id='triggerStep4' href='#step4').stepTab.flex.flex-col.gap-10px.items-center.justify-center.text-center.relative.z-2
                                div(class='w-[30px] h-[30px] ').rounded-full.border-2.border-blue.bg-white.circle
                                h4(class='text-sm lg:text-base').font-semibold.text-textGray Profile Descriptions


                        <!----------- Content End ------------------------------>

            include components/footer/footer.pug
        include components/scripts.pug
