doctype html
html(lang="en")
    head
        - var title = 'My Matches | Partner Recruitment Automate | Elioplus'
        include components/head.pug
    body.text-blackBlue.overflow-x-hidden.bg-gray2
        include components/header/menu-vendor.pug
        main
            - var breadcrumbsParent = 'Partner Recruitment'
            - var breadcrumbsCurrent = 'My Matches'
            include components/header/header-vendor
            div(id="dashboardPage" class='py-50px lg:py-80px w-full')
                .container
                    div(id="dashboardPageContent" class='w-full flex flex-col gap-60px')

                        <!----------- Content Start ------------------------------>

                        - var title = 'Viewing Connection'
                        - var btn = 'Back to My Matches'
                        include components/text-block.pug

                        div(class='grid grid-cols-9-3 gap-30px')
                            div.flex.flex-col.gap-25px
                                include components/connection/contact
                                include components/connection/company
                                include components/connection/employees
                            div
                                div.sticky.top-80px
                                    include components/connection/quick-actions


                        <!----------- Content End ------------------------------>

            include components/footer/footer.pug
        include components/scripts.pug
