doctype html
html(lang="en")
    head
        - var title = 'Active Partners | Analytics | Partner Management | Elioplus'
        include components/head.pug
    body.text-blackBlue.overflow-x-hidden.bg-gray2
        include components/header/menu-vendor.pug
        main
            - var breadcrumbsParent = 'Partner Management'
            - var breadcrumbsCurrent = 'Analytics'
            include components/header/header-vendor
            div(id="dashboardPage" class='py-50px lg:py-80px w-full')
                .container
                    div(id="dashboardPageContent" class='w-full flex flex-col gap-60px')

                        <!----------- Content Start ------------------------------>

                        - var title = 'Analytics'

                        include components/text-block.pug

                        include components/cards/card-active-partners


                        <!----------- Content End ------------------------------>

            include components/footer/footer.pug
        include components/scripts.pug
