doctype html
html(lang="en")
    head
        - var title = 'Messages | Partner Recruitment | Elioplus'
        include components/head.pug
    body.text-blackBlue.overflow-x-hidden.bg-gray2
        include components/header/menu-vendor.pug
        main
            - var breadcrumbsParent = 'Partner Recruitment'
            - var breadcrumbsCurrent = 'Messages'
            include components/header/header-vendor
            div(id="dashboardPage" class='py-50px lg:py-80px w-full')
                .container
                    div(id="dashboardPageContent" class='w-full flex flex-col gap-60px')

                        <!----------- Content Start ------------------------------>

                        - var title = 'Messages'
                        - var desc = 'Connect your CRM system with Elioplus PRM to automatically transfer data between your channel partners and your company in order to eliminate manual processes and critical errors. The Elioplus PRM integration with your CRM can help transfer data for the Deal Registration and Lead Distribution features.'
                        include components/text-block.pug

                        div(class='grid grid-col-1 md:grid-cols-3-9 w-full gap-30px')
                            div
                                include components/content-library/channel-partner-folders

                            div.w-full
                                div.flex.flex-col.gap-50px.w-full
                                    include components/cards/card-resources-files
                                    include components/content-library/channel-partner-media-items


                        <!----------- Content End ------------------------------>

            include components/footer/footer.pug
        include components/scripts.pug
