doctype html
html(lang="en")
    head
        - var title = 'Payouts | Partner Directory | Partner Management | Elioplus'
        include components/head.pug
    body.text-blackBlue.overflow-x-hidden.bg-gray2
        include components/header/menu-vendor.pug
        main
            - var breadcrumbsParent = 'Partner Management'
            - var breadcrumbsCurrent = 'Payouts'
            include components/header/header-vendor
            div(id="dashboardPage" class='py-50px lg:py-80px w-full')
                .container
                    div(id="dashboardPageContent" class='w-full flex flex-col gap-60px')

                        <!----------- Content Start ------------------------------>

                        - var title = 'Payouts'
                        - var desc = 'Billing, payment, credit card information and your transaction history.'
                        - var btn = 'Read more about Payouts'
                        include components/text-block.pug

                        div(class='tabs-section flex flex-col gap-30px')
                            div(class='flex justify-between tabs w-full overflow-hidden flex-col-reverse md:flex-row items-start md:items-center text-sm mdl:text-base-15')

                                div(class='flex items-start text-textGray font-semibold gap-20px pt-0 sm:pt-10px')
                                    a(href='#paymentsCommissions' class='tab-item active') Payments & Commissions
                                    a(href='#payoutSettings' class='tab-item') Payout Settings
                                    a(href='#feesTerms' class='tab-item') Fees & Terms


                            div(id='paymentsCommissions' class='tab-content')
                                include components/cards/card-comissions
                            div(id='payoutSettings' class='tab-content hidden')

                                div(class='card')

                                    <!----------- Title Start ------------------------------>
                                    .w-full.flex.flex-col.gap-15px
                                        h2(class='font-inter font-bold text-2xl') Payout Settings
                                        .divider
                                    <!----------- Title End ------------------------------>

                                    div(class='w-full grid grid-cols-1 lg:grid-cols-3 gap-30px')


                                        - var title = 'Payment Method:'
                                        - var desc = 'Some description about this setting which is more or less the same length as this one which is around 113 chars.'
                                        - var inputName = 'deal_available_for'
                                        - var options = ['Manual', 'Automatic']
                                        include components/form/form-radio

                                        - var title = 'Payments after (days):'
                                        - var desc = 'Some description about this setting which is more or less the same length as this one which is around 113 chars.'
                                        - var label = 'Select number of days:'
                                        - var options = ['30 days', '10 days', '60 days']
                                        include components/form/form-select


                                    div(class='w-full grid grid-cols-1 lg:grid-cols-3 gap-30px')


                                        - var title = 'Payment Notifications:'
                                        - var desc = 'Some description about this setting which is more or less the same length as this one which is around 113 chars.'
                                        - var inputName = 'annual_sales'
                                        - var label = 'Toggle to enable'
                                        include components/form/form-toggle


                                    div(class='w-full grid grid-cols-1 lg:grid-cols-3 gap-30px')


                                        - var title = 'First Notification Before:'
                                        - var desc = 'Some description about this setting which is more or less the same length as this one which is around 113 chars.'
                                        - var label = 'Select number of days:'
                                        - var options = ['5 days', '2 days', '1 day']
                                        include components/form/form-select

                                        - var title = 'Second Notification Before:'
                                        - var desc = 'Some description about this setting which is more or less the same length as this one which is around 113 chars.'
                                        - var label = 'Select number of days:'
                                        - var options = ['2 days', '5 days', '1 day']
                                        include components/form/form-select


                                    a(href='#' class='btn bg-blue border-blue text-white hover:bg-blueDark') Save Changes


                            div(id='feesTerms' class='tab-content hidden')
                                include components/cards/card-fees




                        <!----------- Content End ------------------------------>

            include components/footer/footer.pug
        include components/scripts.pug
