doctype html
html(lang="en")
    head
        - var title = 'Messages | Partner Recruitment | Elioplus'
        include components/head.pug
    body.text-blackBlue.overflow-x-hidden.bg-gray2
        include components/header/menu-vendor.pug
        main
            - var breadcrumbsParent = 'Partner Recruitment'
            - var breadcrumbsCurrent = 'Messages'
            include components/header/header-vendor
            div(id="dashboardPage" class='py-50px lg:py-80px w-full')
                .container
                    div(id="dashboardPageContent" class='w-full flex flex-col gap-60px')

                        <!----------- Content Start ------------------------------>

                        - var title = 'Messages'
                        - var desc = 'Connect your CRM system with Elioplus PRM to automatically transfer data between your channel partners and your company in order to eliminate manual processes and critical errors. The Elioplus PRM integration with your CRM can help transfer data for the Deal Registration and Lead Distribution features.'
                        include components/text-block.pug

                        div(class='grid grid-col-1 md:grid-cols-3-9 w-full gap-30px')
                            div
                                include components/cards/card-your-messages

                            div.w-full
                                div.flex.flex-col.gap-50px.w-full
                                    include components/cards/card-inbox


                        <!----------- Content End ------------------------------>


            include components/footer/footer.pug

        div(id='overlay' class='fixed top-0 right-0 h-screen w-screen hidden z-20 bg-transparent')
        div( id='modalNewMessage' class='modal hidden w-[600px] p-30px flex flex-col gap-20px')
            .flex.gap-15px.flex-col.w-full
                h2(class='font-inter font-bold text-2xl') Your messages
                .divider

            form.w-full.flex.flex-col.gap-20px
                - var title = 'To:'
                - var desc = 'Start typing the name of the company that you want to contact.'
                - var placeholder = 'Enter an email address or company name...'
                include components/form/form-input

                - var title = 'Subject:'
                - var desc = null
                - var placeholder = 'Type a subject for your message...'
                include components/form/form-input

                - var title = 'Your message:'
                - var desc = null
                - var placeholder = 'Type your message here...'
                include components/form/form-textarea

                div(class='flex w-full justify-end gap-20px')
                    a(href='#' id='triggerClose' class='btn text-blackBlue border-blackBlue hover:border-blue hover:text-blue h-[40px] text-center justify-center px-25px')
                        h4(class='text-sm font-semibold') Cancel
                    button(type='submit' class='btn bg-blue text-white hover:bg-darkBlue justify-center h-[40px] items-center')
                        h4(class='text-sm font-semibold') Send message
                        img( src='../assets/images/global/send-white.svg' alt='location icon' loading='lazy' width="20" height="20")

        include components/scripts.pug
